workflows/_envio_massa__acionador_campanha_2026-03-19_19-08-06.json
{
  "updatedAt": "2026-01-15T20:24:43.396Z",
  "createdAt": "2026-01-15T16:32:28.680Z",
  "id": "raaQZRInwjUDk5IRlf6qZ",
  "name": "[Envio-Massa] Acionador Campanha",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-campaign-d62428cc-0ec4-47af-8c00-aa3732e84378",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        -80
      ],
      "id": "d641fd2a-947e-434e-8234-4ccee8f76eab",
      "name": "Webhook",
      "webhookId": "d62428cc-0ec4-47af-8c00-aa3732e84378"
    },
    {
      "parameters": {
        "content": "## CAMPANHA",
        "height": 80,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        -176
      ],
      "id": "50133384-2faa-41d3-a008-ea330785d8d0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## CAMPANHA",
        "height": 80,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        368,
        -176
      ],
      "id": "156fce3c-67da-4316-ba9c-fe9cf982067d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        64
      ],
      "id": "87b3b30c-eea0-47b8-8336-49b0f59d11bb",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        64,
        64
      ],
      "id": "781071b9-8eb4-4f2d-8b97-199250290dfe",
      "name": "ENVIAR NOTA COM ERRO OCORRIDO",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE campaigns\nSET status = 'ready',\n    trigger_source = :trigger_source,\n    trigger_ref = :trigger_ref,\n    triggered_at = NOW(),\n    updated_at = NOW()\nWHERE id = :campaign_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        256,
        64
      ],
      "id": "407a984d-76c1-4e79-809f-0fc6da908e53",
      "name": "Marcar como envio falho",
      "credentials": {
        "postgres": {
          "id": "mXJt3ouMM8ODCrgl",
          "name": "[Utilitario] - EnvioMensagens"
        }
      }
    },
    {
      "parameters": {
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"ok\",\n  \"message\": \"🚀 Execução da campanha iniciada com sucesso\",\n  \"campaign_run_id\": \"{{ $json.id }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        -80
      ],
      "id": "b3bf3ed1-7250-4b28-9c56-9d0eeafbd00d",
      "name": "Responde Acionador",
      "disabled": true
    },
    {
      "parameters": {
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"campaign_run_id\": \"{{ $json.id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        -80
      ],
      "id": "a75071fe-42be-4cf2-9ae5-d312657281a3",
      "name": "Chamar Mensageiro",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO campaign_runs (\n    campaign_id,\n    status,\n    trigger_source,\n    trigger_ref,\n    started_at\n) VALUES (\n    $1,\n    'running',\n    $2,\n    'triggerRef',\n    NOW()\n)\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ $json.id }}, {{ $('Webhook').item.json.body.event }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        -80
      ],
      "id": "b4815a80-fa2a-4543-9e88-00a758addc51",
      "name": "Gravar Campaign Run",
      "credentials": {
        "postgres": {
          "id": "mXJt3ouMM8ODCrgl",
          "name": "[Utilitario] - EnvioMensagens"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, send_interval_seconds\nFROM campaigns\nWHERE slug = $1;",
        "options": {
          "queryReplacement": "={{ $json.query.campaign_name }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        32,
        -80
      ],
      "id": "1ee0ab4b-0d57-4e63-8013-ba4564f2a590",
      "name": "Select Campanha Válida",
      "credentials": {
        "postgres": {
          "id": "mXJt3ouMM8ODCrgl",
          "name": "[Utilitario] - EnvioMensagens"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Select Campanha Válida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "ENVIAR NOTA COM ERRO OCORRIDO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENVIAR NOTA COM ERRO OCORRIDO": {
      "main": [
        [
          {
            "node": "Marcar como envio falho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responde Acionador": {
      "main": [
        [
          {
            "node": "Chamar Mensageiro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar Campaign Run": {
      "main": [
        [
          {
            "node": "Responde Acionador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Campanha Válida": {
      "main": [
        [
          {
            "node": "Gravar Campaign Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-aplictech-editor.aplicgo.com",
            "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34",
            "content-length": "4919",
            "accept": "application/json",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n-aplictech-editor.aplicgo.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "6215c90acf9b",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {
            "campaign_name": "take_19_01"
          },
          "body": {
            "additional_attributes": {},
            "can_reply": true,
            "channel": "Channel::Api",
            "contact_inbox": {
              "id": 8361,
              "contact_id": 4014,
              "inbox_id": 10,
              "source_id": "dfd75dc5-da98-4a16-a82b-c0825a1e727f",
              "created_at": "2025-12-04T13:28:43.215Z",
              "updated_at": "2025-12-04T13:28:43.215Z",
              "hmac_verified": false,
              "pubsub_token": "78fRm9AMKwxqA8wfCMdhaLyM"
            },
            "id": 5742,
            "inbox_id": 10,
            "messages": [
              {
                "id": 132294,
                "content": "Show, uma pergunta. Eu estou te treinando e gostaria de saber exatamente em que ponto e como você conseguiu estas informações do club aplic",
                "account_id": 1,
                "inbox_id": 10,
                "conversation_id": 5742,
                "message_type": 0,
                "created_at": 1768407526,
                "updated_at": "2026-01-14T16:18:46.838Z",
                "private": false,
                "status": "sent",
                "source_id": "WAID:3EB02E90C2787842DDDD75",
                "content_type": "text",
                "content_attributes": {},
                "sender_type": "Contact",
                "sender_id": 4014,
                "external_source_ids": {},
                "additional_attributes": {},
                "processed_message_content": "Show, uma pergunta. Eu estou te treinando e gostaria de saber exatamente em que ponto e como você conseguiu estas informações do club aplic",
                "sentiment": {},
                "conversation": {
                  "assignee_id": 1,
                  "unread_count": 0,
                  "last_activity_at": 1768501581,
                  "contact_inbox": {
                    "source_id": "dfd75dc5-da98-4a16-a82b-c0825a1e727f"
                  }
                },
                "sender": {
                  "additional_attributes": {
                    "city": "",
                    "country": "",
                    "description": "",
                    "company_name": "",
                    "country_code": "",
                    "avatar_url_hash": "225eafe5313a8227e4fe1dae733ecc22e6a66f5d9bd64b15c6c08c9f801dda66",
                    "social_profiles": {
                      "github": "",
                      "twitter": "",
                      "facebook": "",
                      "linkedin": "",
                      "instagram": ""
                    },
                    "last_avatar_sync_at": "2025-11-07T18:46:49Z"
                  },
                  "custom_attributes": {
                    "lead_id": "1d7152bf-3695-4101-85a2-6ee9438eb227",
                    "data_de_follow_up": "2025-01-10T03:00:00.000Z"
                  },
                  "email": "jesreeldavidhobusteste@gmail.com",
                  "id": 4014,
                  "identifier": "554599083422@s.whatsapp.net",
                  "name": "Jesreel David Hobus",
                  "phone_number": "+554599083422",
                  "thumbnail": "https://chat.aplicgo.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBc0FFIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--4233fce95856888e0b27e8dfca225ad4ef9ef2ff/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNIYVFINk1BPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--2f70e2580cf4150f8212e56cd3c53e9ec1e34e73/190474811a1f080ebdbee1457580cee9.jpeg",
                  "blocked": false,
                  "type": "contact"
                }
              }
            ],
            "labels": [
              "1-lead-novo",
              "5-atendimento-humano"
            ],
            "meta": {
              "sender": {
                "additional_attributes": {
                  "city": "",
                  "country": "",
                  "description": "",
                  "company_name": "",
                  "country_code": "",
                  "avatar_url_hash": "225eafe5313a8227e4fe1dae733ecc22e6a66f5d9bd64b15c6c08c9f801dda66",
                  "social_profiles": {
                    "github": "",
                    "twitter": "",
                    "facebook": "",
                    "linkedin": "",
                    "instagram": ""
                  },
                  "last_avatar_sync_at": "2025-11-07T18:46:49Z"
                },
                "custom_attributes": {
                  "lead_id": "1d7152bf-3695-4101-85a2-6ee9438eb227",
                  "data_de_follow_up": "2025-01-10T03:00:00.000Z"
                },
                "email": "jesreeldavidhobusteste@gmail.com",
                "id": 4014,
                "identifier": "554599083422@s.whatsapp.net",
                "name": "Jesreel David Hobus",
                "phone_number": "+554599083422",
                "thumbnail": "https://chat.aplicgo.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBc0FFIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--4233fce95856888e0b27e8dfca225ad4ef9ef2ff/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNIYVFINk1BPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--2f70e2580cf4150f8212e56cd3c53e9ec1e34e73/190474811a1f080ebdbee1457580cee9.jpeg",
                "blocked": false,
                "type": "contact"
              },
              "assignee": {
                "id": 1,
                "name": "Aplic&Go",
                "available_name": "Agente Aplic",
                "avatar_url": "https://chat.aplicgo.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbnNCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--c378512699e4ec402bdb3e0ae963bbf5f4583913/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--0c83a1d92c01cbfff088fbcaaec8811e9924674e/491895448_17978524064831348_7639650953843940787_n.jpg",
                "type": "user",
                "availability_status": null,
                "thumbnail": "https://chat.aplicgo.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbnNCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--c378512699e4ec402bdb3e0ae963bbf5f4583913/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--0c83a1d92c01cbfff088fbcaaec8811e9924674e/491895448_17978524064831348_7639650953843940787_n.jpg"
              },
              "assignee_type": "User",
              "team": {
                "id": 1,
                "name": "comercial"
              },
              "hmac_verified": false
            },
            "status": "open",
            "custom_attributes": {},
            "snoozed_until": null,
            "unread_count": 0,
            "first_reply_created_at": "2025-12-04T19:46:47.511Z",
            "priority": null,
            "waiting_since": 1768311112,
            "agent_last_seen_at": 1768501436,
            "contact_last_seen_at": 0,
            "last_activity_at": 1768501581,
            "timestamp": 1768501581,
            "created_at": 1764854923,
            "updated_at": 1768501581.2804146,
            "event": "macro.executed"
          },
          "webhookUrl": "https://n8n-aplictech-editor.aplicgo.com/webhook/trigger-campaign-d62428cc-0ec4-47af-8c00-aa3732e84378",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "e51fae47-cb66-4bd3-87ab-c57999a9d0e8",
  "activeVersionId": "35cfc982-4bac-4406-9d88-d1b7845313bb",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-15T16:32:28.680Z",
      "createdAt": "2026-01-15T16:32:28.680Z",
      "role": "workflow:owner",
      "workflowId": "raaQZRInwjUDk5IRlf6qZ",
      "projectId": "zIWzQf2ZTqYydzuc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-15T19:20:09.024Z",
    "createdAt": "2026-01-15T19:20:08.181Z",
    "versionId": "35cfc982-4bac-4406-9d88-d1b7845313bb",
    "workflowId": "raaQZRInwjUDk5IRlf6qZ",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "trigger-campaign-d62428cc-0ec4-47af-8c00-aa3732e84378",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -160,
          -80
        ],
        "id": "d641fd2a-947e-434e-8234-4ccee8f76eab",
        "name": "Webhook",
        "webhookId": "d62428cc-0ec4-47af-8c00-aa3732e84378"
      },
      {
        "parameters": {
          "content": "## CAMPANHA",
          "height": 80,
          "width": 368
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -16,
          -176
        ],
        "id": "50133384-2faa-41d3-a008-ea330785d8d0",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## CAMPANHA",
          "height": 80,
          "width": 368
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          368,
          -176
        ],
        "id": "156fce3c-67da-4316-ba9c-fe9cf982067d",
        "name": "Sticky Note1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          -208,
          224
        ],
        "id": "87b3b30c-eea0-47b8-8336-49b0f59d11bb",
        "name": "Error Trigger"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          16,
          224
        ],
        "id": "781071b9-8eb4-4f2d-8b97-199250290dfe",
        "name": "ENVIAR NOTA COM ERRO OCORRIDO",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE campaigns\nSET status = 'ready',\n    trigger_source = :trigger_source,\n    trigger_ref = :trigger_ref,\n    triggered_at = NOW(),\n    updated_at = NOW()\nWHERE id = :campaign_id;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          208,
          224
        ],
        "id": "407a984d-76c1-4e79-809f-0fc6da908e53",
        "name": "Marcar como envio falho",
        "credentials": {
          "postgres": {
            "id": "mXJt3ouMM8ODCrgl",
            "name": "[Utilitario] - EnvioMensagens"
          }
        }
      },
      {
        "parameters": {
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"status\": \"ok\",\n  \"message\": \"🚀 Execução da campanha iniciada com sucesso\",\n  \"campaign_run_id\": \"{{ $json.id }}\"\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          416,
          -80
        ],
        "id": "b3bf3ed1-7250-4b28-9c56-9d0eeafbd00d",
        "name": "Responde Acionador",
        "disabled": true
      },
      {
        "parameters": {
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"campaign_run_id\": \"{{ $json.id }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          576,
          -80
        ],
        "id": "a75071fe-42be-4cf2-9ae5-d312657281a3",
        "name": "Chamar Mensageiro",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO campaign_runs (\n    campaign_id,\n    status,\n    trigger_source,\n    trigger_ref,\n    started_at\n) VALUES (\n    $1,\n    'running',\n    $2,\n    'triggerRef',\n    NOW()\n)\nRETURNING id;",
          "options": {
            "queryReplacement": "={{ $json.id }}, {{ $('Webhook').item.json.body.event }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          224,
          -80
        ],
        "id": "b4815a80-fa2a-4543-9e88-00a758addc51",
        "name": "Gravar Campaign Run",
        "credentials": {
          "postgres": {
            "id": "mXJt3ouMM8ODCrgl",
            "name": "[Utilitario] - EnvioMensagens"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT id, send_interval_seconds\nFROM campaigns\nWHERE slug = $1;",
          "options": {
            "queryReplacement": "={{ $json.query.campaign_name }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          32,
          -80
        ],
        "id": "1ee0ab4b-0d57-4e63-8013-ba4564f2a590",
        "name": "Select Campanha Válida",
        "credentials": {
          "postgres": {
            "id": "mXJt3ouMM8ODCrgl",
            "name": "[Utilitario] - EnvioMensagens"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Select Campanha Válida",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Trigger": {
        "main": [
          [
            {
              "node": "ENVIAR NOTA COM ERRO OCORRIDO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ENVIAR NOTA COM ERRO OCORRIDO": {
        "main": [
          [
            {
              "node": "Marcar como envio falho",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Responde Acionador": {
        "main": [
          [
            {
              "node": "Chamar Mensageiro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gravar Campaign Run": {
        "main": [
          [
            {
              "node": "Responde Acionador",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Select Campanha Válida": {
        "main": [
          [
            {
              "node": "Gravar Campaign Run",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jesreel David Hobus",
    "name": "Version 35cfc982",
    "description": "",
    "autosaved": false
  },
  "tags": []
}