workflows/_envio_massa__mensageiro_2026-03-19_19-08-06.json
{
  "updatedAt": "2026-02-04T17:45:26.820Z",
  "createdAt": "2026-01-15T17:33:20.441Z",
  "id": "uuL_555378Uv6TxH1gugc",
  "name": "[Envio-Massa] Mensageiro",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-next-lead-2a8acc88-debe-484a-8004-1691eea6acbd",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        -16
      ],
      "id": "2ee05089-aa01-495a-82a3-ddd37c5e5104",
      "name": "Webhook",
      "webhookId": "2a8acc88-debe-484a-8004-1691eea6acbd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "66eb9651-84de-4743-a044-bb22bb82a585",
              "leftValue": "={{ $json.encontrado }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1552,
        128
      ],
      "id": "c944a1af-0221-461c-9a04-609442831dd6",
      "name": "If1"
    },
    {
      "parameters": {
        "content": "## Enviar Mensagem CW",
        "height": 368,
        "width": 544,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        32
      ],
      "id": "29e913b5-3d0a-4c21-94ac-cb64638ee8b8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Enviar Mensagem CW",
        "height": 224,
        "width": 544,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        -208
      ],
      "id": "6fc8f3d0-0c29-4887-ae50-25444d324ea3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1552,
        -144
      ],
      "id": "b901d187-d2f6-4be6-b48a-7bc39a2d850c",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": "## Libera Trava",
        "height": 224,
        "width": 192,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        -208
      ],
      "id": "72e5e197-b804-4569-a94e-7dc299aa250b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Sending DB",
        "height": 336,
        "width": 192,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        32
      ],
      "id": "d3412dc9-cba8-4c24-b712-b08a94dd791d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pg_advisory_unlock(hashtext('disparador'));",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1008,
        -144
      ],
      "id": "f9fe3322-5f91-4e00-b242-92eafd6a1868",
      "name": "Liberar Trava Segura",
      "credentials": {
        "postgres": {
          "id": "bDQneub2cDRQsqRN",
          "name": "Takego-CRM"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE campaign_leads\nSET status = 'sending',\n    updated_at = NOW()\nWHERE id = $1;",
        "options": {
          "queryReplacement": "={{ $json.lead_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1008,
        112
      ],
      "id": "f5587734-6f9e-4428-8c7f-8debb14d0473",
      "name": "Att Lead - Sending DB",
      "credentials": {
        "postgres": {
          "id": "mXJt3ouMM8ODCrgl",
          "name": "[Utilitario] - EnvioMensagens"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  cl.template_ref,\n  cl.id AS lead_id,\n  cl.recipient_ref,\n  COALESCE(c.template_body, cl.template_ref) AS message_body,\n  c.channel\nFROM campaign_leads cl\nJOIN campaigns c ON c.id = cl.campaign_id\nWHERE cl.status IN ('draft', 'ready')\nORDER BY cl.created_at\nLIMIT 1\nFOR UPDATE SKIP LOCKED;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        -16
      ],
      "id": "7a17de2b-0445-442e-a616-4215dcb21570",
      "name": "Selecionar Lead para Enviar",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "mXJt3ouMM8ODCrgl",
          "name": "[Utilitario] - EnvioMensagens"
        }
      }
    },
    {
      "parameters": {
        "content": "## Gera Trava",
        "height": 256,
        "width": 192,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        352,
        -96
      ],
      "id": "d06f370f-ca95-417b-b700-358c060c5fa2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pg_try_advisory_lock(hashtext('disparador'));",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        400,
        -16
      ],
      "id": "c366ab80-0133-4cd9-bf22-5d6ac01baed8",
      "name": "Cria Trava Segura",
      "credentials": {
        "postgres": {
          "id": "mXJt3ouMM8ODCrgl",
          "name": "[Utilitario] - EnvioMensagens"
        }
      }
    },
    {
      "parameters": {
        "content": "## Gera Trava",
        "height": 256,
        "width": 384,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        -96
      ],
      "id": "55a20564-ed27-4142-934a-b57643573fa7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "27c22f73-4c72-4ef0-9de8-81f3e849770d",
              "leftValue": "={{ $json.lead_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        -16
      ],
      "id": "94103d6f-cd10-4c16-95f2-81d2147b67a9",
      "name": "Existe Lead"
    },
    {
      "parameters": {
        "content": "## Salvar Resultado",
        "height": 368,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3552,
        -64
      ],
      "id": "ac771b33-2d48-4b5c-9146-d5bcd769741c",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Libera Trava",
        "height": 224,
        "width": 192,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4560,
        -64
      ],
      "id": "b30ab3d8-daf0-48b8-8685-523f0510f00b",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE campaign_leads\nSET status = 'sent',\n    updated_at = NOW()\nWHERE id = $1;",
        "options": {
          "queryReplacement": "={{ $('Selecionar Lead para Enviar').item.json.lead_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3632,
        0
      ],
      "id": "33ec1bc7-ca8f-4e0f-b6ca-2675cadc2359",
      "name": "Grava Sucesso",
      "credentials": {
        "postgres": {
          "id": "mXJt3ouMM8ODCrgl",
          "name": "[Utilitario] - EnvioMensagens"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE campaign_leads\nSET status = 'failed',\n    last_error = :error,\n    updated_at = NOW()\nWHERE id = :lead_id;",
        "options": {
          "queryReplacement": ""
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        608
      ],
      "id": "b99f20cc-e1f1-4e56-b2f1-95fa3049ba0f",
      "name": "Grava Erro",
      "credentials": {
        "postgres": {
          "id": "mXJt3ouMM8ODCrgl",
          "name": "[Utilitario] - EnvioMensagens"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-aplictech-editor.aplicgo.com/webhook/process-next-lead-2a8acc88-debe-484a-8004-1691eea6acbd",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5008,
        0
      ],
      "id": "e701779b-2e40-488e-a98d-ef504b44a5d1",
      "name": "Loop Mensageiro"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pg_advisory_unlock(hashtext('disparador'));",
        "options": {
          "queryReplacement": ""
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4608,
        0
      ],
      "id": "bd6e1230-d637-4214-aa5e-11a7eec46171",
      "name": "Libera Trava 2",
      "credentials": {
        "postgres": {
          "id": "mXJt3ouMM8ODCrgl",
          "name": "[Utilitario] - EnvioMensagens"
        }
      }
    },
    {
      "parameters": {
        "content": "## Loop",
        "height": 224,
        "width": 192,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4960,
        -64
      ],
      "id": "3a421812-f7a8-40f6-ad71-4b347b9fcb41",
      "name": "Sticky Note8"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        416,
        608
      ],
      "id": "39d4bf4d-4630-4bde-a60f-b53c39945401",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pg_advisory_unlock(hashtext('disparador'));",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        608
      ],
      "id": "0a1b2741-971d-4585-a736-78c5119a2a5e",
      "name": "Libera Trava ",
      "credentials": {
        "postgres": {
          "id": "mXJt3ouMM8ODCrgl",
          "name": "[Utilitario] - EnvioMensagens"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// Nó: \"Processar Template de Mensagem\"\n// ========================================\n\n// ========================================\n// 1. CONFIGURAÇÃO\n// ⚠️ MODIFICAR AQUI: Nomes dos nós de origem\n// ========================================\nconst NO_SELECIONAR_LEAD = 'Selecionar Lead para Enviar';\nconst NO_BUSCAR_CONTATO = 'Buscar Contato CW';\nconst NO_CRIAR_CONTATO = 'Criar Contato Chatwoot';\n\n// Campo onde está o template\nconst CAMPO_TEMPLATE = 'message_body';\n\n// ========================================\n// 2. FUNÇÃO AUXILIAR PARA BUSCAR DADOS\n// ========================================\nconst getSafeData = (nodeName) => {\n  try {\n    const node = $(nodeName);\n    return node?.first()?.json || null;\n  } catch {\n    return null;\n  }\n};\n\n// ========================================\n// 3. RECUPERAR TEMPLATE\n// ========================================\nconst leadData = getSafeData(NO_SELECIONAR_LEAD) || $input.first()?.json;\n\nif (!leadData) {\n  throw new Error('❌ Não foi possível recuperar dados do nó: ' + NO_SELECIONAR_LEAD);\n}\n\nconst template = leadData[CAMPO_TEMPLATE] || '';\n\nif (!template) {\n  throw new Error('❌ Campo \"' + CAMPO_TEMPLATE + '\" está vazio');\n}\n\nconsole.log('✅ Template recuperado:', template.substring(0, 50) + '...');\n\n// ========================================\n// 4. RECUPERAR NOME DO CONTATO\n// ========================================\n// Tenta buscar primeiro (mais provável)\nlet nomeContato = null;\n\nconst buscarData = getSafeData(NO_BUSCAR_CONTATO);\nif (buscarData && buscarData.name) {\n  nomeContato = buscarData.name;\n  console.log('✅ Nome recuperado de Buscar Contato:', nomeContato);\n}\n\n// Se não encontrou, tenta do Criar Contato\nif (!nomeContato) {\n  const criarData = getSafeData(NO_CRIAR_CONTATO);\n  if (criarData && criarData.payload && criarData.payload.contact) {\n    nomeContato = criarData.payload.contact.name;\n    console.log('✅ Nome recuperado de Criar Contato:', nomeContato);\n  }\n}\n\n// Fallback se não encontrar em nenhum lugar\nif (!nomeContato) {\n  nomeContato = ''; // ⚠️ Vazio como fallback\n  console.log('⚠️ Nome não encontrado, usando fallback vazio');\n}\n\n// ========================================\n// 5. VALIDAR SE NOME É APENAS NÚMERO\n// ========================================\n// Remove espaços e verifica se o que sobra é só número\nconst nomeApenaNumeros = /^\\d+$/.test(nomeContato.toString().trim());\n\nif (nomeApenaNumeros) {\n  nomeContato = ''; // Substitui por vazio se for só números\n  console.log('⚠️ Nome era apenas números, substituído por vazio');\n}\n\n// ========================================\n// 6. FUNÇÃO PARA GERAR ESPAÇOS ALEATÓRIOS\n// ========================================\nfunction gerarEspacosAleatorios() {\n  const quantidade = Math.floor(Math.random() * 3) + 1; // 1, 2 ou 3 espaços\n  return ' '.repeat(quantidade);\n}\n\n// ========================================\n// 7. PROCESSAR TEMPLATE\n// ========================================\nlet mensagemProcessada = template;\n\n// Substitui [nome] pelo nome do contato (ou vazio se for número)\nmensagemProcessada = mensagemProcessada.replace(/\\[nome\\]/gi, nomeContato);\n\n// Substitui CADA ocorrência de [esp] por espaços aleatórios\n// Usa uma função para que cada [esp] tenha quantidade diferente\nmensagemProcessada = mensagemProcessada.replace(/\\[esp\\]/g, () => {\n  return gerarEspacosAleatorios();\n});\n\nconsole.log('✅ Template processado com sucesso!');\nconsole.log('📝 Prévia:', mensagemProcessada.substring(0, 100) + '...');\n\n// ========================================\n// 8. RETORNO\n// ========================================\nreturn [{\n  json: {\n    // Mensagem final processada\n    mensagem_processada: mensagemProcessada,\n    \n    // Template original\n    template_original: template,\n    \n    // Dados de substituição aplicados\n    nome_usado: nomeContato || '(vazio)',\n    nome_era_numero: nomeApenaNumeros,\n    total_espacos_inseridos: (template.match(/\\[esp\\]/g) || []).length,\n    \n    // Estatísticas\n    tamanho_original: template.length,\n    tamanho_processado: mensagemProcessada.length,\n    \n    // Passa todos os dados originais\n    dados_lead: leadData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3168,
        0
      ],
      "id": "648e133b-fc7e-4642-bd2a-60cefac38e58",
      "name": "Montar Template Mensagem"
    },
    {
      "parameters": {
        "content": "###  Postgres",
        "height": 640,
        "width": 800,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        352,
        -240
      ],
      "id": "1f89bad2-b69b-4d32-b69c-d308a8ab1d5a",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "###  Chatwoot",
        "height": 640,
        "width": 1040,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        -240
      ],
      "id": "f77a1242-3285-4b70-885e-f7d97c44b4fc",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "###  Postgres",
        "height": 416,
        "width": 480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3056,
        -112
      ],
      "id": "fa36a41d-29d3-4c80-8e59-1607ba915ede",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Gerar e Enviar Mensagem",
        "height": 368,
        "width": 480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3056,
        -64
      ],
      "id": "f6167c3f-2c84-4701-94bf-178de23471fa",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "##  Error Handler",
        "height": 256,
        "width": 800,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        352,
        512
      ],
      "id": "9e821d79-12b0-495b-b6fb-a6dff5cab449",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Webhook",
        "height": 256,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        96,
        -96
      ],
      "id": "111d7952-5a24-41fa-a2a6-597d9e2a9750",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "amount": "={{ (Math.floor(Math.random() * 21) + 50)}}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4816,
        0
      ],
      "id": "e1441235-6858-48f3-9949-6395e3aa206e",
      "name": "Wait",
      "webhookId": "49351bbc-7802-4518-8f31-ff374e4c47e6"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// Nó: \"Buscar/Criar Contato e Conversa Chatwoot\"\n// ========================================\n\n// ========================================\n// 1. CONFIGURAÇÃO\n// ⚠️ MODIFICAR AQUI SE NECESSÁRIO\n// ========================================\nconst CHATWOOT_CONFIG = {\n  url: 'https://chat.aplicgo.com',\n  accountId: '1',\n  apiKey: 'fmURrfLvWrJbtkAu6RUtQLYn',\n  inboxId: 7,\n  assigneeId: 1,\n  teamId: 1,\n  retryDelay: 600 // ms entre tentativas\n};\n\n// ========================================\n// 2. RECUPERAÇÃO DOS DADOS\n// ⚠️ MODIFICAR AQUI: Nome do nó e campos de origem\n// ========================================\nconst NO_ORIGEM = 'Selecionar Lead para Enviar';\nconst CAMPO_TELEFONE = 'recipient_ref';\nconst CAMPO_NOME = 'full_name'; // ⚠️ Ajustar se necessário\nconst CAMPO_EMAIL = 'email';     // ⚠️ Ajustar se necessário\n\nconst getSafeData = (nodeName) => {\n  try {\n    const node = $(nodeName);\n    return node?.first()?.json || null;\n  } catch {\n    return null;\n  }\n};\n\nconst leadData = getSafeData(NO_ORIGEM) || $input.first()?.json;\n\nif (!leadData) {\n  throw new Error('❌ Não foi possível recuperar dados do nó: ' + NO_ORIGEM);\n}\n\nconst telefoneRaw = leadData[CAMPO_TELEFONE] || '';\nconst nomeCompleto = leadData[CAMPO_NOME] || '';\nconst emailRaw = leadData[CAMPO_EMAIL] || '';\n\nif (!telefoneRaw) {\n  throw new Error('❌ Campo \"' + CAMPO_TELEFONE + '\" está vazio');\n}\n\nconsole.log('✅ Dados recuperados - Tel:', telefoneRaw, '| Nome:', nomeCompleto);\n\n// ========================================\n// 3. FUNÇÕES AUXILIARES\n// ========================================\n\n// Função de busca\nasync function buscarContato(query, tipo) {\n  if (!query) return null;\n   \n  try {\n    console.log('🔍 Buscando por ' + tipo + ': \"' + query + '\"');\n     \n    const options = {\n      method: 'GET',\n      url: `${CHATWOOT_CONFIG.url}/api/v1/accounts/${CHATWOOT_CONFIG.accountId}/contacts/search`,\n      qs: { q: query },\n      headers: {\n        'api_access_token': CHATWOOT_CONFIG.apiKey,\n        'Content-Type': 'application/json'\n      },\n      json: true\n    };\n     \n    const response = await this.helpers.httpRequest(options);\n    const contato = (response.payload && response.payload.length > 0) ? response.payload[0] : null;\n     \n    if (contato) {\n      console.log('✅ Encontrado por ' + tipo + '!');\n    }\n     \n    return contato;\n     \n  } catch (error) {\n    if (error.statusCode === 422) {\n      console.log('ℹ️ Não encontrado por ' + tipo + ' (422)');\n      return null;\n    }\n    console.log('❌ Erro na busca por ' + tipo + ':', error.message);\n    return null;\n  }\n}\n\n// Função para criar contato\nasync function criarContato(telefone, nome, email) {\n  try {\n    console.log('🆕 Criando novo contato...');\n    \n    // Formata telefone com +\n    const telefoneFormatado = telefone.trim().startsWith('+') ? telefone.trim() : '+' + telefone.trim();\n    \n    // Valida email\n    const emailValido = email && /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email) \n      ? email.toLowerCase().trim() \n      : null;\n    \n    const options = {\n      method: 'POST',\n      url: `${CHATWOOT_CONFIG.url}/api/v1/accounts/${CHATWOOT_CONFIG.accountId}/contacts`,\n      headers: {\n        'api_access_token': CHATWOOT_CONFIG.apiKey,\n        'Content-Type': 'application/json'\n      },\n      body: {\n        inbox_id: CHATWOOT_CONFIG.inboxId,\n        name: nome,\n        email: emailValido,\n        phone_number: telefoneFormatado\n      },\n      json: true\n    };\n    \n    const response = await this.helpers.httpRequest(options);\n    \n    console.log('✅ Contato criado! ID:', response.payload?.contact?.id);\n    \n    return response.payload?.contact || null;\n    \n  } catch (error) {\n    console.log('❌ Erro ao criar contato:', error.message);\n    throw error;\n  }\n}\n\n// Função para criar conversa\nasync function criarConversa(contactId) {\n  try {\n    console.log('💬 Criando conversa para contact_id:', contactId);\n    \n    const options = {\n      method: 'POST',\n      url: `${CHATWOOT_CONFIG.url}/api/v1/accounts/${CHATWOOT_CONFIG.accountId}/conversations`,\n      headers: {\n        'api_access_token': CHATWOOT_CONFIG.apiKey,\n        'Content-Type': 'application/json'\n      },\n      body: {\n        inbox_id: CHATWOOT_CONFIG.inboxId,\n        contact_id: contactId,\n        status: 'open',\n        assignee_id: CHATWOOT_CONFIG.assigneeId,\n        team_id: CHATWOOT_CONFIG.teamId\n      },\n      json: true\n    };\n    \n    const response = await this.helpers.httpRequest(options);\n    \n    console.log('✅ Conversa criada! ID:', response.id);\n    \n    return response;\n    \n  } catch (error) {\n    console.log('❌ Erro ao criar conversa:', error.message);\n    throw error;\n  }\n}\n\n// ========================================\n// 4. PREPARAÇÃO DAS VARIAÇÕES DE TELEFONE\n// ========================================\nconst telefone = telefoneRaw.replace(/\\D/g, '');\nconst variacoesTelefone = [];\n\nif (telefone) {\n  // Variação 1: Telefone completo\n  variacoesTelefone.push({ query: telefone, tipo: 'telefone_completo' });\n   \n  // Variação 2: Sem código do país 55\n  if (telefone.startsWith('55') && telefone.length > 11) {\n    variacoesTelefone.push({ \n      query: telefone.slice(2), \n      tipo: 'telefone_sem_codigo_pais' \n    });\n  }\n\n  // Variação 3: Formato legado (remove o 9 verificador)\n  const temNove = telefone.length >= 11 && telefone[telefone.length - 9] === '9';\n  if (temNove) {\n    const parte1 = telefone.slice(0, -9);\n    const ddd = telefone.slice(-11, -9);\n    const numeroSem9 = telefone.slice(-8);\n    \n    variacoesTelefone.push({\n      query: parte1 + ddd + numeroSem9,\n      tipo: 'telefone_legacy_sem_9'\n    });\n  }\n   \n  // Variação 4: Últimos 8 dígitos\n  if (telefone.length >= 8) {\n    variacoesTelefone.push({ \n      query: telefone.slice(-8), \n      tipo: 'telefone_reduzido' \n    });\n  }\n   \n  // Variação 5: Formato original\n  if (telefoneRaw !== telefone && telefoneRaw.length > 0) {\n    variacoesTelefone.push({ \n      query: telefoneRaw, \n      tipo: 'telefone_original' \n    });\n  }\n}\n\n// ========================================\n// 5. BUSCA DO CONTATO\n// ========================================\nlet contato = null;\nlet encontradoPor = null;\n\nfor (let i = 0; i < variacoesTelefone.length; i++) {\n  const variacao = variacoesTelefone[i];\n   \n  contato = await buscarContato.call(this, variacao.query, variacao.tipo);\n   \n  if (contato) {\n    encontradoPor = variacao.tipo;\n    break;\n  }\n   \n  if (i < variacoesTelefone.length - 1) {\n    await new Promise(resolve => setTimeout(resolve, CHATWOOT_CONFIG.retryDelay));\n  }\n}\n\n// ========================================\n// 6. CRIAR CONTATO SE NÃO ENCONTRADO\n// ========================================\nlet contatoCriado = false;\n\nif (!contato) {\n  console.log('⚠️ Contato não encontrado. Criando novo...');\n  contato = await criarContato.call(this, telefoneRaw, nomeCompleto, emailRaw);\n  contatoCriado = true;\n  encontradoPor = 'criado';\n}\n\nif (!contato || !contato.id) {\n  throw new Error('❌ Não foi possível obter contact_id');\n}\n\n// ========================================\n// 7. CRIAR CONVERSA\n// ========================================\nconst conversa = await criarConversa.call(this, contato.id);\n\n// ========================================\n// 8. RETORNO\n// ========================================\nconsole.log('🎉 Processo concluído!');\n\nreturn [{\n  json: {\n    // Dados do contato\n    contact_id: contato.id,\n    contact_name: contato.name,\n    contact_email: contato.email,\n    contact_phone: contato.phone_number,\n    contact_identifier: contato.identifier,\n    \n    // Dados da conversa\n    conversation_id: conversa.id,\n    conversation_inbox_id: conversa.inbox_id,\n    conversation_status: conversa.status,\n    \n    // Metadados\n    contato_criado: contatoCriado,\n    contato_encontrado_por: encontradoPor,\n    \n    // Dados originais do lead\n    lead_telefone: telefoneRaw,\n    lead_nome: nomeCompleto,\n    lead_email: emailRaw,\n    \n    // Payloads completos (remover se pesar)\n    payload_contato: contato,\n    payload_conversa: conversa\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        560
      ],
      "id": "0dc004a2-1641-4d31-abd9-404018551c88",
      "name": "Buscar e cria Contato CW"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.aplicgo.com/api/v1/accounts/1/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inbox_id",
              "value": "=10"
            },
            {
              "name": "name",
              "value": "={{ $json.telefone_buscado.replace(/\\D/g, '') }}"
            },
            {
              "name": "phone_number",
              "value": "={{ (() => {\n  const n = $json.telefone_buscado\n    ? $json.telefone_buscado.replace(/\\D/g, '')\n    : '';\n\n  if (!n) return '';\n\n  // Se já começar com 55, apenas adiciona o +\n  if (n.startsWith('55')) {\n    return '+' + n;\n  }\n\n  // Caso contrário, adiciona +55\n  return '+55' + n;\n})() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2c209671-84e1-4b76-b321-6be1a2a1786c",
      "name": "Criar Contato Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1760,
        208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "qYj9hhaMLzVO0ydk",
          "name": "CahtWoot Aplic #1"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.aplicgo.com/api/v1/accounts/1/conversations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inbox_id\": 10,\n  \"contact_id\": {{ \n  $json?.payload?.contact?.id \n  ?? $('Buscar Contato CW')?.first()?.json?.id \n}},\n  \"status\": \"open\",\n  \"assignee_id\": 5,\n  \"team_id\": 1\n}",
        "options": {}
      },
      "id": "687f2cc5-db5a-4497-84d4-e315272c71b5",
      "name": "Criar Conversa Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2176,
        208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "qYj9hhaMLzVO0ydk",
          "name": "CahtWoot Aplic #1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Nó: \"Buscar Contato Chatwoot Inteligente v2\"\n\n// ========================================\n// 1. CONFIGURAÇÃO\n// ========================================\nconst CHATWOOT_CONFIG = {\n  url: 'https://chat.aplicgo.com',\n  accountId: '1',\n  apiKey: 'fmURrfLvWrJbtkAu6RUtQLYn',\n  retryDelay: 600 // ms entre tentativas\n};\n\n// ========================================\n// 2. RECUPERAÇÃO DE DADOS DO LEAD\n// ========================================\nconst getSafeData = (nodeName) => {\n  try {\n    const node = $(nodeName);\n    return node?.first()?.json || null;\n  } catch {\n    return null;\n  }\n};\n\nconst leadData = \n  getSafeData('Insert Novo Lead') || \n  getSafeData('Update Lead Existente') || \n  $input.first()?.json;\n\nif (!leadData) {\n  throw new Error('❌ Não foi possível recuperar dados do lead');\n}\n\nconsole.log('✅ Dados do lead recuperados:', leadData.id);\n\n// ========================================\n// 3. FUNÇÃO DE BUSCA (FORMATO N8N CORRETO)\n// ========================================\nasync function buscarContato(query, tipo) {\n  if (!query) return null;\n   \n  try {\n    console.log('🔍 Buscando por ' + tipo + ': \"' + query + '\"');\n     \n    const options = {\n      method: 'GET',\n      url: `${CHATWOOT_CONFIG.url}/api/v1/accounts/${CHATWOOT_CONFIG.accountId}/contacts/search`,\n      qs: { q: query },\n      headers: {\n        'api_access_token': CHATWOOT_CONFIG.apiKey,\n        'Content-Type': 'application/json'\n      },\n      json: true\n    };\n     \n    const response = await this.helpers.httpRequest(options);\n     \n    // console.log('📡 Resposta:', JSON.stringify(response));\n     \n    const contato = (response.payload && response.payload.length > 0) ? response.payload[0] : null;\n     \n    if (contato) {\n      console.log('✅ Encontrado por ' + tipo + '!');\n    }\n     \n    return contato;\n     \n  } catch (error) {\n    // Trata erro 422 (não encontrado) como resultado vazio\n    if (error.statusCode === 422) {\n      console.log('ℹ️ Não encontrado por ' + tipo + ' (422)');\n      return null;\n    }\n    console.log('❌ Erro na busca por ' + tipo + ':', error.message);\n    return null;\n  }\n}\n\n// ========================================\n// 4. PREPARAÇÃO DAS VARIAÇÕES DE TELEFONE\n// ========================================\nconst telefoneRaw = leadData.phone_number || '';\n// Remove tudo que não for número\nconst telefone = telefoneRaw.replace(/\\D/g, '');\nconst email = leadData.email || '';\n\n// Gera todas as variações de telefone\nconst variacoesTelefone = [];\n\nif (telefone) {\n  // 1. Telefone completo (ex: 5541988887777)\n  variacoesTelefone.push({ query: telefone, tipo: 'telefone_completo' });\n   \n  // 2. Sem código do país - 55 (ex: 41999887766)\n  if (telefone.startsWith('55') && telefone.length > 11) {\n    variacoesTelefone.push({ \n      query: telefone.slice(2), \n      tipo: 'telefone_sem_codigo_pais' \n    });\n  }\n\n  // >>> NOVA LÓGICA SOLICITADA <<<\n  // 2.5. Formato Antigo: Remove 55 E remove o 9 verificador\n  // Lógica: Se tem 13 dígitos, começa com 55 e o quinto dígito é 9 (índice 4)\n  // Ex Entrada: 55 41 9 88887777 -> Saída: 4188887777\n// 2.5. Formato Antigo: Remove o 9 verificador (celulares)\n  // Funciona para: 5541988887777 (13 dig) OU 41988887777 (11 dig)\n  const temNove = telefone.length >= 11 && telefone[telefone.length - 9] === '9';\n  \n  if (temNove) {\n    // Remove o 9 que está na 3ª posição dos últimos 9 dígitos\n    const parte1 = telefone.slice(0, -9); // Tudo antes dos 9 dígitos finais\n    const ddd = telefone.slice(-11, -9); // DDD (2 dígitos antes do 9)\n    const numeroSem9 = telefone.slice(-8); // 8 dígitos finais\n    \n    variacoesTelefone.push({\n      query: parte1 + ddd + numeroSem9,\n      tipo: 'telefone_legacy_sem_9'\n    });\n  }\n   \n  // 3. Últimos 8 dígitos (ex: 88887766)\n  // Útil para buscar quando o DDD está incerto ou erro de formatação\n  if (telefone.length >= 8) {\n    variacoesTelefone.push({ \n      query: telefone.slice(-8), \n      tipo: 'telefone_reduzido' \n    });\n  }\n   \n  // 4. Formato original (caso tenha caracteres especiais salvos no chatwoot)\n  if (telefoneRaw !== telefone && telefoneRaw.length > 0) {\n    variacoesTelefone.push({ \n      query: telefoneRaw, \n      tipo: 'telefone_original' \n    });\n  }\n}\n\nconsole.log('📞 ' + variacoesTelefone.length + ' variações de telefone geradas para busca');\nconsole.log('📧 Email:', email || 'não informado');\n\n// ========================================\n// 5. BUSCA SEQUENCIAL COM DELAY\n// ========================================\nlet contato = null;\nlet encontradoPor = null;\n\n// Busca por todas as variações de telefone\nfor (let i = 0; i < variacoesTelefone.length; i++) {\n  const variacao = variacoesTelefone[i];\n   \n  contato = await buscarContato.call(this, variacao.query, variacao.tipo);\n   \n  if (contato) {\n    encontradoPor = variacao.tipo;\n    break;\n  }\n   \n  // Delay entre tentativas (exceto na última)\n  if (i < variacoesTelefone.length - 1) {\n    await new Promise(resolve => setTimeout(resolve, CHATWOOT_CONFIG.retryDelay));\n  }\n}\n\n// Busca por email como última tentativa\nif (!contato && email) {\n  await new Promise(resolve => setTimeout(resolve, CHATWOOT_CONFIG.retryDelay));\n  contato = await buscarContato.call(this, email, 'email');\n  if (contato) {\n    encontradoPor = 'email';\n  }\n}\n\n// ========================================\n// 6. RETORNO (FORMATO N8N CORRETO)\n// ========================================\nif (!contato) {\n  console.log('❌ Contato não encontrado após todas as tentativas');\n   \n  // Retorna estrutura indicando que não foi encontrado\n  return [{\n    json: {\n      encontrado: false,\n      tentativas: variacoesTelefone.length + (email ? 1 : 0),\n      lead_id: leadData.id,\n      lead_full_name: leadData.full_name,\n      lead_email: leadData.email,\n      lead_phone: leadData.phone_number\n    }\n  }];\n}\n\nconsole.log('🎉 Contato encontrado!');\n\nreturn [{\n  json: {\n    // Dados do contato encontrado\n    id: contato.id,\n    name: contato.name,\n    email: contato.email,\n    phone_number: contato.phone_number,\n    identifier: contato.identifier,\n\n    //Payload Completo - Pode ser retirado se pesar\n    payload_completo: contato,\n     \n    // Metadados da busca\n    encontrado: true,\n    encontrado_por: encontradoPor,\n     \n    // Dados originais do lead\n    lead_id: leadData.id,\n    lead_full_name: leadData.full_name,\n    lead_email: leadData.email,\n    lead_phone: leadData.phone_number,\n     \n    // Flags úteis para próximos nós\n    tem_identifier: !!contato.identifier,\n    identifier_valido: contato.identifier?.includes('@s.whatsapp.net') || false,\n    precisa_update_email: !contato.email && !!leadData.email\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        688
      ],
      "id": "5410ba6a-8b67-4c40-b688-96decf6edf22",
      "name": "Busca por Contato Chatwoot2"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// Nó: \"Buscar Contato Chatwoot por Telefone\"\n// ========================================\n\n// ========================================\n// 1. CONFIGURAÇÃO DO CHATWOOT\n// ========================================\nconst CHATWOOT_CONFIG = {\n  url: 'https://chat.aplicgo.com',\n  accountId: '1',\n  apiKey: 'fmURrfLvWrJbtkAu6RUtQLYn',\n  retryDelay: 600 // ms entre tentativas de busca\n};\n\n// ========================================\n// 2. RECUPERAÇÃO DO TELEFONE\n// ⚠️ MODIFICAR AQUI: Nome do nó de origem\n// ========================================\nconst NOde_ORIGEM = 'Selecionar Lead para Enviar';\nconst CAMPO_TELEFONE = 'recipient_ref';\n\nconst getSafeData = (nodeName) => {\n  try {\n    const node = $(nodeName);\n    return node?.first()?.json || null;\n  } catch {\n    return null;\n  }\n};\n\nconst leadData = getSafeData(NOde_ORIGEM) || $input.first()?.json;\n\nif (!leadData) {\n  throw new Error('❌ Não foi possível recuperar dados do nó: ' + NOde_ORIGEM);\n}\n\n// ⚠️ TELEFONE VEM DO CAMPO 'recipient_ref'\nconst telefoneRaw = leadData[CAMPO_TELEFONE] || '';\n\nif (!telefoneRaw) {\n  throw new Error('❌ Campo \"' + CAMPO_TELEFONE + '\" está vazio ou não existe');\n}\n\nconsole.log('✅ Telefone recuperado:', telefoneRaw);\n\n// ========================================\n// 3. FUNÇÃO DE BUSCA NO CHATWOOT\n// ========================================\nasync function buscarContato(query, tipo) {\n  if (!query) return null;\n   \n  try {\n    console.log('🔍 Buscando por ' + tipo + ': \"' + query + '\"');\n     \n    const options = {\n      method: 'GET',\n      url: `${CHATWOOT_CONFIG.url}/api/v1/accounts/${CHATWOOT_CONFIG.accountId}/contacts/search`,\n      qs: { q: query },\n      headers: {\n        'api_access_token': CHATWOOT_CONFIG.apiKey,\n        'Content-Type': 'application/json'\n      },\n      json: true\n    };\n     \n    const response = await this.helpers.httpRequest(options);\n     \n    const contato = (response.payload && response.payload.length > 0) ? response.payload[0] : null;\n     \n    if (contato) {\n      console.log('✅ Encontrado por ' + tipo + '!');\n    }\n     \n    return contato;\n     \n  } catch (error) {\n    // Trata erro 422 (não encontrado) como resultado vazio\n    if (error.statusCode === 422) {\n      console.log('ℹ️ Não encontrado por ' + tipo + ' (422)');\n      return null;\n    }\n    console.log('❌ Erro na busca por ' + tipo + ':', error.message);\n    return null;\n  }\n}\n\n// ========================================\n// 4. GERAÇÃO DE VARIAÇÕES DE TELEFONE\n// ========================================\n// Remove tudo que não for número\nconst telefone = telefoneRaw.replace(/\\D/g, '');\n\nconst variacoesTelefone = [];\n\nif (telefone) {\n  // Variação 1: Telefone completo (ex: 5541988887777)\n  variacoesTelefone.push({ \n    query: telefone, \n    tipo: 'telefone_completo' \n  });\n   \n  // Variação 2: Sem código do país 55 (ex: 41988887777)\n  if (telefone.startsWith('55') && telefone.length > 11) {\n    variacoesTelefone.push({ \n      query: telefone.slice(2), \n      tipo: 'telefone_sem_codigo_pais' \n    });\n  }\n\n  // Variação 3: Formato legado (remove o 9 verificador de celular)\n  // Ex: 5541988887777 -> 554188887777\n  // Ex: 41988887777 -> 4188887777\n  const temNove = telefone.length >= 11 && telefone[telefone.length - 9] === '9';\n  \n  if (temNove) {\n    const parte1 = telefone.slice(0, -9);      // Tudo antes dos 9 dígitos finais\n    const ddd = telefone.slice(-11, -9);       // DDD (2 dígitos)\n    const numeroSem9 = telefone.slice(-8);     // 8 dígitos finais\n    \n    variacoesTelefone.push({\n      query: parte1 + ddd + numeroSem9,\n      tipo: 'telefone_legacy_sem_9'\n    });\n  }\n   \n  // Variação 4: Últimos 8 dígitos (ex: 88887777)\n  if (telefone.length >= 8) {\n    variacoesTelefone.push({ \n      query: telefone.slice(-8), \n      tipo: 'telefone_reduzido' \n    });\n  }\n   \n  // Variação 5: Formato original com caracteres especiais\n  if (telefoneRaw !== telefone && telefoneRaw.length > 0) {\n    variacoesTelefone.push({ \n      query: telefoneRaw, \n      tipo: 'telefone_original' \n    });\n  }\n}\n\nconsole.log('📞 ' + variacoesTelefone.length + ' variações geradas');\n\n// ========================================\n// 5. BUSCA SEQUENCIAL COM DELAY\n// ========================================\nlet contato = null;\nlet encontradoPor = null;\n\nfor (let i = 0; i < variacoesTelefone.length; i++) {\n  const variacao = variacoesTelefone[i];\n   \n  contato = await buscarContato.call(this, variacao.query, variacao.tipo);\n   \n  if (contato) {\n    encontradoPor = variacao.tipo;\n    break;\n  }\n   \n  // Delay entre tentativas (exceto na última)\n  if (i < variacoesTelefone.length - 1) {\n    await new Promise(resolve => setTimeout(resolve, CHATWOOT_CONFIG.retryDelay));\n  }\n}\n\n// ========================================\n// 6. RETORNO\n// ========================================\nif (!contato) {\n  console.log('❌ Contato não encontrado após ' + variacoesTelefone.length + ' tentativas');\n   \n  return [{\n    json: {\n      encontrado: false,\n      tentativas: variacoesTelefone.length,\n      telefone_buscado: telefoneRaw\n    }\n  }];\n}\n\nconsole.log('🎉 Contato encontrado via: ' + encontradoPor);\n\nreturn [{\n  json: {\n    // Dados do contato encontrado\n    id: contato.id,\n    name: contato.name,\n    email: contato.email,\n    phone_number: contato.phone_number,\n    identifier: contato.identifier,\n    \n    // Payload completo (remover se pesar)\n    payload_completo: contato,\n     \n    // Metadados\n    encontrado: true,\n    encontrado_por: encontradoPor,\n    telefone_buscado: telefoneRaw,\n     \n    // Flags úteis\n    tem_identifier: !!contato.identifier,\n    identifier_valido: contato.identifier?.includes('@s.whatsapp.net') || false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        128
      ],
      "id": "2430fd5b-e922-4822-9b23-e0f74d01682b",
      "name": "Buscar Contato CW"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.aplicgo.com/api/v1/accounts/1/conversations/{{ $('Contexto CW').item.json.payload[0].id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.mensagem_processada }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3360,
        0
      ],
      "id": "4da27755-8981-4c31-9d4e-5b0991be0563",
      "name": "CW Enviar Mensagem",
      "credentials": {
        "httpHeaderAuth": {
          "id": "kQC8DfHM8dud7l9B",
          "name": "Chatwoot Miguel"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "32df7f3a-2db7-4a93-80ef-10c19239fd4d",
              "leftValue": "={{ $json.payload[0].messages[0].inbox_id || $json.payload[0].last_non_activity_message.inbox_id}}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2096,
        16
      ],
      "id": "a24ee250-5862-40ba-96cd-6a03af9951b1",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.aplicgo.com/api/v1/accounts/1/conversations/{{ $('Edit Fields2').item.json.normalized_id }}/labels",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"labels\": [{{ $json.tagsAtualizadas }}]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4240,
        0
      ],
      "id": "50ff6cd9-0b98-4c24-bad6-1bdf0720bf0a",
      "name": "Atualizar Tags1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "kQC8DfHM8dud7l9B",
          "name": "Chatwoot Miguel"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://chat.aplicgo.com/api/v1/accounts/1/conversations/{{ $('Edit Fields2').item.json.normalized_id }}/labels",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3952,
        0
      ],
      "id": "cfbd4c68-9a16-4dca-a0a6-bf2c0a77a6bd",
      "name": "Get Tags1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "kQC8DfHM8dud7l9B",
          "name": "Chatwoot Miguel"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Tags que você deseja adicionar (se não existirem)\nconst tagsParaAdicionar = \"disparo, 5-atendimento-humano\";\n\n// 2. Tags que você deseja remover (se existirem)\n// Deixe vazio (\"\") ou liste as tags separadas por vírgula.\nconst tagsParaRemover = \"5-atendimento-ia\";\n\n// 3. Pega o array de tags do nó anterior \"Get Tags\" (usando sintaxe V1)\n// Se não houver tags existentes, será um array vazio ([]).\nconst tagsExistentes = $('Get Tags1').first().json.payload || [];\n\n\n// --- Processamento ---\n\n// 4. Cria um Set de todas as tags que DEVERÃO PERMANECER ou SER ADICIONADAS\nconst setDeTagsFinais = new Set();\n\n// 5. Converte a string de tags a serem removidas para um Set para pesquisa rápida\nconst setDeTagsParaRemover = new Set(\n    tagsParaRemover.split(',').map(tag => tag.trim()).filter(tag => tag.length > 0)\n);\n\n// 6. Adiciona ao SetFinais as tags EXISTENTES que NÃO DEVEM ser removidas\ntagsExistentes.forEach(tag => {\n    // Adiciona a tag existente APENAS se ela NÃO estiver na lista de remoção\n    if (!setDeTagsParaRemover.has(tag)) {\n        setDeTagsFinais.add(tag);\n    }\n});\n\n// 7. Adiciona as tags NOVAS/DESEJADAS ao SetFinais (o Set ignora duplicatas automaticamente)\nconst tagsNovas = tagsParaAdicionar.split(',').map(tag => tag.trim());\ntagsNovas.forEach(tag => {\n    // Adiciona a tag APENAS se ela NÃO estiver na lista de remoção (para garantir)\n    if (!setDeTagsParaRemover.has(tag)) {\n        setDeTagsFinais.add(tag);\n    }\n});\n\n\n// --- Saída ---\n\n// 8. Converte o Set de volta para um Array\nconst tagsArray = Array.from(setDeTagsFinais);\n\n// 9. Mapeia o array para adicionar as aspas em cada tag e junta em uma string.\nconst tagsAtualizadasString = tagsArray\n    .map(tag => `\"${tag}\"`) // Adiciona aspas (ex: \"tag_a\")\n    .join(','); // Junta as tags com vírgula (ex: \"tag_a\",\"tag_b\")\n\n// 10. Retorna o resultado no formato de string\nreturn [{\n    json: {\n        // Retorna a lista de tags atualizadas no formato \"tag1\",\"tag2\"\n        tagsAtualizadas: tagsAtualizadasString,\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4096,
        0
      ],
      "id": "6c5a8571-2907-4469-a70b-a31c4ce3cc0e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.aplicgo.com/api/v1/accounts/1/conversations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inbox_id\": 10,\n  \"contact_id\": {{ \n  $json?.payload?.contact?.id \n  ?? $('Buscar Contato CW')?.first()?.json?.id \n}},\n  \"status\": \"open\",\n  \"assignee_id\": 5,\n  \"team_id\": 1\n}",
        "options": {}
      },
      "id": "a54f6dd7-c3a9-453b-a2d3-40d78c262964",
      "name": "Criar Conversa Chatwoot1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2256,
        64
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "qYj9hhaMLzVO0ydk",
          "name": "CahtWoot Aplic #1"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://chat.aplicgo.com/api/v1/accounts/1/contacts/{{ $('Buscar Contato CW').item.json.id || $('Criar Contato Chatwoot').item.json.payload.contact.id}}/conversations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "6025da31-2328-4359-9c0f-38ec53272195",
      "name": "Contexto CW A",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1840,
        32
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "qYj9hhaMLzVO0ydk",
          "name": "CahtWoot Aplic #1"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://chat.aplicgo.com/api/v1/accounts/1/contacts/{{ $('Edit Fields2').item.json.contact_normalized }}/conversations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "5ee203d2-a07a-401e-b92f-2225e7ef8f6b",
      "name": "Contexto CW",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2944,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "qYj9hhaMLzVO0ydk",
          "name": "CahtWoot Aplic #1"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2384,
        96
      ],
      "id": "f42e4623-0f1c-43be-a7d7-5ee19abd835f",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c96fc75-f72b-42a6-9f71-52933b9443f6",
              "name": "normalized_id",
              "value": "={{ $json.payload[0].id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        32
      ],
      "id": "20fa718d-ecab-4260-947c-32408d491d7c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b9f916a-c7da-4bf3-8afd-64d81aa4bf32",
              "name": "normalized_id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "680031a3-b254-4a57-a544-88672d46ba61",
              "name": "contact_normalized",
              "value": "={{ $json.meta.sender.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2544,
        96
      ],
      "id": "b2771e1f-de14-4c70-91e4-36ee301d3121",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54b77565-cc84-4f7f-b17e-bfaba08372a3",
              "name": "normalized_id",
              "value": "={{ \n  $json?.id \n  ?? $json?.payload?.[0]?.id \n  ?? $json?.normalized_id ?? ''\n}}",
              "type": "number"
            },
            {
              "id": "58f1cc40-7f83-41e0-8307-608641005cd5",
              "name": "contact_normalized",
              "value": "={{ \n  $if(\n    $json.contact_normalized,\n    $json.contact_normalized,\n    $if(\n      $('Criar Contato Chatwoot').isExecuted,\n      $('Criar Contato Chatwoot').first().json.payload.contact.id,\n      null\n    )\n  )\n}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2720,
        0
      ],
      "id": "502ada13-9a26-403e-b0d0-95431c55ff0d",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3792,
        0
      ],
      "id": "1fd7daef-d445-46f3-bcfa-805324c5cba0",
      "name": "Wait1",
      "webhookId": "83ee54ab-f797-44f8-8653-3160c3ef6000"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.aplicgo.com/api/v1/accounts/1/conversations/{{ $('Edit Fields2').item.json.normalized_id }}/toggle_status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"resolved\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4400,
        0
      ],
      "id": "4cd79feb-26b0-4b08-80fd-2915327891f0",
      "name": "Fechar Conversa",
      "credentials": {
        "httpHeaderAuth": {
          "id": "kQC8DfHM8dud7l9B",
          "name": "Chatwoot Miguel"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c6ec26dc-db87-4481-b882-15819a82c453",
              "leftValue": "={{ $('Selecionar Lead para Enviar').item.json.template_ref }}",
              "rightValue": "dinastia",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1184,
        112
      ],
      "id": "02e52184-de94-4c49-818d-0d22da044dc1",
      "name": "If2"
    },
    {
      "parameters": {
        "phoneNumber": "={{ $('Selecionar Lead para Enviar').item.json.recipient_ref }}",
        "message": "={{ $('Montar Template Mensagem1').item.json.mensagem_processada }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-dinastiapi.dinastiapiAi",
      "typeVersion": 1,
      "position": [
        1712,
        1040
      ],
      "id": "46f4682d-da0f-4909-9372-e829b0e2d647",
      "name": "DinastiAPI AI",
      "credentials": {
        "dinastiapiApi": {
          "id": "3ZapuMQifinBUCyT",
          "name": "Take&Go SAC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// Nó: \"Processar Template de Mensagem\"\n// ========================================\n\n// ========================================\n// 1. CONFIGURAÇÃO\n// ⚠️ MODIFICAR AQUI: Nomes dos nós de origem\n// ========================================\nconst NO_SELECIONAR_LEAD = 'Selecionar Lead para Enviar';\nconst NO_BUSCAR_CONTATO = 'Buscar Contato CW';\nconst NO_CRIAR_CONTATO = 'Criar Contato Chatwoot';\n\n// Campo onde está o template\nconst CAMPO_TEMPLATE = 'message_body';\n\n// ========================================\n// 2. FUNÇÃO AUXILIAR PARA BUSCAR DADOS\n// ========================================\nconst getSafeData = (nodeName) => {\n  try {\n    const node = $(nodeName);\n    return node?.first()?.json || null;\n  } catch {\n    return null;\n  }\n};\n\n// ========================================\n// 3. RECUPERAR TEMPLATE\n// ========================================\nconst leadData = getSafeData(NO_SELECIONAR_LEAD) || $input.first()?.json;\n\nif (!leadData) {\n  throw new Error('❌ Não foi possível recuperar dados do nó: ' + NO_SELECIONAR_LEAD);\n}\n\nconst template = leadData[CAMPO_TEMPLATE] || '';\n\nif (!template) {\n  throw new Error('❌ Campo \"' + CAMPO_TEMPLATE + '\" está vazio');\n}\n\nconsole.log('✅ Template recuperado:', template.substring(0, 50) + '...');\n\n// ========================================\n// 4. RECUPERAR NOME DO CONTATO\n// ========================================\n// Tenta buscar primeiro (mais provável)\nlet nomeContato = null;\n\nconst buscarData = getSafeData(NO_BUSCAR_CONTATO);\nif (buscarData && buscarData.name) {\n  nomeContato = buscarData.name;\n  console.log('✅ Nome recuperado de Buscar Contato:', nomeContato);\n}\n\n// Se não encontrou, tenta do Criar Contato\nif (!nomeContato) {\n  const criarData = getSafeData(NO_CRIAR_CONTATO);\n  if (criarData && criarData.payload && criarData.payload.contact) {\n    nomeContato = criarData.payload.contact.name;\n    console.log('✅ Nome recuperado de Criar Contato:', nomeContato);\n  }\n}\n\n// Fallback se não encontrar em nenhum lugar\nif (!nomeContato) {\n  nomeContato = ''; // ⚠️ Vazio como fallback\n  console.log('⚠️ Nome não encontrado, usando fallback vazio');\n}\n\n// ========================================\n// 5. VALIDAR SE NOME É APENAS NÚMERO\n// ========================================\n// Remove espaços e verifica se o que sobra é só número\nconst nomeApenaNumeros = /^\\d+$/.test(nomeContato.toString().trim());\n\nif (nomeApenaNumeros) {\n  nomeContato = ''; // Substitui por vazio se for só números\n  console.log('⚠️ Nome era apenas números, substituído por vazio');\n}\n\n// ========================================\n// 6. FUNÇÃO PARA GERAR ESPAÇOS ALEATÓRIOS\n// ========================================\nfunction gerarEspacosAleatorios() {\n  const quantidade = Math.floor(Math.random() * 3) + 1; // 1, 2 ou 3 espaços\n  return ' '.repeat(quantidade);\n}\n\n// ========================================\n// 7. PROCESSAR TEMPLATE\n// ========================================\nlet mensagemProcessada = template;\n\n// Substitui [nome] pelo nome do contato (ou vazio se for número)\nmensagemProcessada = mensagemProcessada.replace(/\\[nome\\]/gi, nomeContato);\n\n// Substitui CADA ocorrência de [esp] por espaços aleatórios\n// Usa uma função para que cada [esp] tenha quantidade diferente\nmensagemProcessada = mensagemProcessada.replace(/\\[esp\\]/g, () => {\n  return gerarEspacosAleatorios();\n});\n\nconsole.log('✅ Template processado com sucesso!');\nconsole.log('📝 Prévia:', mensagemProcessada.substring(0, 100) + '...');\n\n// ========================================\n// 8. RETORNO\n// ========================================\nreturn [{\n  json: {\n    // Mensagem final processada\n    mensagem_processada: mensagemProcessada,\n    \n    // Template original\n    template_original: template,\n    \n    // Dados de substituição aplicados\n    nome_usado: nomeContato || '(vazio)',\n    nome_era_numero: nomeApenaNumeros,\n    total_espacos_inseridos: (template.match(/\\[esp\\]/g) || []).length,\n    \n    // Estatísticas\n    tamanho_original: template.length,\n    tamanho_processado: mensagemProcessada.length,\n    \n    // Passa todos os dados originais\n    dados_lead: leadData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        560
      ],
      "id": "0fe26cb9-45ec-4355-950e-c64217849618",
      "name": "Montar Template Mensagem1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-aplictech-editor.aplicgo.com/webhook/4548347a-2a42-4c28-a957-12979ac7f617",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "destinatario",
              "value": "={{ $('Selecionar Lead para Enviar').item.json.recipient_ref }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1424,
        1040
      ],
      "id": "29cde247-0897-41b9-9542-f96f2a32947d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": "={{ (Math.floor(Math.random() * 20) + 150)}}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2448,
        432
      ],
      "id": "14ee2197-cf34-4637-809d-11d70b8b5684",
      "name": "Wait2",
      "webhookId": "68a19d01-7dd3-4b21-8e6a-4bc88d8ad575"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-aplictech-editor.aplicgo.com/webhook/process-next-lead-2a8acc88-debe-484a-8004-1691eea6acbd",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2640,
        432
      ],
      "id": "6291b843-17f8-40df-b27e-4f688b41031f",
      "name": "Loop Mensageiro1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE campaign_leads\nSET status = 'sent',\n    updated_at = NOW()\nWHERE id = $1;",
        "options": {
          "queryReplacement": "={{ $('Selecionar Lead para Enviar').item.json.lead_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2032,
        432
      ],
      "id": "a43d71f7-d651-4dcd-93e8-962d5b3029f3",
      "name": "Grava Sucesso1",
      "credentials": {
        "postgres": {
          "id": "mXJt3ouMM8ODCrgl",
          "name": "[Utilitario] - EnvioMensagens"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pg_advisory_unlock(hashtext('disparador'));",
        "options": {
          "queryReplacement": ""
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2272,
        432
      ],
      "id": "9dc111b2-68ec-472c-94bf-5d07395258e6",
      "name": "Libera Trava 3",
      "credentials": {
        "postgres": {
          "id": "mXJt3ouMM8ODCrgl",
          "name": "[Utilitario] - EnvioMensagens"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 4) + 3 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1584,
        1040
      ],
      "id": "801b7b4a-fd25-4a32-8830-47955f8e303f",
      "name": "Wait3",
      "webhookId": "44752630-ff86-47f8-b9b2-0e2467fe6b0f"
    },
    {
      "parameters": {
        "jsCode": "// Recupera o número do input anterior\nconst phone = $('Selecionar Lead para Enviar').item.json.recipient_ref;\n\n// Remove qualquer caractere que não seja número (parênteses, espaços, traços)\nlet cleanPhone = phone.toString().replace(/\\D/g, '');\n\n// --- NOVA REGRA DE PRIORIDADE ---\n// Se o número NÃO começar com 55, adicionamos agora.\n// Se já tiver o 55, ele passa direto e segue a lógica original.\nif (!cleanPhone.startsWith('55')) {\n    cleanPhone = '55' + cleanPhone;\n}\n\n// Como garantimos o 55 acima, o coreNumber (DDD + Número) será sempre o restante após o 55\nlet coreNumber = cleanPhone.substring(2);\n\n// A lógica foca no coreNumber (DDD + Número)\nlet ddd = coreNumber.substring(0, 2);\nlet rest = coreNumber.substring(2);\n\nlet processedNumber = \"\";\n\nif (rest.length === 9 && rest.startsWith('9')) {\n    // Caso 1: Tem o 9 adicional -> REMOVER o 9\n    processedNumber = ddd + rest.substring(1);\n} else if (rest.length === 8) {\n    // Caso 2: Não tem o 9 adicional -> ADICIONAR o 9\n    processedNumber = ddd + '9' + rest;\n} else {\n    // Caso 3: Formato desconhecido -> Mantém o coreNumber original\n    processedNumber = coreNumber;\n}\n\n// Remonta com o DDI 55\nconst finalPhone = \"55\" + processedNumber;\n\nreturn {\n  normalizedPhone: finalPhone,\n  originalPhone: phone\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        640
      ],
      "id": "1c5a9a41-157b-48d0-8374-b61d1b824ed9",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-aplictech-editor.aplicgo.com/webhook/process-next-lead-2a8acc88-debe-484a-8004-1691eea6acbd",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2528,
        656
      ],
      "id": "535805c8-e7eb-4abb-8c49-9397fc316509",
      "name": "Loop Mensageiro2"
    },
    {
      "parameters": {
        "phoneNumber": "=553499943618",
        "message": "=Erro no envio Disparo\n{{ $('Montar Template Mensagem1').item.json.dados_lead.recipient_ref }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-dinastiapi.dinastiapiAi",
      "typeVersion": 1,
      "position": [
        2224,
        656
      ],
      "id": "0b3c5b46-dea9-49c3-b3c3-5e5e991ac4a5",
      "name": "DinastiAPI AI1",
      "credentials": {
        "dinastiapiApi": {
          "id": "3ZapuMQifinBUCyT",
          "name": "Take&Go SAC"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-dinastiapi.dinastiapiGroup",
      "typeVersion": 1,
      "position": [
        3904,
        592
      ],
      "id": "cdff3b22-ee3d-429d-8fff-e3e8ce4a90d1",
      "name": "DinastiAPI Group",
      "credentials": {
        "dinastiapiApi": {
          "id": "9v2dXlsJP0a1xLPE",
          "name": "DinastiAPI Dr Matheus"
        }
      }
    },
    {
      "parameters": {
        "content": "## Lixeira\n",
        "height": 336,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1392,
        944
      ],
      "id": "f329c747-f08c-4fd0-b6d2-b2a2c8d4dfb9",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aplic_tech-dinastiapi.trcjj4.easypanel.host/chat/send/image",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Phone\": \"{{ $('Selecionar Lead para Enviar').item.json.recipient_ref }}\",\n  \"Image\": \"https://pub-58bea372872445d982f17b69de9e4f57.r2.dev/Take/WhatsApp-Image-2026-01-19-at-10.30.jpg\",\n  \"Caption\": \"{{ $json.mensagem_processada.replace(/\\n/g, '\\\\n') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1920,
        1040
      ],
      "id": "46d88c6f-cc4d-4a4c-be72-eb0fd4c7de9f",
      "name": "Enviar Mensagem Com Imagem",
      "credentials": {
        "httpHeaderAuth": {
          "id": "H8NvFKb6Dl6uIRvF",
          "name": "Dinastia Take SAC"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aplic_tech-dinastiapi.trcjj4.easypanel.host/chat/send/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Phone\": \"{{ $('Selecionar Lead para Enviar').item.json.recipient_ref }}\",\n  \"Body\": \"{{ $json.mensagem_processada.replace(/\\n/g, '\\\\n') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1584,
        560
      ],
      "id": "59bdc4f9-010e-44ce-8118-7626a9a8973d",
      "name": "Enviar Mensagem TEXT",
      "credentials": {
        "httpHeaderAuth": {
          "id": "H8NvFKb6Dl6uIRvF",
          "name": "Dinastia Take SAC"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aplic_tech-dinastiapi.trcjj4.easypanel.host/chat/send/image",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Phone\": \"{{ $json.normalizedPhone }}\",\n  \"Image\": \"https://pub-58bea372872445d982f17b69de9e4f57.r2.dev/Take/WhatsApp-Image-2026-01-19-at-10.30.jpg\",\n  \"Caption\": \"{{ $('Montar Template Mensagem1').item.json.mensagem_processada.replace(/\\n/g, '\\\\n') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2144,
        1040
      ],
      "id": "3ff494b3-b4c8-44d2-8826-6ae998e82920",
      "name": "Tentativa de manda msg com foto denovo",
      "credentials": {
        "httpHeaderAuth": {
          "id": "EhjgBaNVVc70MYZd",
          "name": "Dinastia TAKE Comercial II"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aplic_tech-dinastiapi.trcjj4.easypanel.host/chat/send/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Phone\": \"{{ $json.normalizedPhone }}\",\n  \"Body\": \"{{ $('Montar Template Mensagem1').item.json.mensagem_processada.replace(/\\n/g, '\\\\n') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2016,
        640
      ],
      "id": "7919ce3a-5106-4c8a-816b-ff7660f4905f",
      "name": "Tentativa de mandar mensagem TEXT",
      "credentials": {
        "httpHeaderAuth": {
          "id": "H8NvFKb6Dl6uIRvF",
          "name": "Dinastia Take SAC"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "setInputs",
        "inputs": {
          "values": [
            {
              "inputName": "status",
              "inputValue": "erro"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        2368,
        656
      ],
      "id": "ff7d26c9-6c8b-4a00-b44c-0b9d4861bbce",
      "name": "Evaluation"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Cria Trava Segura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Contexto CW A",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Contato Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Liberar Trava Segura": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Att Lead - Sending DB": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selecionar Lead para Enviar": {
      "main": [
        [
          {
            "node": "Existe Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Trava Segura": {
      "main": [
        [
          {
            "node": "Selecionar Lead para Enviar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe Lead": {
      "main": [
        [
          {
            "node": "Att Lead - Sending DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Liberar Trava Segura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava Sucesso": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava Erro": {
      "main": [
        []
      ]
    },
    "Libera Trava 2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Libera Trava ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Template Mensagem": {
      "main": [
        [
          {
            "node": "CW Enviar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Mensageiro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar e cria Contato CW": {
      "main": [
        []
      ]
    },
    "Criar Contato Chatwoot": {
      "main": [
        [
          {
            "node": "Criar Conversa Chatwoot",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Criar Conversa Chatwoot": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Buscar Contato CW": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CW Enviar Mensagem": {
      "main": [
        [
          {
            "node": "Grava Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Libera Trava ": {
      "main": [
        [
          {
            "node": "Grava Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Conversa Chatwoot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tags1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Atualizar Tags1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Conversa Chatwoot1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Tags1": {
      "main": [
        [
          {
            "node": "Fechar Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contexto CW A": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contexto CW": {
      "main": [
        [
          {
            "node": "Montar Template Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Contexto CW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Tags1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fechar Conversa": {
      "main": [
        [
          {
            "node": "Libera Trava 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Montar Template Mensagem1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Montar Template Mensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Template Mensagem1": {
      "main": [
        [
          {
            "node": "Enviar Mensagem TEXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DinastiAPI AI": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Mensageiro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava Sucesso1": {
      "main": [
        [
          {
            "node": "Libera Trava 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Libera Trava 3": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "DinastiAPI AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Tentativa de mandar mensagem TEXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DinastiAPI AI1": {
      "main": [
        [
          {
            "node": "Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensagem Com Imagem": {
      "main": [
        [],
        []
      ]
    },
    "Enviar Mensagem TEXT": {
      "main": [
        [
          {
            "node": "Grava Sucesso1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tentativa de mandar mensagem TEXT": {
      "main": [
        [
          {
            "node": "Grava Sucesso1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DinastiAPI AI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation": {
      "main": [
        [
          {
            "node": "Loop Mensageiro2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Error Trigger": [
      {
        "json": {
          "execution": {
            "id": "158409",
            "url": "https://n8n-aplictech-editor.aplicgo.com/workflow/uuL_555378Uv6TxH1gugc/executions/158409",
            "error": {
              "level": "warning",
              "tags": {},
              "description": "<!DOCTYPE html>\n<html>\n<head>\n  <title>The page you were looking for doesn't exist (404)</title>\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n  <style>\n  body {\n    background-color: #EFEFEF;\n    color: #2E2F30;\n    text-align: center;\n    font-family: arial, sans-serif;\n    margin: 0;\n  }\n\n  div.dialog {\n    width: 95%;\n    max-width: 33em;\n    margin: 4em auto 0;\n  }\n\n  div.dialog > div {\n    border: 1px solid #CCC;\n    border-right-color: #999;\n    border-left-color: #999;\n    border-bottom-color: #BBB;\n    border-top: #B00100 solid 4px;\n    border-top-left-radius: 9px;\n    border-top-right-radius: 9px;\n    background-color: white;\n    padding: 7px 12% 0;\n    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);\n  }\n\n  h1 {\n    font-size: 100%;\n    color: #730E15;\n    line-height: 1.5em;\n  }\n\n  div.dialog > p {\n    margin: 0 0 1em;\n    padding: 1em;\n    background-color: #F7F7F7;\n    border: 1px solid #CCC;\n    border-right-color: #999;\n    border-left-color: #999;\n    border-bottom-color: #999;\n    border-bottom-left-radius: 4px;\n    border-bottom-right-radius: 4px;\n    border-top-color: #DADADA;\n    color: #666;\n    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);\n  }\n  </style>\n</head>\n\n<body>\n  <!-- This file lives in public/404.html -->\n  <div class=\"dialog\">\n    <div>\n      <h1>The page you were looking for doesn't exist.</h1>\n      <p>You may have mistyped the address or the page may have moved.</p>\n    </div>\n    <p>If you are the application owner check the logs for more information.</p>\n  </div>\n</body>\n</html>\n",
              "timestamp": 1768514469791,
              "context": {
                "itemIndex": 0,
                "request": {
                  "body": {
                    "content": "  Oi , aviso rápido!\n   \nAbrimos um grupo fechado no WhatsApp para quem quer garantir prioridade de compra do Take&Go START.  \n \n   No dia 19/01, o acesso será liberado primeiro para quem estiver no grupo.  \n \nSe fizer sentido pra você, entra por aqui 👇\nhttps://chat.whatsapp.com/H9zq12JCSFA6G1a1vUBS08"
                  },
                  "headers": {
                    "api_access_token": "**hidden**",
                    "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7"
                  },
                  "method": "POST",
                  "uri": "https://chat.aplicgo.com/api/v1/accounts/1/conversations//messages",
                  "gzip": true,
                  "rejectUnauthorized": true,
                  "followRedirect": true,
                  "resolveWithFullResponse": true,
                  "followAllRedirects": true,
                  "timeout": 300000,
                  "encoding": null,
                  "json": false,
                  "useStream": true
                }
              },
              "functionality": "regular",
              "name": "NodeApiError",
              "node": {
                "parameters": {
                  "preBuiltAgentsCalloutHttpRequest": "",
                  "curlImport": "",
                  "method": "POST",
                  "url": "=https://chat.aplicgo.com/api/v1/accounts/1/conversations/{{ $('Contexto CW').item.json.payload[0].id }}/messages",
                  "authentication": "genericCredentialType",
                  "genericAuthType": "httpHeaderAuth",
                  "provideSslCertificates": false,
                  "sendQuery": false,
                  "sendHeaders": false,
                  "sendBody": true,
                  "contentType": "json",
                  "specifyBody": "keypair",
                  "bodyParameters": {
                    "parameters": [
                      {
                        "name": "content",
                        "value": "={{ $json.mensagem_processada }}"
                      }
                    ]
                  },
                  "options": {},
                  "infoMessage": ""
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.3,
                "position": [
                  3664,
                  96
                ],
                "id": "4da27755-8981-4c31-9d4e-5b0991be0563",
                "name": "CW Enviar Mensagem",
                "credentials": {
                  "httpHeaderAuth": {
                    "id": "qYj9hhaMLzVO0ydk",
                    "name": "CahtWoot Aplic #1"
                  }
                }
              },
              "messages": [
                "404 - \"<!DOCTYPE html>\\n<html>\\n<head>\\n  <title>The page you were looking for doesn't exist (404)</title>\\n  <meta name=\\\"viewport\\\" content=\\\"width=device-width,initial-scale=1\\\">\\n  <style>\\n  body {\\n    background-color: #EFEFEF;\\n    color: #2E2F30;\\n    text-align: center;\\n    font-family: arial, sans-serif;\\n    margin: 0;\\n  }\\n\\n  div.dialog {\\n    width: 95%;\\n    max-width: 33em;\\n    margin: 4em auto 0;\\n  }\\n\\n  div.dialog > div {\\n    border: 1px solid #CCC;\\n    border-right-color: #999;\\n    border-left-color: #999;\\n    border-bottom-color: #BBB;\\n    border-top: #B00100 solid 4px;\\n    border-top-left-radius: 9px;\\n    border-top-right-radius: 9px;\\n    background-color: white;\\n    padding: 7px 12% 0;\\n    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);\\n  }\\n\\n  h1 {\\n    font-size: 100%;\\n    color: #730E15;\\n    line-height: 1.5em;\\n  }\\n\\n  div.dialog > p {\\n    margin: 0 0 1em;\\n    padding: 1em;\\n    background-color: #F7F7F7;\\n    border: 1px solid #CCC;\\n    border-right-color: #999;\\n    border-left-color: #999;\\n    border-bottom-color: #999;\\n    border-bottom-left-radius: 4px;\\n    border-bottom-right-radius: 4px;\\n    border-top-color: #DADADA;\\n    color: #666;\\n    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);\\n  }\\n  </style>\\n</head>\\n\\n<body>\\n  <!-- This file lives in public/404.html -->\\n  <div class=\\\"dialog\\\">\\n    <div>\\n      <h1>The page you were looking for doesn't exist.</h1>\\n      <p>You may have mistyped the address or the page may have moved.</p>\\n    </div>\\n    <p>If you are the application owner check the logs for more information.</p>\\n  </div>\\n</body>\\n</html>\\n\""
              ],
              "httpCode": "404",
              "message": "The resource you are requesting could not be found",
              "stack": "NodeApiError: The resource you are requesting could not be found\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts:859:16)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1045:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1226:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1662:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2297:11"
            },
            "lastNodeExecuted": "CW Enviar Mensagem",
            "mode": "webhook",
            "executionContext": {
              "version": 1,
              "establishedAt": 1768514467026,
              "source": "webhook",
              "triggerNode": {
                "name": "Webhook",
                "type": "n8n-nodes-base.webhook"
              }
            }
          },
          "workflow": {
            "id": "uuL_555378Uv6TxH1gugc",
            "name": "[Envio-Massa] Mensageiro"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-aplictech-editor.aplicgo.com",
            "user-agent": "axios/1.12.0",
            "content-length": "0",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n-aplictech-editor.aplicgo.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "2b85f3cb3649",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://n8n-aplictech-editor.aplicgo.com/webhook/process-next-lead-2a8acc88-debe-484a-8004-1691eea6acbd",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "6212127e-0b32-49b5-9678-45f94d877469",
  "activeVersionId": "6212127e-0b32-49b5-9678-45f94d877469",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-15T17:33:20.441Z",
      "createdAt": "2026-01-15T17:33:20.441Z",
      "role": "workflow:owner",
      "workflowId": "uuL_555378Uv6TxH1gugc",
      "projectId": "zIWzQf2ZTqYydzuc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-28T16:00:35.669Z",
    "createdAt": "2026-01-28T16:00:23.926Z",
    "versionId": "6212127e-0b32-49b5-9678-45f94d877469",
    "workflowId": "uuL_555378Uv6TxH1gugc",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "process-next-lead-2a8acc88-debe-484a-8004-1691eea6acbd",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          160,
          -16
        ],
        "id": "2ee05089-aa01-495a-82a3-ddd37c5e5104",
        "name": "Webhook",
        "webhookId": "2a8acc88-debe-484a-8004-1691eea6acbd"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "66eb9651-84de-4743-a044-bb22bb82a585",
                "leftValue": "={{ $json.encontrado }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1552,
          128
        ],
        "id": "c944a1af-0221-461c-9a04-609442831dd6",
        "name": "If1"
      },
      {
        "parameters": {
          "content": "## Enviar Mensagem CW",
          "height": 368,
          "width": 544,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1344,
          32
        ],
        "id": "29e913b5-3d0a-4c21-94ac-cb64638ee8b8",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Enviar Mensagem CW",
          "height": 224,
          "width": 544,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1344,
          -208
        ],
        "id": "6fc8f3d0-0c29-4887-ae50-25444d324ea3",
        "name": "Sticky Note1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1552,
          -144
        ],
        "id": "b901d187-d2f6-4be6-b48a-7bc39a2d850c",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "content": "## Libera Trava",
          "height": 224,
          "width": 192,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          960,
          -208
        ],
        "id": "72e5e197-b804-4569-a94e-7dc299aa250b",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## Sending DB",
          "height": 336,
          "width": 192,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          960,
          32
        ],
        "id": "d3412dc9-cba8-4c24-b712-b08a94dd791d",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT pg_advisory_unlock(hashtext('disparador'));",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1008,
          -144
        ],
        "id": "f9fe3322-5f91-4e00-b242-92eafd6a1868",
        "name": "Liberar Trava Segura",
        "credentials": {
          "postgres": {
            "id": "bDQneub2cDRQsqRN",
            "name": "Takego-CRM"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE campaign_leads\nSET status = 'sending',\n    updated_at = NOW()\nWHERE id = $1;",
          "options": {
            "queryReplacement": "={{ $json.lead_id }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1008,
          112
        ],
        "id": "f5587734-6f9e-4428-8c7f-8debb14d0473",
        "name": "Att Lead - Sending DB",
        "credentials": {
          "postgres": {
            "id": "mXJt3ouMM8ODCrgl",
            "name": "[Utilitario] - EnvioMensagens"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  cl.template_ref,\n  cl.id AS lead_id,\n  cl.recipient_ref,\n  COALESCE(c.template_body, cl.template_ref) AS message_body,\n  c.channel\nFROM campaign_leads cl\nJOIN campaigns c ON c.id = cl.campaign_id\nWHERE cl.status IN ('draft', 'ready')\nORDER BY cl.created_at\nLIMIT 1\nFOR UPDATE SKIP LOCKED;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          624,
          -16
        ],
        "id": "7a17de2b-0445-442e-a616-4215dcb21570",
        "name": "Selecionar Lead para Enviar",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "mXJt3ouMM8ODCrgl",
            "name": "[Utilitario] - EnvioMensagens"
          }
        }
      },
      {
        "parameters": {
          "content": "## Gera Trava",
          "height": 256,
          "width": 192,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          352,
          -96
        ],
        "id": "d06f370f-ca95-417b-b700-358c060c5fa2",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT pg_try_advisory_lock(hashtext('disparador'));",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          400,
          -16
        ],
        "id": "c366ab80-0133-4cd9-bf22-5d6ac01baed8",
        "name": "Cria Trava Segura",
        "credentials": {
          "postgres": {
            "id": "mXJt3ouMM8ODCrgl",
            "name": "[Utilitario] - EnvioMensagens"
          }
        }
      },
      {
        "parameters": {
          "content": "## Gera Trava",
          "height": 256,
          "width": 384,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          560,
          -96
        ],
        "id": "55a20564-ed27-4142-934a-b57643573fa7",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "27c22f73-4c72-4ef0-9de8-81f3e849770d",
                "leftValue": "={{ $json.lead_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          784,
          -16
        ],
        "id": "94103d6f-cd10-4c16-95f2-81d2147b67a9",
        "name": "Existe Lead"
      },
      {
        "parameters": {
          "content": "## Salvar Resultado",
          "height": 368,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          3552,
          -64
        ],
        "id": "ac771b33-2d48-4b5c-9146-d5bcd769741c",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "content": "## Libera Trava",
          "height": 224,
          "width": 192,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          4560,
          -64
        ],
        "id": "b30ab3d8-daf0-48b8-8685-523f0510f00b",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE campaign_leads\nSET status = 'sent',\n    updated_at = NOW()\nWHERE id = $1;",
          "options": {
            "queryReplacement": "={{ $('Selecionar Lead para Enviar').item.json.lead_id }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          3632,
          0
        ],
        "id": "33ec1bc7-ca8f-4e0f-b6ca-2675cadc2359",
        "name": "Grava Sucesso",
        "credentials": {
          "postgres": {
            "id": "mXJt3ouMM8ODCrgl",
            "name": "[Utilitario] - EnvioMensagens"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE campaign_leads\nSET status = 'failed',\n    last_error = :error,\n    updated_at = NOW()\nWHERE id = :lead_id;",
          "options": {
            "queryReplacement": ""
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          832,
          608
        ],
        "id": "b99f20cc-e1f1-4e56-b2f1-95fa3049ba0f",
        "name": "Grava Erro",
        "credentials": {
          "postgres": {
            "id": "mXJt3ouMM8ODCrgl",
            "name": "[Utilitario] - EnvioMensagens"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n-aplictech-editor.aplicgo.com/webhook/process-next-lead-2a8acc88-debe-484a-8004-1691eea6acbd",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          5008,
          0
        ],
        "id": "e701779b-2e40-488e-a98d-ef504b44a5d1",
        "name": "Loop Mensageiro"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT pg_advisory_unlock(hashtext('disparador'));",
          "options": {
            "queryReplacement": ""
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          4608,
          0
        ],
        "id": "bd6e1230-d637-4214-aa5e-11a7eec46171",
        "name": "Libera Trava 2",
        "credentials": {
          "postgres": {
            "id": "mXJt3ouMM8ODCrgl",
            "name": "[Utilitario] - EnvioMensagens"
          }
        }
      },
      {
        "parameters": {
          "content": "## Loop",
          "height": 224,
          "width": 192,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          4960,
          -64
        ],
        "id": "3a421812-f7a8-40f6-ad71-4b347b9fcb41",
        "name": "Sticky Note8"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          416,
          608
        ],
        "id": "39d4bf4d-4630-4bde-a60f-b53c39945401",
        "name": "Error Trigger"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT pg_advisory_unlock(hashtext('disparador'));",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          608,
          608
        ],
        "id": "0a1b2741-971d-4585-a736-78c5119a2a5e",
        "name": "Libera Trava ",
        "credentials": {
          "postgres": {
            "id": "mXJt3ouMM8ODCrgl",
            "name": "[Utilitario] - EnvioMensagens"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ========================================\n// Nó: \"Processar Template de Mensagem\"\n// ========================================\n\n// ========================================\n// 1. CONFIGURAÇÃO\n// ⚠️ MODIFICAR AQUI: Nomes dos nós de origem\n// ========================================\nconst NO_SELECIONAR_LEAD = 'Selecionar Lead para Enviar';\nconst NO_BUSCAR_CONTATO = 'Buscar Contato CW';\nconst NO_CRIAR_CONTATO = 'Criar Contato Chatwoot';\n\n// Campo onde está o template\nconst CAMPO_TEMPLATE = 'message_body';\n\n// ========================================\n// 2. FUNÇÃO AUXILIAR PARA BUSCAR DADOS\n// ========================================\nconst getSafeData = (nodeName) => {\n  try {\n    const node = $(nodeName);\n    return node?.first()?.json || null;\n  } catch {\n    return null;\n  }\n};\n\n// ========================================\n// 3. RECUPERAR TEMPLATE\n// ========================================\nconst leadData = getSafeData(NO_SELECIONAR_LEAD) || $input.first()?.json;\n\nif (!leadData) {\n  throw new Error('❌ Não foi possível recuperar dados do nó: ' + NO_SELECIONAR_LEAD);\n}\n\nconst template = leadData[CAMPO_TEMPLATE] || '';\n\nif (!template) {\n  throw new Error('❌ Campo \"' + CAMPO_TEMPLATE + '\" está vazio');\n}\n\nconsole.log('✅ Template recuperado:', template.substring(0, 50) + '...');\n\n// ========================================\n// 4. RECUPERAR NOME DO CONTATO\n// ========================================\n// Tenta buscar primeiro (mais provável)\nlet nomeContato = null;\n\nconst buscarData = getSafeData(NO_BUSCAR_CONTATO);\nif (buscarData && buscarData.name) {\n  nomeContato = buscarData.name;\n  console.log('✅ Nome recuperado de Buscar Contato:', nomeContato);\n}\n\n// Se não encontrou, tenta do Criar Contato\nif (!nomeContato) {\n  const criarData = getSafeData(NO_CRIAR_CONTATO);\n  if (criarData && criarData.payload && criarData.payload.contact) {\n    nomeContato = criarData.payload.contact.name;\n    console.log('✅ Nome recuperado de Criar Contato:', nomeContato);\n  }\n}\n\n// Fallback se não encontrar em nenhum lugar\nif (!nomeContato) {\n  nomeContato = ''; // ⚠️ Vazio como fallback\n  console.log('⚠️ Nome não encontrado, usando fallback vazio');\n}\n\n// ========================================\n// 5. VALIDAR SE NOME É APENAS NÚMERO\n// ========================================\n// Remove espaços e verifica se o que sobra é só número\nconst nomeApenaNumeros = /^\\d+$/.test(nomeContato.toString().trim());\n\nif (nomeApenaNumeros) {\n  nomeContato = ''; // Substitui por vazio se for só números\n  console.log('⚠️ Nome era apenas números, substituído por vazio');\n}\n\n// ========================================\n// 6. FUNÇÃO PARA GERAR ESPAÇOS ALEATÓRIOS\n// ========================================\nfunction gerarEspacosAleatorios() {\n  const quantidade = Math.floor(Math.random() * 3) + 1; // 1, 2 ou 3 espaços\n  return ' '.repeat(quantidade);\n}\n\n// ========================================\n// 7. PROCESSAR TEMPLATE\n// ========================================\nlet mensagemProcessada = template;\n\n// Substitui [nome] pelo nome do contato (ou vazio se for número)\nmensagemProcessada = mensagemProcessada.replace(/\\[nome\\]/gi, nomeContato);\n\n// Substitui CADA ocorrência de [esp] por espaços aleatórios\n// Usa uma função para que cada [esp] tenha quantidade diferente\nmensagemProcessada = mensagemProcessada.replace(/\\[esp\\]/g, () => {\n  return gerarEspacosAleatorios();\n});\n\nconsole.log('✅ Template processado com sucesso!');\nconsole.log('📝 Prévia:', mensagemProcessada.substring(0, 100) + '...');\n\n// ========================================\n// 8. RETORNO\n// ========================================\nreturn [{\n  json: {\n    // Mensagem final processada\n    mensagem_processada: mensagemProcessada,\n    \n    // Template original\n    template_original: template,\n    \n    // Dados de substituição aplicados\n    nome_usado: nomeContato || '(vazio)',\n    nome_era_numero: nomeApenaNumeros,\n    total_espacos_inseridos: (template.match(/\\[esp\\]/g) || []).length,\n    \n    // Estatísticas\n    tamanho_original: template.length,\n    tamanho_processado: mensagemProcessada.length,\n    \n    // Passa todos os dados originais\n    dados_lead: leadData\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3168,
          0
        ],
        "id": "648e133b-fc7e-4642-bd2a-60cefac38e58",
        "name": "Montar Template Mensagem"
      },
      {
        "parameters": {
          "content": "###  Postgres",
          "height": 640,
          "width": 800,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          352,
          -240
        ],
        "id": "1f89bad2-b69b-4d32-b69c-d308a8ab1d5a",
        "name": "Sticky Note9"
      },
      {
        "parameters": {
          "content": "###  Chatwoot",
          "height": 640,
          "width": 1040,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1344,
          -240
        ],
        "id": "f77a1242-3285-4b70-885e-f7d97c44b4fc",
        "name": "Sticky Note10"
      },
      {
        "parameters": {
          "content": "###  Postgres",
          "height": 416,
          "width": 480,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          3056,
          -112
        ],
        "id": "fa36a41d-29d3-4c80-8e59-1607ba915ede",
        "name": "Sticky Note11"
      },
      {
        "parameters": {
          "content": "## Gerar e Enviar Mensagem",
          "height": 368,
          "width": 480,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          3056,
          -64
        ],
        "id": "f6167c3f-2c84-4701-94bf-178de23471fa",
        "name": "Sticky Note12"
      },
      {
        "parameters": {
          "content": "##  Error Handler",
          "height": 256,
          "width": 800,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          352,
          512
        ],
        "id": "9e821d79-12b0-495b-b6fb-a6dff5cab449",
        "name": "Sticky Note13"
      },
      {
        "parameters": {
          "content": "## Webhook",
          "height": 256,
          "width": 224,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          96,
          -96
        ],
        "id": "111d7952-5a24-41fa-a2a6-597d9e2a9750",
        "name": "Sticky Note14"
      },
      {
        "parameters": {
          "amount": "={{ (Math.floor(Math.random() * 21) + 50)}}"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          4816,
          0
        ],
        "id": "e1441235-6858-48f3-9949-6395e3aa206e",
        "name": "Wait",
        "webhookId": "49351bbc-7802-4518-8f31-ff374e4c47e6"
      },
      {
        "parameters": {
          "jsCode": "// ========================================\n// Nó: \"Buscar/Criar Contato e Conversa Chatwoot\"\n// ========================================\n\n// ========================================\n// 1. CONFIGURAÇÃO\n// ⚠️ MODIFICAR AQUI SE NECESSÁRIO\n// ========================================\nconst CHATWOOT_CONFIG = {\n  url: 'https://chat.aplicgo.com',\n  accountId: '1',\n  apiKey: 'fmURrfLvWrJbtkAu6RUtQLYn',\n  inboxId: 7,\n  assigneeId: 1,\n  teamId: 1,\n  retryDelay: 600 // ms entre tentativas\n};\n\n// ========================================\n// 2. RECUPERAÇÃO DOS DADOS\n// ⚠️ MODIFICAR AQUI: Nome do nó e campos de origem\n// ========================================\nconst NO_ORIGEM = 'Selecionar Lead para Enviar';\nconst CAMPO_TELEFONE = 'recipient_ref';\nconst CAMPO_NOME = 'full_name'; // ⚠️ Ajustar se necessário\nconst CAMPO_EMAIL = 'email';     // ⚠️ Ajustar se necessário\n\nconst getSafeData = (nodeName) => {\n  try {\n    const node = $(nodeName);\n    return node?.first()?.json || null;\n  } catch {\n    return null;\n  }\n};\n\nconst leadData = getSafeData(NO_ORIGEM) || $input.first()?.json;\n\nif (!leadData) {\n  throw new Error('❌ Não foi possível recuperar dados do nó: ' + NO_ORIGEM);\n}\n\nconst telefoneRaw = leadData[CAMPO_TELEFONE] || '';\nconst nomeCompleto = leadData[CAMPO_NOME] || '';\nconst emailRaw = leadData[CAMPO_EMAIL] || '';\n\nif (!telefoneRaw) {\n  throw new Error('❌ Campo \"' + CAMPO_TELEFONE + '\" está vazio');\n}\n\nconsole.log('✅ Dados recuperados - Tel:', telefoneRaw, '| Nome:', nomeCompleto);\n\n// ========================================\n// 3. FUNÇÕES AUXILIARES\n// ========================================\n\n// Função de busca\nasync function buscarContato(query, tipo) {\n  if (!query) return null;\n   \n  try {\n    console.log('🔍 Buscando por ' + tipo + ': \"' + query + '\"');\n     \n    const options = {\n      method: 'GET',\n      url: `${CHATWOOT_CONFIG.url}/api/v1/accounts/${CHATWOOT_CONFIG.accountId}/contacts/search`,\n      qs: { q: query },\n      headers: {\n        'api_access_token': CHATWOOT_CONFIG.apiKey,\n        'Content-Type': 'application/json'\n      },\n      json: true\n    };\n     \n    const response = await this.helpers.httpRequest(options);\n    const contato = (response.payload && response.payload.length > 0) ? response.payload[0] : null;\n     \n    if (contato) {\n      console.log('✅ Encontrado por ' + tipo + '!');\n    }\n     \n    return contato;\n     \n  } catch (error) {\n    if (error.statusCode === 422) {\n      console.log('ℹ️ Não encontrado por ' + tipo + ' (422)');\n      return null;\n    }\n    console.log('❌ Erro na busca por ' + tipo + ':', error.message);\n    return null;\n  }\n}\n\n// Função para criar contato\nasync function criarContato(telefone, nome, email) {\n  try {\n    console.log('🆕 Criando novo contato...');\n    \n    // Formata telefone com +\n    const telefoneFormatado = telefone.trim().startsWith('+') ? telefone.trim() : '+' + telefone.trim();\n    \n    // Valida email\n    const emailValido = email && /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email) \n      ? email.toLowerCase().trim() \n      : null;\n    \n    const options = {\n      method: 'POST',\n      url: `${CHATWOOT_CONFIG.url}/api/v1/accounts/${CHATWOOT_CONFIG.accountId}/contacts`,\n      headers: {\n        'api_access_token': CHATWOOT_CONFIG.apiKey,\n        'Content-Type': 'application/json'\n      },\n      body: {\n        inbox_id: CHATWOOT_CONFIG.inboxId,\n        name: nome,\n        email: emailValido,\n        phone_number: telefoneFormatado\n      },\n      json: true\n    };\n    \n    const response = await this.helpers.httpRequest(options);\n    \n    console.log('✅ Contato criado! ID:', response.payload?.contact?.id);\n    \n    return response.payload?.contact || null;\n    \n  } catch (error) {\n    console.log('❌ Erro ao criar contato:', error.message);\n    throw error;\n  }\n}\n\n// Função para criar conversa\nasync function criarConversa(contactId) {\n  try {\n    console.log('💬 Criando conversa para contact_id:', contactId);\n    \n    const options = {\n      method: 'POST',\n      url: `${CHATWOOT_CONFIG.url}/api/v1/accounts/${CHATWOOT_CONFIG.accountId}/conversations`,\n      headers: {\n        'api_access_token': CHATWOOT_CONFIG.apiKey,\n        'Content-Type': 'application/json'\n      },\n      body: {\n        inbox_id: CHATWOOT_CONFIG.inboxId,\n        contact_id: contactId,\n        status: 'open',\n        assignee_id: CHATWOOT_CONFIG.assigneeId,\n        team_id: CHATWOOT_CONFIG.teamId\n      },\n      json: true\n    };\n    \n    const response = await this.helpers.httpRequest(options);\n    \n    console.log('✅ Conversa criada! ID:', response.id);\n    \n    return response;\n    \n  } catch (error) {\n    console.log('❌ Erro ao criar conversa:', error.message);\n    throw error;\n  }\n}\n\n// ========================================\n// 4. PREPARAÇÃO DAS VARIAÇÕES DE TELEFONE\n// ========================================\nconst telefone = telefoneRaw.replace(/\\D/g, '');\nconst variacoesTelefone = [];\n\nif (telefone) {\n  // Variação 1: Telefone completo\n  variacoesTelefone.push({ query: telefone, tipo: 'telefone_completo' });\n   \n  // Variação 2: Sem código do país 55\n  if (telefone.startsWith('55') && telefone.length > 11) {\n    variacoesTelefone.push({ \n      query: telefone.slice(2), \n      tipo: 'telefone_sem_codigo_pais' \n    });\n  }\n\n  // Variação 3: Formato legado (remove o 9 verificador)\n  const temNove = telefone.length >= 11 && telefone[telefone.length - 9] === '9';\n  if (temNove) {\n    const parte1 = telefone.slice(0, -9);\n    const ddd = telefone.slice(-11, -9);\n    const numeroSem9 = telefone.slice(-8);\n    \n    variacoesTelefone.push({\n      query: parte1 + ddd + numeroSem9,\n      tipo: 'telefone_legacy_sem_9'\n    });\n  }\n   \n  // Variação 4: Últimos 8 dígitos\n  if (telefone.length >= 8) {\n    variacoesTelefone.push({ \n      query: telefone.slice(-8), \n      tipo: 'telefone_reduzido' \n    });\n  }\n   \n  // Variação 5: Formato original\n  if (telefoneRaw !== telefone && telefoneRaw.length > 0) {\n    variacoesTelefone.push({ \n      query: telefoneRaw, \n      tipo: 'telefone_original' \n    });\n  }\n}\n\n// ========================================\n// 5. BUSCA DO CONTATO\n// ========================================\nlet contato = null;\nlet encontradoPor = null;\n\nfor (let i = 0; i < variacoesTelefone.length; i++) {\n  const variacao = variacoesTelefone[i];\n   \n  contato = await buscarContato.call(this, variacao.query, variacao.tipo);\n   \n  if (contato) {\n    encontradoPor = variacao.tipo;\n    break;\n  }\n   \n  if (i < variacoesTelefone.length - 1) {\n    await new Promise(resolve => setTimeout(resolve, CHATWOOT_CONFIG.retryDelay));\n  }\n}\n\n// ========================================\n// 6. CRIAR CONTATO SE NÃO ENCONTRADO\n// ========================================\nlet contatoCriado = false;\n\nif (!contato) {\n  console.log('⚠️ Contato não encontrado. Criando novo...');\n  contato = await criarContato.call(this, telefoneRaw, nomeCompleto, emailRaw);\n  contatoCriado = true;\n  encontradoPor = 'criado';\n}\n\nif (!contato || !contato.id) {\n  throw new Error('❌ Não foi possível obter contact_id');\n}\n\n// ========================================\n// 7. CRIAR CONVERSA\n// ========================================\nconst conversa = await criarConversa.call(this, contato.id);\n\n// ========================================\n// 8. RETORNO\n// ========================================\nconsole.log('🎉 Processo concluído!');\n\nreturn [{\n  json: {\n    // Dados do contato\n    contact_id: contato.id,\n    contact_name: contato.name,\n    contact_email: contato.email,\n    contact_phone: contato.phone_number,\n    contact_identifier: contato.identifier,\n    \n    // Dados da conversa\n    conversation_id: conversa.id,\n    conversation_inbox_id: conversa.inbox_id,\n    conversation_status: conversa.status,\n    \n    // Metadados\n    contato_criado: contatoCriado,\n    contato_encontrado_por: encontradoPor,\n    \n    // Dados originais do lead\n    lead_telefone: telefoneRaw,\n    lead_nome: nomeCompleto,\n    lead_email: emailRaw,\n    \n    // Payloads completos (remover se pesar)\n    payload_contato: contato,\n    payload_conversa: conversa\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1008,
          560
        ],
        "id": "0dc004a2-1641-4d31-abd9-404018551c88",
        "name": "Buscar e cria Contato CW"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://chat.aplicgo.com/api/v1/accounts/1/contacts",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "inbox_id",
                "value": "=10"
              },
              {
                "name": "name",
                "value": "={{ $json.telefone_buscado.replace(/\\D/g, '') }}"
              },
              {
                "name": "phone_number",
                "value": "={{ (() => {\n  const n = $json.telefone_buscado\n    ? $json.telefone_buscado.replace(/\\D/g, '')\n    : '';\n\n  if (!n) return '';\n\n  // Se já começar com 55, apenas adiciona o +\n  if (n.startsWith('55')) {\n    return '+' + n;\n  }\n\n  // Caso contrário, adiciona +55\n  return '+55' + n;\n})() }}"
              }
            ]
          },
          "options": {}
        },
        "id": "2c209671-84e1-4b76-b321-6be1a2a1786c",
        "name": "Criar Contato Chatwoot",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1760,
          208
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "qYj9hhaMLzVO0ydk",
            "name": "CahtWoot Aplic #1"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://chat.aplicgo.com/api/v1/accounts/1/conversations",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"inbox_id\": 10,\n  \"contact_id\": {{ \n  $json?.payload?.contact?.id \n  ?? $('Buscar Contato CW')?.first()?.json?.id \n}},\n  \"status\": \"open\",\n  \"assignee_id\": 5,\n  \"team_id\": 1\n}",
          "options": {}
        },
        "id": "687f2cc5-db5a-4497-84d4-e315272c71b5",
        "name": "Criar Conversa Chatwoot",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          2176,
          208
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "qYj9hhaMLzVO0ydk",
            "name": "CahtWoot Aplic #1"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Nó: \"Buscar Contato Chatwoot Inteligente v2\"\n\n// ========================================\n// 1. CONFIGURAÇÃO\n// ========================================\nconst CHATWOOT_CONFIG = {\n  url: 'https://chat.aplicgo.com',\n  accountId: '1',\n  apiKey: 'fmURrfLvWrJbtkAu6RUtQLYn',\n  retryDelay: 600 // ms entre tentativas\n};\n\n// ========================================\n// 2. RECUPERAÇÃO DE DADOS DO LEAD\n// ========================================\nconst getSafeData = (nodeName) => {\n  try {\n    const node = $(nodeName);\n    return node?.first()?.json || null;\n  } catch {\n    return null;\n  }\n};\n\nconst leadData = \n  getSafeData('Insert Novo Lead') || \n  getSafeData('Update Lead Existente') || \n  $input.first()?.json;\n\nif (!leadData) {\n  throw new Error('❌ Não foi possível recuperar dados do lead');\n}\n\nconsole.log('✅ Dados do lead recuperados:', leadData.id);\n\n// ========================================\n// 3. FUNÇÃO DE BUSCA (FORMATO N8N CORRETO)\n// ========================================\nasync function buscarContato(query, tipo) {\n  if (!query) return null;\n   \n  try {\n    console.log('🔍 Buscando por ' + tipo + ': \"' + query + '\"');\n     \n    const options = {\n      method: 'GET',\n      url: `${CHATWOOT_CONFIG.url}/api/v1/accounts/${CHATWOOT_CONFIG.accountId}/contacts/search`,\n      qs: { q: query },\n      headers: {\n        'api_access_token': CHATWOOT_CONFIG.apiKey,\n        'Content-Type': 'application/json'\n      },\n      json: true\n    };\n     \n    const response = await this.helpers.httpRequest(options);\n     \n    // console.log('📡 Resposta:', JSON.stringify(response));\n     \n    const contato = (response.payload && response.payload.length > 0) ? response.payload[0] : null;\n     \n    if (contato) {\n      console.log('✅ Encontrado por ' + tipo + '!');\n    }\n     \n    return contato;\n     \n  } catch (error) {\n    // Trata erro 422 (não encontrado) como resultado vazio\n    if (error.statusCode === 422) {\n      console.log('ℹ️ Não encontrado por ' + tipo + ' (422)');\n      return null;\n    }\n    console.log('❌ Erro na busca por ' + tipo + ':', error.message);\n    return null;\n  }\n}\n\n// ========================================\n// 4. PREPARAÇÃO DAS VARIAÇÕES DE TELEFONE\n// ========================================\nconst telefoneRaw = leadData.phone_number || '';\n// Remove tudo que não for número\nconst telefone = telefoneRaw.replace(/\\D/g, '');\nconst email = leadData.email || '';\n\n// Gera todas as variações de telefone\nconst variacoesTelefone = [];\n\nif (telefone) {\n  // 1. Telefone completo (ex: 5541988887777)\n  variacoesTelefone.push({ query: telefone, tipo: 'telefone_completo' });\n   \n  // 2. Sem código do país - 55 (ex: 41999887766)\n  if (telefone.startsWith('55') && telefone.length > 11) {\n    variacoesTelefone.push({ \n      query: telefone.slice(2), \n      tipo: 'telefone_sem_codigo_pais' \n    });\n  }\n\n  // >>> NOVA LÓGICA SOLICITADA <<<\n  // 2.5. Formato Antigo: Remove 55 E remove o 9 verificador\n  // Lógica: Se tem 13 dígitos, começa com 55 e o quinto dígito é 9 (índice 4)\n  // Ex Entrada: 55 41 9 88887777 -> Saída: 4188887777\n// 2.5. Formato Antigo: Remove o 9 verificador (celulares)\n  // Funciona para: 5541988887777 (13 dig) OU 41988887777 (11 dig)\n  const temNove = telefone.length >= 11 && telefone[telefone.length - 9] === '9';\n  \n  if (temNove) {\n    // Remove o 9 que está na 3ª posição dos últimos 9 dígitos\n    const parte1 = telefone.slice(0, -9); // Tudo antes dos 9 dígitos finais\n    const ddd = telefone.slice(-11, -9); // DDD (2 dígitos antes do 9)\n    const numeroSem9 = telefone.slice(-8); // 8 dígitos finais\n    \n    variacoesTelefone.push({\n      query: parte1 + ddd + numeroSem9,\n      tipo: 'telefone_legacy_sem_9'\n    });\n  }\n   \n  // 3. Últimos 8 dígitos (ex: 88887766)\n  // Útil para buscar quando o DDD está incerto ou erro de formatação\n  if (telefone.length >= 8) {\n    variacoesTelefone.push({ \n      query: telefone.slice(-8), \n      tipo: 'telefone_reduzido' \n    });\n  }\n   \n  // 4. Formato original (caso tenha caracteres especiais salvos no chatwoot)\n  if (telefoneRaw !== telefone && telefoneRaw.length > 0) {\n    variacoesTelefone.push({ \n      query: telefoneRaw, \n      tipo: 'telefone_original' \n    });\n  }\n}\n\nconsole.log('📞 ' + variacoesTelefone.length + ' variações de telefone geradas para busca');\nconsole.log('📧 Email:', email || 'não informado');\n\n// ========================================\n// 5. BUSCA SEQUENCIAL COM DELAY\n// ========================================\nlet contato = null;\nlet encontradoPor = null;\n\n// Busca por todas as variações de telefone\nfor (let i = 0; i < variacoesTelefone.length; i++) {\n  const variacao = variacoesTelefone[i];\n   \n  contato = await buscarContato.call(this, variacao.query, variacao.tipo);\n   \n  if (contato) {\n    encontradoPor = variacao.tipo;\n    break;\n  }\n   \n  // Delay entre tentativas (exceto na última)\n  if (i < variacoesTelefone.length - 1) {\n    await new Promise(resolve => setTimeout(resolve, CHATWOOT_CONFIG.retryDelay));\n  }\n}\n\n// Busca por email como última tentativa\nif (!contato && email) {\n  await new Promise(resolve => setTimeout(resolve, CHATWOOT_CONFIG.retryDelay));\n  contato = await buscarContato.call(this, email, 'email');\n  if (contato) {\n    encontradoPor = 'email';\n  }\n}\n\n// ========================================\n// 6. RETORNO (FORMATO N8N CORRETO)\n// ========================================\nif (!contato) {\n  console.log('❌ Contato não encontrado após todas as tentativas');\n   \n  // Retorna estrutura indicando que não foi encontrado\n  return [{\n    json: {\n      encontrado: false,\n      tentativas: variacoesTelefone.length + (email ? 1 : 0),\n      lead_id: leadData.id,\n      lead_full_name: leadData.full_name,\n      lead_email: leadData.email,\n      lead_phone: leadData.phone_number\n    }\n  }];\n}\n\nconsole.log('🎉 Contato encontrado!');\n\nreturn [{\n  json: {\n    // Dados do contato encontrado\n    id: contato.id,\n    name: contato.name,\n    email: contato.email,\n    phone_number: contato.phone_number,\n    identifier: contato.identifier,\n\n    //Payload Completo - Pode ser retirado se pesar\n    payload_completo: contato,\n     \n    // Metadados da busca\n    encontrado: true,\n    encontrado_por: encontradoPor,\n     \n    // Dados originais do lead\n    lead_id: leadData.id,\n    lead_full_name: leadData.full_name,\n    lead_email: leadData.email,\n    lead_phone: leadData.phone_number,\n     \n    // Flags úteis para próximos nós\n    tem_identifier: !!contato.identifier,\n    identifier_valido: contato.identifier?.includes('@s.whatsapp.net') || false,\n    precisa_update_email: !contato.email && !!leadData.email\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1008,
          688
        ],
        "id": "5410ba6a-8b67-4c40-b688-96decf6edf22",
        "name": "Busca por Contato Chatwoot2"
      },
      {
        "parameters": {
          "jsCode": "// ========================================\n// Nó: \"Buscar Contato Chatwoot por Telefone\"\n// ========================================\n\n// ========================================\n// 1. CONFIGURAÇÃO DO CHATWOOT\n// ========================================\nconst CHATWOOT_CONFIG = {\n  url: 'https://chat.aplicgo.com',\n  accountId: '1',\n  apiKey: 'fmURrfLvWrJbtkAu6RUtQLYn',\n  retryDelay: 600 // ms entre tentativas de busca\n};\n\n// ========================================\n// 2. RECUPERAÇÃO DO TELEFONE\n// ⚠️ MODIFICAR AQUI: Nome do nó de origem\n// ========================================\nconst NOde_ORIGEM = 'Selecionar Lead para Enviar';\nconst CAMPO_TELEFONE = 'recipient_ref';\n\nconst getSafeData = (nodeName) => {\n  try {\n    const node = $(nodeName);\n    return node?.first()?.json || null;\n  } catch {\n    return null;\n  }\n};\n\nconst leadData = getSafeData(NOde_ORIGEM) || $input.first()?.json;\n\nif (!leadData) {\n  throw new Error('❌ Não foi possível recuperar dados do nó: ' + NOde_ORIGEM);\n}\n\n// ⚠️ TELEFONE VEM DO CAMPO 'recipient_ref'\nconst telefoneRaw = leadData[CAMPO_TELEFONE] || '';\n\nif (!telefoneRaw) {\n  throw new Error('❌ Campo \"' + CAMPO_TELEFONE + '\" está vazio ou não existe');\n}\n\nconsole.log('✅ Telefone recuperado:', telefoneRaw);\n\n// ========================================\n// 3. FUNÇÃO DE BUSCA NO CHATWOOT\n// ========================================\nasync function buscarContato(query, tipo) {\n  if (!query) return null;\n   \n  try {\n    console.log('🔍 Buscando por ' + tipo + ': \"' + query + '\"');\n     \n    const options = {\n      method: 'GET',\n      url: `${CHATWOOT_CONFIG.url}/api/v1/accounts/${CHATWOOT_CONFIG.accountId}/contacts/search`,\n      qs: { q: query },\n      headers: {\n        'api_access_token': CHATWOOT_CONFIG.apiKey,\n        'Content-Type': 'application/json'\n      },\n      json: true\n    };\n     \n    const response = await this.helpers.httpRequest(options);\n     \n    const contato = (response.payload && response.payload.length > 0) ? response.payload[0] : null;\n     \n    if (contato) {\n      console.log('✅ Encontrado por ' + tipo + '!');\n    }\n     \n    return contato;\n     \n  } catch (error) {\n    // Trata erro 422 (não encontrado) como resultado vazio\n    if (error.statusCode === 422) {\n      console.log('ℹ️ Não encontrado por ' + tipo + ' (422)');\n      return null;\n    }\n    console.log('❌ Erro na busca por ' + tipo + ':', error.message);\n    return null;\n  }\n}\n\n// ========================================\n// 4. GERAÇÃO DE VARIAÇÕES DE TELEFONE\n// ========================================\n// Remove tudo que não for número\nconst telefone = telefoneRaw.replace(/\\D/g, '');\n\nconst variacoesTelefone = [];\n\nif (telefone) {\n  // Variação 1: Telefone completo (ex: 5541988887777)\n  variacoesTelefone.push({ \n    query: telefone, \n    tipo: 'telefone_completo' \n  });\n   \n  // Variação 2: Sem código do país 55 (ex: 41988887777)\n  if (telefone.startsWith('55') && telefone.length > 11) {\n    variacoesTelefone.push({ \n      query: telefone.slice(2), \n      tipo: 'telefone_sem_codigo_pais' \n    });\n  }\n\n  // Variação 3: Formato legado (remove o 9 verificador de celular)\n  // Ex: 5541988887777 -> 554188887777\n  // Ex: 41988887777 -> 4188887777\n  const temNove = telefone.length >= 11 && telefone[telefone.length - 9] === '9';\n  \n  if (temNove) {\n    const parte1 = telefone.slice(0, -9);      // Tudo antes dos 9 dígitos finais\n    const ddd = telefone.slice(-11, -9);       // DDD (2 dígitos)\n    const numeroSem9 = telefone.slice(-8);     // 8 dígitos finais\n    \n    variacoesTelefone.push({\n      query: parte1 + ddd + numeroSem9,\n      tipo: 'telefone_legacy_sem_9'\n    });\n  }\n   \n  // Variação 4: Últimos 8 dígitos (ex: 88887777)\n  if (telefone.length >= 8) {\n    variacoesTelefone.push({ \n      query: telefone.slice(-8), \n      tipo: 'telefone_reduzido' \n    });\n  }\n   \n  // Variação 5: Formato original com caracteres especiais\n  if (telefoneRaw !== telefone && telefoneRaw.length > 0) {\n    variacoesTelefone.push({ \n      query: telefoneRaw, \n      tipo: 'telefone_original' \n    });\n  }\n}\n\nconsole.log('📞 ' + variacoesTelefone.length + ' variações geradas');\n\n// ========================================\n// 5. BUSCA SEQUENCIAL COM DELAY\n// ========================================\nlet contato = null;\nlet encontradoPor = null;\n\nfor (let i = 0; i < variacoesTelefone.length; i++) {\n  const variacao = variacoesTelefone[i];\n   \n  contato = await buscarContato.call(this, variacao.query, variacao.tipo);\n   \n  if (contato) {\n    encontradoPor = variacao.tipo;\n    break;\n  }\n   \n  // Delay entre tentativas (exceto na última)\n  if (i < variacoesTelefone.length - 1) {\n    await new Promise(resolve => setTimeout(resolve, CHATWOOT_CONFIG.retryDelay));\n  }\n}\n\n// ========================================\n// 6. RETORNO\n// ========================================\nif (!contato) {\n  console.log('❌ Contato não encontrado após ' + variacoesTelefone.length + ' tentativas');\n   \n  return [{\n    json: {\n      encontrado: false,\n      tentativas: variacoesTelefone.length,\n      telefone_buscado: telefoneRaw\n    }\n  }];\n}\n\nconsole.log('🎉 Contato encontrado via: ' + encontradoPor);\n\nreturn [{\n  json: {\n    // Dados do contato encontrado\n    id: contato.id,\n    name: contato.name,\n    email: contato.email,\n    phone_number: contato.phone_number,\n    identifier: contato.identifier,\n    \n    // Payload completo (remover se pesar)\n    payload_completo: contato,\n     \n    // Metadados\n    encontrado: true,\n    encontrado_por: encontradoPor,\n    telefone_buscado: telefoneRaw,\n     \n    // Flags úteis\n    tem_identifier: !!contato.identifier,\n    identifier_valido: contato.identifier?.includes('@s.whatsapp.net') || false\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1408,
          128
        ],
        "id": "2430fd5b-e922-4822-9b23-e0f74d01682b",
        "name": "Buscar Contato CW"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://chat.aplicgo.com/api/v1/accounts/1/conversations/{{ $('Contexto CW').item.json.payload[0].id }}/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "content",
                "value": "={{ $json.mensagem_processada }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3360,
          0
        ],
        "id": "4da27755-8981-4c31-9d4e-5b0991be0563",
        "name": "CW Enviar Mensagem",
        "credentials": {
          "httpHeaderAuth": {
            "id": "kQC8DfHM8dud7l9B",
            "name": "Chatwoot Miguel"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "32df7f3a-2db7-4a93-80ef-10c19239fd4d",
                "leftValue": "={{ $json.payload[0].messages[0].inbox_id || $json.payload[0].last_non_activity_message.inbox_id}}",
                "rightValue": 10,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2096,
          16
        ],
        "id": "a24ee250-5862-40ba-96cd-6a03af9951b1",
        "name": "If"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://chat.aplicgo.com/api/v1/accounts/1/conversations/{{ $('Edit Fields2').item.json.normalized_id }}/labels",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"labels\": [{{ $json.tagsAtualizadas }}]\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          4240,
          0
        ],
        "id": "50ff6cd9-0b98-4c24-bad6-1bdf0720bf0a",
        "name": "Atualizar Tags1",
        "credentials": {
          "httpHeaderAuth": {
            "id": "kQC8DfHM8dud7l9B",
            "name": "Chatwoot Miguel"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://chat.aplicgo.com/api/v1/accounts/1/conversations/{{ $('Edit Fields2').item.json.normalized_id }}/labels",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3952,
          0
        ],
        "id": "cfbd4c68-9a16-4dca-a0a6-bf2c0a77a6bd",
        "name": "Get Tags1",
        "credentials": {
          "httpHeaderAuth": {
            "id": "kQC8DfHM8dud7l9B",
            "name": "Chatwoot Miguel"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// 1. Tags que você deseja adicionar (se não existirem)\nconst tagsParaAdicionar = \"disparo, 5-atendimento-humano\";\n\n// 2. Tags que você deseja remover (se existirem)\n// Deixe vazio (\"\") ou liste as tags separadas por vírgula.\nconst tagsParaRemover = \"5-atendimento-ia\";\n\n// 3. Pega o array de tags do nó anterior \"Get Tags\" (usando sintaxe V1)\n// Se não houver tags existentes, será um array vazio ([]).\nconst tagsExistentes = $('Get Tags1').first().json.payload || [];\n\n\n// --- Processamento ---\n\n// 4. Cria um Set de todas as tags que DEVERÃO PERMANECER ou SER ADICIONADAS\nconst setDeTagsFinais = new Set();\n\n// 5. Converte a string de tags a serem removidas para um Set para pesquisa rápida\nconst setDeTagsParaRemover = new Set(\n    tagsParaRemover.split(',').map(tag => tag.trim()).filter(tag => tag.length > 0)\n);\n\n// 6. Adiciona ao SetFinais as tags EXISTENTES que NÃO DEVEM ser removidas\ntagsExistentes.forEach(tag => {\n    // Adiciona a tag existente APENAS se ela NÃO estiver na lista de remoção\n    if (!setDeTagsParaRemover.has(tag)) {\n        setDeTagsFinais.add(tag);\n    }\n});\n\n// 7. Adiciona as tags NOVAS/DESEJADAS ao SetFinais (o Set ignora duplicatas automaticamente)\nconst tagsNovas = tagsParaAdicionar.split(',').map(tag => tag.trim());\ntagsNovas.forEach(tag => {\n    // Adiciona a tag APENAS se ela NÃO estiver na lista de remoção (para garantir)\n    if (!setDeTagsParaRemover.has(tag)) {\n        setDeTagsFinais.add(tag);\n    }\n});\n\n\n// --- Saída ---\n\n// 8. Converte o Set de volta para um Array\nconst tagsArray = Array.from(setDeTagsFinais);\n\n// 9. Mapeia o array para adicionar as aspas em cada tag e junta em uma string.\nconst tagsAtualizadasString = tagsArray\n    .map(tag => `\"${tag}\"`) // Adiciona aspas (ex: \"tag_a\")\n    .join(','); // Junta as tags com vírgula (ex: \"tag_a\",\"tag_b\")\n\n// 10. Retorna o resultado no formato de string\nreturn [{\n    json: {\n        // Retorna a lista de tags atualizadas no formato \"tag1\",\"tag2\"\n        tagsAtualizadas: tagsAtualizadasString,\n    }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4096,
          0
        ],
        "id": "6c5a8571-2907-4469-a70b-a31c4ce3cc0e",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://chat.aplicgo.com/api/v1/accounts/1/conversations",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"inbox_id\": 10,\n  \"contact_id\": {{ \n  $json?.payload?.contact?.id \n  ?? $('Buscar Contato CW')?.first()?.json?.id \n}},\n  \"status\": \"open\",\n  \"assignee_id\": 5,\n  \"team_id\": 1\n}",
          "options": {}
        },
        "id": "a54f6dd7-c3a9-453b-a2d3-40d78c262964",
        "name": "Criar Conversa Chatwoot1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          2256,
          64
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "qYj9hhaMLzVO0ydk",
            "name": "CahtWoot Aplic #1"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://chat.aplicgo.com/api/v1/accounts/1/contacts/{{ $('Buscar Contato CW').item.json.id || $('Criar Contato Chatwoot').item.json.payload.contact.id}}/conversations",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "id": "6025da31-2328-4359-9c0f-38ec53272195",
        "name": "Contexto CW A",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1840,
          32
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "qYj9hhaMLzVO0ydk",
            "name": "CahtWoot Aplic #1"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "=https://chat.aplicgo.com/api/v1/accounts/1/contacts/{{ $('Edit Fields2').item.json.contact_normalized }}/conversations",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "id": "5ee203d2-a07a-401e-b92f-2225e7ef8f6b",
        "name": "Contexto CW",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          2944,
          0
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "qYj9hhaMLzVO0ydk",
            "name": "CahtWoot Aplic #1"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          2384,
          96
        ],
        "id": "f42e4623-0f1c-43be-a7d7-5ee19abd835f",
        "name": "Merge1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2c96fc75-f72b-42a6-9f71-52933b9443f6",
                "name": "normalized_id",
                "value": "={{ $json.payload[0].id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1968,
          32
        ],
        "id": "20fa718d-ecab-4260-947c-32408d491d7c",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0b9f916a-c7da-4bf3-8afd-64d81aa4bf32",
                "name": "normalized_id",
                "value": "={{ $json.id }}",
                "type": "number"
              },
              {
                "id": "680031a3-b254-4a57-a544-88672d46ba61",
                "name": "contact_normalized",
                "value": "={{ $json.meta.sender.id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2544,
          96
        ],
        "id": "b2771e1f-de14-4c70-91e4-36ee301d3121",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "54b77565-cc84-4f7f-b17e-bfaba08372a3",
                "name": "normalized_id",
                "value": "={{ \n  $json?.id \n  ?? $json?.payload?.[0]?.id \n  ?? $json?.normalized_id ?? ''\n}}",
                "type": "number"
              },
              {
                "id": "58f1cc40-7f83-41e0-8307-608641005cd5",
                "name": "contact_normalized",
                "value": "={{ \n  $if(\n    $json.contact_normalized,\n    $json.contact_normalized,\n    $if(\n      $('Criar Contato Chatwoot').isExecuted,\n      $('Criar Contato Chatwoot').first().json.payload.contact.id,\n      null\n    )\n  )\n}}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2720,
          0
        ],
        "id": "502ada13-9a26-403e-b0d0-95431c55ff0d",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "amount": 2
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          3792,
          0
        ],
        "id": "1fd7daef-d445-46f3-bcfa-805324c5cba0",
        "name": "Wait1",
        "webhookId": "83ee54ab-f797-44f8-8653-3160c3ef6000"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://chat.aplicgo.com/api/v1/accounts/1/conversations/{{ $('Edit Fields2').item.json.normalized_id }}/toggle_status",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n  \"status\": \"resolved\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          4400,
          0
        ],
        "id": "4cd79feb-26b0-4b08-80fd-2915327891f0",
        "name": "Fechar Conversa",
        "credentials": {
          "httpHeaderAuth": {
            "id": "kQC8DfHM8dud7l9B",
            "name": "Chatwoot Miguel"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c6ec26dc-db87-4481-b882-15819a82c453",
                "leftValue": "={{ $('Selecionar Lead para Enviar').item.json.template_ref }}",
                "rightValue": "dinastia",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1184,
          112
        ],
        "id": "02e52184-de94-4c49-818d-0d22da044dc1",
        "name": "If2"
      },
      {
        "parameters": {
          "phoneNumber": "={{ $('Selecionar Lead para Enviar').item.json.recipient_ref }}",
          "message": "={{ $('Montar Template Mensagem1').item.json.mensagem_processada }}",
          "additionalOptions": {}
        },
        "type": "n8n-nodes-dinastiapi.dinastiapiAi",
        "typeVersion": 1,
        "position": [
          1712,
          1040
        ],
        "id": "46f4682d-da0f-4909-9372-e829b0e2d647",
        "name": "DinastiAPI AI",
        "credentials": {
          "dinastiapiApi": {
            "id": "3ZapuMQifinBUCyT",
            "name": "Take&Go SAC"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ========================================\n// Nó: \"Processar Template de Mensagem\"\n// ========================================\n\n// ========================================\n// 1. CONFIGURAÇÃO\n// ⚠️ MODIFICAR AQUI: Nomes dos nós de origem\n// ========================================\nconst NO_SELECIONAR_LEAD = 'Selecionar Lead para Enviar';\nconst NO_BUSCAR_CONTATO = 'Buscar Contato CW';\nconst NO_CRIAR_CONTATO = 'Criar Contato Chatwoot';\n\n// Campo onde está o template\nconst CAMPO_TEMPLATE = 'message_body';\n\n// ========================================\n// 2. FUNÇÃO AUXILIAR PARA BUSCAR DADOS\n// ========================================\nconst getSafeData = (nodeName) => {\n  try {\n    const node = $(nodeName);\n    return node?.first()?.json || null;\n  } catch {\n    return null;\n  }\n};\n\n// ========================================\n// 3. RECUPERAR TEMPLATE\n// ========================================\nconst leadData = getSafeData(NO_SELECIONAR_LEAD) || $input.first()?.json;\n\nif (!leadData) {\n  throw new Error('❌ Não foi possível recuperar dados do nó: ' + NO_SELECIONAR_LEAD);\n}\n\nconst template = leadData[CAMPO_TEMPLATE] || '';\n\nif (!template) {\n  throw new Error('❌ Campo \"' + CAMPO_TEMPLATE + '\" está vazio');\n}\n\nconsole.log('✅ Template recuperado:', template.substring(0, 50) + '...');\n\n// ========================================\n// 4. RECUPERAR NOME DO CONTATO\n// ========================================\n// Tenta buscar primeiro (mais provável)\nlet nomeContato = null;\n\nconst buscarData = getSafeData(NO_BUSCAR_CONTATO);\nif (buscarData && buscarData.name) {\n  nomeContato = buscarData.name;\n  console.log('✅ Nome recuperado de Buscar Contato:', nomeContato);\n}\n\n// Se não encontrou, tenta do Criar Contato\nif (!nomeContato) {\n  const criarData = getSafeData(NO_CRIAR_CONTATO);\n  if (criarData && criarData.payload && criarData.payload.contact) {\n    nomeContato = criarData.payload.contact.name;\n    console.log('✅ Nome recuperado de Criar Contato:', nomeContato);\n  }\n}\n\n// Fallback se não encontrar em nenhum lugar\nif (!nomeContato) {\n  nomeContato = ''; // ⚠️ Vazio como fallback\n  console.log('⚠️ Nome não encontrado, usando fallback vazio');\n}\n\n// ========================================\n// 5. VALIDAR SE NOME É APENAS NÚMERO\n// ========================================\n// Remove espaços e verifica se o que sobra é só número\nconst nomeApenaNumeros = /^\\d+$/.test(nomeContato.toString().trim());\n\nif (nomeApenaNumeros) {\n  nomeContato = ''; // Substitui por vazio se for só números\n  console.log('⚠️ Nome era apenas números, substituído por vazio');\n}\n\n// ========================================\n// 6. FUNÇÃO PARA GERAR ESPAÇOS ALEATÓRIOS\n// ========================================\nfunction gerarEspacosAleatorios() {\n  const quantidade = Math.floor(Math.random() * 3) + 1; // 1, 2 ou 3 espaços\n  return ' '.repeat(quantidade);\n}\n\n// ========================================\n// 7. PROCESSAR TEMPLATE\n// ========================================\nlet mensagemProcessada = template;\n\n// Substitui [nome] pelo nome do contato (ou vazio se for número)\nmensagemProcessada = mensagemProcessada.replace(/\\[nome\\]/gi, nomeContato);\n\n// Substitui CADA ocorrência de [esp] por espaços aleatórios\n// Usa uma função para que cada [esp] tenha quantidade diferente\nmensagemProcessada = mensagemProcessada.replace(/\\[esp\\]/g, () => {\n  return gerarEspacosAleatorios();\n});\n\nconsole.log('✅ Template processado com sucesso!');\nconsole.log('📝 Prévia:', mensagemProcessada.substring(0, 100) + '...');\n\n// ========================================\n// 8. RETORNO\n// ========================================\nreturn [{\n  json: {\n    // Mensagem final processada\n    mensagem_processada: mensagemProcessada,\n    \n    // Template original\n    template_original: template,\n    \n    // Dados de substituição aplicados\n    nome_usado: nomeContato || '(vazio)',\n    nome_era_numero: nomeApenaNumeros,\n    total_espacos_inseridos: (template.match(/\\[esp\\]/g) || []).length,\n    \n    // Estatísticas\n    tamanho_original: template.length,\n    tamanho_processado: mensagemProcessada.length,\n    \n    // Passa todos os dados originais\n    dados_lead: leadData\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1392,
          560
        ],
        "id": "0fe26cb9-45ec-4355-950e-c64217849618",
        "name": "Montar Template Mensagem1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n-aplictech-editor.aplicgo.com/webhook/4548347a-2a42-4c28-a957-12979ac7f617",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "destinatario",
                "value": "={{ $('Selecionar Lead para Enviar').item.json.recipient_ref }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1424,
          1040
        ],
        "id": "29cde247-0897-41b9-9542-f96f2a32947d",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "amount": "={{ (Math.floor(Math.random() * 20) + 150)}}"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          2448,
          432
        ],
        "id": "14ee2197-cf34-4637-809d-11d70b8b5684",
        "name": "Wait2",
        "webhookId": "68a19d01-7dd3-4b21-8e6a-4bc88d8ad575"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n-aplictech-editor.aplicgo.com/webhook/process-next-lead-2a8acc88-debe-484a-8004-1691eea6acbd",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2640,
          432
        ],
        "id": "6291b843-17f8-40df-b27e-4f688b41031f",
        "name": "Loop Mensageiro1"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE campaign_leads\nSET status = 'sent',\n    updated_at = NOW()\nWHERE id = $1;",
          "options": {
            "queryReplacement": "={{ $('Selecionar Lead para Enviar').item.json.lead_id }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          2032,
          432
        ],
        "id": "a43d71f7-d651-4dcd-93e8-962d5b3029f3",
        "name": "Grava Sucesso1",
        "credentials": {
          "postgres": {
            "id": "mXJt3ouMM8ODCrgl",
            "name": "[Utilitario] - EnvioMensagens"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT pg_advisory_unlock(hashtext('disparador'));",
          "options": {
            "queryReplacement": ""
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          2272,
          432
        ],
        "id": "9dc111b2-68ec-472c-94bf-5d07395258e6",
        "name": "Libera Trava 3",
        "credentials": {
          "postgres": {
            "id": "mXJt3ouMM8ODCrgl",
            "name": "[Utilitario] - EnvioMensagens"
          }
        }
      },
      {
        "parameters": {
          "amount": "={{ Math.floor(Math.random() * 4) + 3 }}"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1584,
          1040
        ],
        "id": "801b7b4a-fd25-4a32-8830-47955f8e303f",
        "name": "Wait3",
        "webhookId": "44752630-ff86-47f8-b9b2-0e2467fe6b0f"
      },
      {
        "parameters": {
          "jsCode": "// Recupera o número do input anterior\nconst phone = $('Selecionar Lead para Enviar').item.json.recipient_ref;\n\n// Remove qualquer caractere que não seja número (parênteses, espaços, traços)\nlet cleanPhone = phone.toString().replace(/\\D/g, '');\n\n// --- NOVA REGRA DE PRIORIDADE ---\n// Se o número NÃO começar com 55, adicionamos agora.\n// Se já tiver o 55, ele passa direto e segue a lógica original.\nif (!cleanPhone.startsWith('55')) {\n    cleanPhone = '55' + cleanPhone;\n}\n\n// Como garantimos o 55 acima, o coreNumber (DDD + Número) será sempre o restante após o 55\nlet coreNumber = cleanPhone.substring(2);\n\n// A lógica foca no coreNumber (DDD + Número)\nlet ddd = coreNumber.substring(0, 2);\nlet rest = coreNumber.substring(2);\n\nlet processedNumber = \"\";\n\nif (rest.length === 9 && rest.startsWith('9')) {\n    // Caso 1: Tem o 9 adicional -> REMOVER o 9\n    processedNumber = ddd + rest.substring(1);\n} else if (rest.length === 8) {\n    // Caso 2: Não tem o 9 adicional -> ADICIONAR o 9\n    processedNumber = ddd + '9' + rest;\n} else {\n    // Caso 3: Formato desconhecido -> Mantém o coreNumber original\n    processedNumber = coreNumber;\n}\n\n// Remonta com o DDI 55\nconst finalPhone = \"55\" + processedNumber;\n\nreturn {\n  normalizedPhone: finalPhone,\n  originalPhone: phone\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1792,
          640
        ],
        "id": "1c5a9a41-157b-48d0-8374-b61d1b824ed9",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n-aplictech-editor.aplicgo.com/webhook/process-next-lead-2a8acc88-debe-484a-8004-1691eea6acbd",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2528,
          656
        ],
        "id": "535805c8-e7eb-4abb-8c49-9397fc316509",
        "name": "Loop Mensageiro2"
      },
      {
        "parameters": {
          "phoneNumber": "=553499943618",
          "message": "=Erro no envio Disparo\n{{ $('Montar Template Mensagem1').item.json.dados_lead.recipient_ref }}",
          "additionalOptions": {}
        },
        "type": "n8n-nodes-dinastiapi.dinastiapiAi",
        "typeVersion": 1,
        "position": [
          2224,
          656
        ],
        "id": "0b3c5b46-dea9-49c3-b3c3-5e5e991ac4a5",
        "name": "DinastiAPI AI1",
        "credentials": {
          "dinastiapiApi": {
            "id": "3ZapuMQifinBUCyT",
            "name": "Take&Go SAC"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-dinastiapi.dinastiapiGroup",
        "typeVersion": 1,
        "position": [
          3904,
          592
        ],
        "id": "cdff3b22-ee3d-429d-8fff-e3e8ce4a90d1",
        "name": "DinastiAPI Group",
        "credentials": {
          "dinastiapiApi": {
            "id": "9v2dXlsJP0a1xLPE",
            "name": "DinastiAPI Dr Matheus"
          }
        }
      },
      {
        "parameters": {
          "content": "## Lixeira\n",
          "height": 336,
          "width": 1120
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1392,
          944
        ],
        "id": "f329c747-f08c-4fd0-b6d2-b2a2c8d4dfb9",
        "name": "Sticky Note15"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://aplic_tech-dinastiapi.trcjj4.easypanel.host/chat/send/image",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"Phone\": \"{{ $('Selecionar Lead para Enviar').item.json.recipient_ref }}\",\n  \"Image\": \"https://pub-58bea372872445d982f17b69de9e4f57.r2.dev/Take/WhatsApp-Image-2026-01-19-at-10.30.jpg\",\n  \"Caption\": \"{{ $json.mensagem_processada.replace(/\\n/g, '\\\\n') }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1920,
          1040
        ],
        "id": "46d88c6f-cc4d-4a4c-be72-eb0fd4c7de9f",
        "name": "Enviar Mensagem Com Imagem",
        "credentials": {
          "httpHeaderAuth": {
            "id": "H8NvFKb6Dl6uIRvF",
            "name": "Dinastia Take SAC"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://aplic_tech-dinastiapi.trcjj4.easypanel.host/chat/send/text",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"Phone\": \"{{ $('Selecionar Lead para Enviar').item.json.recipient_ref }}\",\n  \"Body\": \"{{ $json.mensagem_processada.replace(/\\n/g, '\\\\n') }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1584,
          560
        ],
        "id": "59bdc4f9-010e-44ce-8118-7626a9a8973d",
        "name": "Enviar Mensagem TEXT",
        "credentials": {
          "httpHeaderAuth": {
            "id": "H8NvFKb6Dl6uIRvF",
            "name": "Dinastia Take SAC"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://aplic_tech-dinastiapi.trcjj4.easypanel.host/chat/send/image",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"Phone\": \"{{ $json.normalizedPhone }}\",\n  \"Image\": \"https://pub-58bea372872445d982f17b69de9e4f57.r2.dev/Take/WhatsApp-Image-2026-01-19-at-10.30.jpg\",\n  \"Caption\": \"{{ $('Montar Template Mensagem1').item.json.mensagem_processada.replace(/\\n/g, '\\\\n') }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2144,
          1040
        ],
        "id": "3ff494b3-b4c8-44d2-8826-6ae998e82920",
        "name": "Tentativa de manda msg com foto denovo",
        "credentials": {
          "httpHeaderAuth": {
            "id": "EhjgBaNVVc70MYZd",
            "name": "Dinastia TAKE Comercial II"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://aplic_tech-dinastiapi.trcjj4.easypanel.host/chat/send/text",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"Phone\": \"{{ $json.normalizedPhone }}\",\n  \"Body\": \"{{ $('Montar Template Mensagem1').item.json.mensagem_processada.replace(/\\n/g, '\\\\n') }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2016,
          640
        ],
        "id": "7919ce3a-5106-4c8a-816b-ff7660f4905f",
        "name": "Tentativa de mandar mensagem TEXT",
        "credentials": {
          "httpHeaderAuth": {
            "id": "H8NvFKb6Dl6uIRvF",
            "name": "Dinastia Take SAC"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "operation": "setInputs",
          "inputs": {
            "values": [
              {
                "inputName": "status",
                "inputValue": "erro"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.evaluation",
        "typeVersion": 4.8,
        "position": [
          2368,
          656
        ],
        "id": "ff7d26c9-6c8b-4a00-b44c-0b9d4861bbce",
        "name": "Evaluation"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Cria Trava Segura",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Contexto CW A",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Criar Contato Chatwoot",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Liberar Trava Segura": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Att Lead - Sending DB": {
        "main": [
          [
            {
              "node": "If2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Selecionar Lead para Enviar": {
        "main": [
          [
            {
              "node": "Existe Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cria Trava Segura": {
        "main": [
          [
            {
              "node": "Selecionar Lead para Enviar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Existe Lead": {
        "main": [
          [
            {
              "node": "Att Lead - Sending DB",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Liberar Trava Segura",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Grava Sucesso": {
        "main": [
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Grava Erro": {
        "main": [
          []
        ]
      },
      "Libera Trava 2": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Libera Trava ",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Montar Template Mensagem": {
        "main": [
          [
            {
              "node": "CW Enviar Mensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Loop Mensageiro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar e cria Contato CW": {
        "main": [
          []
        ]
      },
      "Criar Contato Chatwoot": {
        "main": [
          [
            {
              "node": "Criar Conversa Chatwoot",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Criar Conversa Chatwoot": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Buscar Contato CW": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CW Enviar Mensagem": {
        "main": [
          [
            {
              "node": "Grava Sucesso",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Libera Trava ": {
        "main": [
          [
            {
              "node": "Grava Erro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Criar Conversa Chatwoot1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Tags1": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Atualizar Tags1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar Conversa Chatwoot1": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Atualizar Tags1": {
        "main": [
          [
            {
              "node": "Fechar Conversa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Contexto CW A": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Contexto CW": {
        "main": [
          [
            {
              "node": "Montar Template Mensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Contexto CW",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Get Tags1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fechar Conversa": {
        "main": [
          [
            {
              "node": "Libera Trava 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If2": {
        "main": [
          [
            {
              "node": "Montar Template Mensagem1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Montar Template Mensagem1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Montar Template Mensagem1": {
        "main": [
          [
            {
              "node": "Enviar Mensagem TEXT",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DinastiAPI AI": {
        "main": [
          []
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Wait3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait2": {
        "main": [
          [
            {
              "node": "Loop Mensageiro1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Grava Sucesso1": {
        "main": [
          [
            {
              "node": "Libera Trava 3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Libera Trava 3": {
        "main": [
          [
            {
              "node": "Wait2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait3": {
        "main": [
          [
            {
              "node": "DinastiAPI AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Tentativa de mandar mensagem TEXT",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DinastiAPI AI1": {
        "main": [
          [
            {
              "node": "Evaluation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Mensagem Com Imagem": {
        "main": [
          [],
          []
        ]
      },
      "Enviar Mensagem TEXT": {
        "main": [
          [
            {
              "node": "Grava Sucesso1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tentativa de mandar mensagem TEXT": {
        "main": [
          [
            {
              "node": "Grava Sucesso1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "DinastiAPI AI1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluation": {
        "main": [
          [
            {
              "node": "Loop Mensageiro2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jesreel David Hobus",
    "name": "Version 6212127e",
    "description": "",
    "autosaved": true
  },
  "tags": []
}