workflows/_mcp_consultar__get_clinicai_calendario.json
{
  "updatedAt": "2026-02-25T14:14:49.270Z",
  "createdAt": "2026-02-24T22:45:54.769Z",
  "id": "RbCjJvu1jk5gRThA",
  "name": "[mcp_consultar] GET clinicai/calendario",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        496,
        1024
      ]
    },
    {
      "parameters": {
        "content": "## GET /clinicai/calendario",
        "height": 640,
        "width": 1392
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        464,
        752
      ],
      "id": "9ab4d8bd-d813-4d4e-82c4-4dc927121c0d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ week: 2 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1264,
        1040
      ],
      "id": "ce6ae99f-2166-4c8b-800f-1defdfe5b2a4",
      "name": "eventos2",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "d8bHQ4sRiAyrnyTJ",
          "name": "Google Calendar Aplic"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "eventos",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1424,
        1040
      ],
      "id": "9b6ad7b7-11d1-4c04-8354-5e3786194148",
      "name": "eventos3"
    },
    {
      "parameters": {
        "jsCode": "const MEETING_MIN = 50;\nconst PRE_BUF_MIN = 10;\nconst MIN = 60 * 1000;\nconst MEETING_MS = MEETING_MIN * MIN;\nconst PRE_BUF_MS = PRE_BUF_MIN * MIN;\n\nconst EVENT_TZ = 'America/Sao_Paulo';\nconst CLIENT_TZ = 'America/Sao_Paulo';\n\n// --- Cached formatters (avoid recreating in loops) ---\nconst fmtDateClient = new Intl.DateTimeFormat('en-CA', { timeZone: CLIENT_TZ, year: 'numeric', month: '2-digit', day: '2-digit' });\nconst fmtTimeClient = new Intl.DateTimeFormat('en-GB', { timeZone: CLIENT_TZ, hour: '2-digit', minute: '2-digit', hour12: false });\nconst fmtWeekdayClient = new Intl.DateTimeFormat('en-GB', { timeZone: CLIENT_TZ, weekday: 'short' });\n\nconst fmtDateByTz = {\n  [CLIENT_TZ]: fmtDateClient,\n};\nconst fmtTimeByTz = {\n  [CLIENT_TZ]: fmtTimeClient,\n};\nconst fmtWeekdayByTz = {\n  [CLIENT_TZ]: fmtWeekdayClient,\n};\n\n// Helpers use cached formatters\nfunction datePartsInTz(ts, tz) {\n  const [y, m, d] = (fmtDateByTz[tz] || new Intl.DateTimeFormat('en-CA', { timeZone: tz, year: 'numeric', month: '2-digit', day: '2-digit' }))\n    .format(new Date(ts)).split('-').map(Number);\n  return { y, m, d };\n}\n\nfunction atTimeInTz(ts, h, m, tz) {\n  const { y, m: mo, d } = datePartsInTz(ts, tz);\n  const approx = Date.UTC(y, mo - 1, d, h, m, 0, 0);\n  const shownHM = (fmtTimeByTz[tz] || new Intl.DateTimeFormat('en-GB', { timeZone: tz, hour: '2-digit', minute: '2-digit', hour12: false }))\n    .format(new Date(approx)).split(':').map(Number);\n  const diffMin = (shownHM[0] - h) * 60 + (shownHM[1] - m);\n  return approx - diffMin * MIN;\n}\n\nfunction isWeekendInTz(ts, tz) {\n  const wd = (fmtWeekdayByTz[tz] || new Intl.DateTimeFormat('en-GB', { timeZone: tz, weekday: 'short' }))\n    .format(new Date(ts));\n  return wd === 'Sun'; // Apenas domingo é considerado final de semana\n}\n\nfunction isSaturdayInTz(ts, tz) {\n  const wd = (fmtWeekdayByTz[tz] || new Intl.DateTimeFormat('en-GB', { timeZone: tz, weekday: 'short' }))\n    .format(new Date(ts));\n  return wd === 'Sat';\n}\n\nfunction mergeIntervals(a) {\n  if (!a.length) return [];\n  a.sort((x, y) => x.start - y.start);\n  const m = [a[0]];\n  for (let i = 1; i < a.length; i++) {\n    const p = m[m.length - 1], c = a[i];\n    if (c.start <= p.end) p.end = Math.max(p.end, c.end);\n    else m.push({ ...c });\n  }\n  return m;\n}\n\nfunction invertBusy(start, end, blocks) {\n  const out = [];\n  let cur = start;\n  for (const b of blocks) {\n    const s = Math.max(b.start, start), e = Math.min(b.end, end);\n    if (e <= start || s >= end) continue;\n    if (s > cur) out.push({ start: cur, end: s });\n    cur = Math.max(cur, e);\n  }\n  if (cur < end) out.push({ start: cur, end: end });\n  return out;\n}\n\n// Safe next-day in client TZ (strictly increases)\nfunction nextClientDay00(ts) {\n  const { y, m, d } = datePartsInTz(ts, CLIENT_TZ);\n  // Construct \"next day 00:00\" in CLIENT_TZ\n  const nextApproxUTC = Date.UTC(y, m - 1, d + 1, 0, 0, 0, 0);\n  // Snap to exactly 00:00 CLIENT_TZ via correction\n  const nextDay = atTimeInTz(nextApproxUTC, 0, 0, CLIENT_TZ);\n  \n  // Safety check: ensure we're actually moving forward\n  if (nextDay <= ts) {\n    // Fallback: add 25 hours to guarantee progression\n    return ts + 25 * 3600 * 1000;\n  }\n  \n  return nextDay;\n}\n\n// --- Collect and clamp inputs ---\nconst eventos = items.flatMap(i => Array.isArray(i.json?.eventos) ? i.json.eventos : []);\nconst now = Date.now();\nconst endWin = now + 14 * 24 * 3600 * 1000;\n\n// Busy = [eventStart - 10m, eventEnd] (pre-buffer only)\nconst busyRaw = [];\nfor (const e of eventos) {\n  const s = Date.parse(e?.start?.dateTime || e?.start?.date);\n  const t = Date.parse(e?.end?.dateTime || e?.end?.date);\n  if (!isNaN(s) && !isNaN(t)) {\n    const b = { start: s - PRE_BUF_MS, end: t };\n    if (b.end > now && b.start < endWin) busyRaw.push(b);\n  }\n}\nconst busy = mergeIntervals(busyRaw);\n\n// --- Build weekday working windows in Brasília (08:00–18:00, sábado 08:00-12:00) ---\nconst days = [];\nlet cursor = now;\nlet guard = 0;\nconst MAX_ITERATIONS = 14; // 7 dias * 2 de margem de segurança\n\nwhile (cursor < endWin && guard++ < MAX_ITERATIONS) {\n  const isSaturday = isSaturdayInTz(cursor, CLIENT_TZ);\n  const dayStart = atTimeInTz(cursor, 7, 0, CLIENT_TZ);\n  const dayEnd = isSaturday \n    ? atTimeInTz(cursor, 12, 0, CLIENT_TZ)  // Sábado até 12h\n    : atTimeInTz(cursor, 20, 0, CLIENT_TZ); // Dias de semana até 20h\n\n  if (!isWeekendInTz(dayStart, CLIENT_TZ)) { // Agora exclui apenas domingo\n    let start = dayStart;\n    let end = dayEnd;\n\n    // If this is \"today\" in CLIENT_TZ, earliest start is now + 10m\n    const sameClientDate = fmtDateClient.format(new Date(dayStart)) === fmtDateClient.format(new Date(now));\n    if (sameClientDate) start = Math.max(start, now + PRE_BUF_MS);\n\n    // clamp to global window\n    start = Math.max(start, now);\n    end = Math.min(end, endWin);\n\n    if (end > start) days.push({ start, end });\n  }\n\n  const next = nextClientDay00(cursor);\n  \n  // Hard safety check: ensure progression\n  if (next <= cursor) {\n    console.error('Loop detection: nextClientDay00 did not advance. Breaking.');\n    cursor += 26 * 3600 * 1000; // Force advance by 26 hours\n  } else {\n    cursor = next;\n  }\n}\n\n// Safety warning if we hit the guard\nif (guard >= MAX_ITERATIONS) {\n  console.warn(`Hit iteration limit (${MAX_ITERATIONS}). Processed ${days.length} days.`);\n}\n\n// --- Compute availability (start-time windows) per day ---\nconst availability = [];\nfor (const d of days) {\n  const dayBusy = mergeIntervals(\n    busy\n      .filter(b => b.end > d.start && b.start < d.end)\n      .map(b => ({ start: Math.max(b.start, d.start), end: Math.min(b.end, d.end) }))\n  );\n\n  const free = invertBusy(d.start, d.end, dayBusy);\n\n  // Convert free-time to valid START windows (must fit a 50-min call)\n  const startWindows = [];\n  for (const g of free) {\n    const s = g.start;\n    const e = g.end - MEETING_MS;\n    if (e > s) startWindows.push({ start: s, end: e });\n  }\n\n  if (startWindows.length) {\n    availability.push({\n      date: fmtDateClient.format(new Date(d.start)),\n      available: startWindows.map(w => ({\n        start: fmtTimeClient.format(new Date(w.start)),\n        end: fmtTimeClient.format(new Date(w.end)),\n      })),\n    });\n  }\n}\n\n// --- Single aggregated item for n8n ---\nreturn [{ json: { availability, calendarioId: $('calendario').first().json.nome } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        1040
      ],
      "id": "4bc2f851-574c-45b4-a2c4-50bff44f9a8a",
      "name": "disponibilidade2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b3fe9ab-3b0d-4fdd-8166-af5cc5df1fb5",
              "name": "calendarios",
              "value": "=[\n  {\n   \"nome\": \"Maria\",\n   \"id\": \"consultoramaria.aplic@gmail.com\"\n },\n{\n\"nome\": \"Bruna\",\n   \"id\": \"bruna.luisa018@gmail.com\"\n}\n]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        1024
      ],
      "id": "06beaac4-d201-415f-add9-99141e744a3b",
      "name": "calendarios"
    },
    {
      "parameters": {
        "fieldToSplitOut": "calendarios",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        848,
        1024
      ],
      "id": "fb0e6adc-04be-43ca-9413-42bcee7ae26c",
      "name": "calendarios1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1024,
        1024
      ],
      "id": "302ca40b-f089-4b9c-9d99-2b64d2b690fa",
      "name": "calendario"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "calendarios",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1264,
        816
      ],
      "id": "ec79b584-4e78-4bc8-862d-d9f31164f4f6",
      "name": "calendarios2"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "calendarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "eventos2": {
      "main": [
        [
          {
            "node": "eventos3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "eventos3": {
      "main": [
        [
          {
            "node": "disponibilidade2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "disponibilidade2": {
      "main": [
        [
          {
            "node": "calendario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calendarios": {
      "main": [
        [
          {
            "node": "calendarios1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calendarios1": {
      "main": [
        [
          {
            "node": "calendario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calendario": {
      "main": [
        [
          {
            "node": "calendarios2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "eventos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calendarios2": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "aadfdee9-ad3e-4635-88c5-910167215061",
  "activeVersionId": "aadfdee9-ad3e-4635-88c5-910167215061",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-24T22:45:54.769Z",
      "createdAt": "2026-02-24T22:45:54.769Z",
      "role": "workflow:owner",
      "workflowId": "RbCjJvu1jk5gRThA",
      "projectId": "zIWzQf2ZTqYydzuc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-24T22:47:44.410Z",
    "createdAt": "2026-02-24T22:47:43.444Z",
    "versionId": "aadfdee9-ad3e-4635-88c5-910167215061",
    "workflowId": "RbCjJvu1jk5gRThA",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          496,
          1024
        ]
      },
      {
        "parameters": {
          "content": "## GET /clinicai/calendario",
          "height": 640,
          "width": 1392
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          464,
          752
        ],
        "id": "9ab4d8bd-d813-4d4e-82c4-4dc927121c0d",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "returnAll": true,
          "timeMax": "={{ $now.plus({ week: 2 }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          1264,
          1040
        ],
        "id": "ce6ae99f-2166-4c8b-800f-1defdfe5b2a4",
        "name": "eventos2",
        "alwaysOutputData": true,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "d8bHQ4sRiAyrnyTJ",
            "name": "Google Calendar Aplic"
          }
        }
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "eventos",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1424,
          1040
        ],
        "id": "9b6ad7b7-11d1-4c04-8354-5e3786194148",
        "name": "eventos3"
      },
      {
        "parameters": {
          "jsCode": "const MEETING_MIN = 50;\nconst PRE_BUF_MIN = 10;\nconst MIN = 60 * 1000;\nconst MEETING_MS = MEETING_MIN * MIN;\nconst PRE_BUF_MS = PRE_BUF_MIN * MIN;\n\nconst EVENT_TZ = 'America/Sao_Paulo';\nconst CLIENT_TZ = 'America/Sao_Paulo';\n\n// --- Cached formatters (avoid recreating in loops) ---\nconst fmtDateClient = new Intl.DateTimeFormat('en-CA', { timeZone: CLIENT_TZ, year: 'numeric', month: '2-digit', day: '2-digit' });\nconst fmtTimeClient = new Intl.DateTimeFormat('en-GB', { timeZone: CLIENT_TZ, hour: '2-digit', minute: '2-digit', hour12: false });\nconst fmtWeekdayClient = new Intl.DateTimeFormat('en-GB', { timeZone: CLIENT_TZ, weekday: 'short' });\n\nconst fmtDateByTz = {\n  [CLIENT_TZ]: fmtDateClient,\n};\nconst fmtTimeByTz = {\n  [CLIENT_TZ]: fmtTimeClient,\n};\nconst fmtWeekdayByTz = {\n  [CLIENT_TZ]: fmtWeekdayClient,\n};\n\n// Helpers use cached formatters\nfunction datePartsInTz(ts, tz) {\n  const [y, m, d] = (fmtDateByTz[tz] || new Intl.DateTimeFormat('en-CA', { timeZone: tz, year: 'numeric', month: '2-digit', day: '2-digit' }))\n    .format(new Date(ts)).split('-').map(Number);\n  return { y, m, d };\n}\n\nfunction atTimeInTz(ts, h, m, tz) {\n  const { y, m: mo, d } = datePartsInTz(ts, tz);\n  const approx = Date.UTC(y, mo - 1, d, h, m, 0, 0);\n  const shownHM = (fmtTimeByTz[tz] || new Intl.DateTimeFormat('en-GB', { timeZone: tz, hour: '2-digit', minute: '2-digit', hour12: false }))\n    .format(new Date(approx)).split(':').map(Number);\n  const diffMin = (shownHM[0] - h) * 60 + (shownHM[1] - m);\n  return approx - diffMin * MIN;\n}\n\nfunction isWeekendInTz(ts, tz) {\n  const wd = (fmtWeekdayByTz[tz] || new Intl.DateTimeFormat('en-GB', { timeZone: tz, weekday: 'short' }))\n    .format(new Date(ts));\n  return wd === 'Sun'; // Apenas domingo é considerado final de semana\n}\n\nfunction isSaturdayInTz(ts, tz) {\n  const wd = (fmtWeekdayByTz[tz] || new Intl.DateTimeFormat('en-GB', { timeZone: tz, weekday: 'short' }))\n    .format(new Date(ts));\n  return wd === 'Sat';\n}\n\nfunction mergeIntervals(a) {\n  if (!a.length) return [];\n  a.sort((x, y) => x.start - y.start);\n  const m = [a[0]];\n  for (let i = 1; i < a.length; i++) {\n    const p = m[m.length - 1], c = a[i];\n    if (c.start <= p.end) p.end = Math.max(p.end, c.end);\n    else m.push({ ...c });\n  }\n  return m;\n}\n\nfunction invertBusy(start, end, blocks) {\n  const out = [];\n  let cur = start;\n  for (const b of blocks) {\n    const s = Math.max(b.start, start), e = Math.min(b.end, end);\n    if (e <= start || s >= end) continue;\n    if (s > cur) out.push({ start: cur, end: s });\n    cur = Math.max(cur, e);\n  }\n  if (cur < end) out.push({ start: cur, end: end });\n  return out;\n}\n\n// Safe next-day in client TZ (strictly increases)\nfunction nextClientDay00(ts) {\n  const { y, m, d } = datePartsInTz(ts, CLIENT_TZ);\n  // Construct \"next day 00:00\" in CLIENT_TZ\n  const nextApproxUTC = Date.UTC(y, m - 1, d + 1, 0, 0, 0, 0);\n  // Snap to exactly 00:00 CLIENT_TZ via correction\n  const nextDay = atTimeInTz(nextApproxUTC, 0, 0, CLIENT_TZ);\n  \n  // Safety check: ensure we're actually moving forward\n  if (nextDay <= ts) {\n    // Fallback: add 25 hours to guarantee progression\n    return ts + 25 * 3600 * 1000;\n  }\n  \n  return nextDay;\n}\n\n// --- Collect and clamp inputs ---\nconst eventos = items.flatMap(i => Array.isArray(i.json?.eventos) ? i.json.eventos : []);\nconst now = Date.now();\nconst endWin = now + 14 * 24 * 3600 * 1000;\n\n// Busy = [eventStart - 10m, eventEnd] (pre-buffer only)\nconst busyRaw = [];\nfor (const e of eventos) {\n  const s = Date.parse(e?.start?.dateTime || e?.start?.date);\n  const t = Date.parse(e?.end?.dateTime || e?.end?.date);\n  if (!isNaN(s) && !isNaN(t)) {\n    const b = { start: s - PRE_BUF_MS, end: t };\n    if (b.end > now && b.start < endWin) busyRaw.push(b);\n  }\n}\nconst busy = mergeIntervals(busyRaw);\n\n// --- Build weekday working windows in Brasília (08:00–18:00, sábado 08:00-12:00) ---\nconst days = [];\nlet cursor = now;\nlet guard = 0;\nconst MAX_ITERATIONS = 14; // 7 dias * 2 de margem de segurança\n\nwhile (cursor < endWin && guard++ < MAX_ITERATIONS) {\n  const isSaturday = isSaturdayInTz(cursor, CLIENT_TZ);\n  const dayStart = atTimeInTz(cursor, 7, 0, CLIENT_TZ);\n  const dayEnd = isSaturday \n    ? atTimeInTz(cursor, 12, 0, CLIENT_TZ)  // Sábado até 12h\n    : atTimeInTz(cursor, 20, 0, CLIENT_TZ); // Dias de semana até 20h\n\n  if (!isWeekendInTz(dayStart, CLIENT_TZ)) { // Agora exclui apenas domingo\n    let start = dayStart;\n    let end = dayEnd;\n\n    // If this is \"today\" in CLIENT_TZ, earliest start is now + 10m\n    const sameClientDate = fmtDateClient.format(new Date(dayStart)) === fmtDateClient.format(new Date(now));\n    if (sameClientDate) start = Math.max(start, now + PRE_BUF_MS);\n\n    // clamp to global window\n    start = Math.max(start, now);\n    end = Math.min(end, endWin);\n\n    if (end > start) days.push({ start, end });\n  }\n\n  const next = nextClientDay00(cursor);\n  \n  // Hard safety check: ensure progression\n  if (next <= cursor) {\n    console.error('Loop detection: nextClientDay00 did not advance. Breaking.');\n    cursor += 26 * 3600 * 1000; // Force advance by 26 hours\n  } else {\n    cursor = next;\n  }\n}\n\n// Safety warning if we hit the guard\nif (guard >= MAX_ITERATIONS) {\n  console.warn(`Hit iteration limit (${MAX_ITERATIONS}). Processed ${days.length} days.`);\n}\n\n// --- Compute availability (start-time windows) per day ---\nconst availability = [];\nfor (const d of days) {\n  const dayBusy = mergeIntervals(\n    busy\n      .filter(b => b.end > d.start && b.start < d.end)\n      .map(b => ({ start: Math.max(b.start, d.start), end: Math.min(b.end, d.end) }))\n  );\n\n  const free = invertBusy(d.start, d.end, dayBusy);\n\n  // Convert free-time to valid START windows (must fit a 50-min call)\n  const startWindows = [];\n  for (const g of free) {\n    const s = g.start;\n    const e = g.end - MEETING_MS;\n    if (e > s) startWindows.push({ start: s, end: e });\n  }\n\n  if (startWindows.length) {\n    availability.push({\n      date: fmtDateClient.format(new Date(d.start)),\n      available: startWindows.map(w => ({\n        start: fmtTimeClient.format(new Date(w.start)),\n        end: fmtTimeClient.format(new Date(w.end)),\n      })),\n    });\n  }\n}\n\n// --- Single aggregated item for n8n ---\nreturn [{ json: { availability, calendarioId: $('calendario').first().json.nome } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1600,
          1040
        ],
        "id": "4bc2f851-574c-45b4-a2c4-50bff44f9a8a",
        "name": "disponibilidade2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1b3fe9ab-3b0d-4fdd-8166-af5cc5df1fb5",
                "name": "calendarios",
                "value": "=[\n  {\n   \"nome\": \"Maria\",\n   \"id\": \"consultoramaria.aplic@gmail.com\"\n },\n{\n\"nome\": \"Bruna\",\n   \"id\": \"bruna.luisa018@gmail.com\"\n}\n]",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          672,
          1024
        ],
        "id": "06beaac4-d201-415f-add9-99141e744a3b",
        "name": "calendarios"
      },
      {
        "parameters": {
          "fieldToSplitOut": "calendarios",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          848,
          1024
        ],
        "id": "fb0e6adc-04be-43ca-9413-42bcee7ae26c",
        "name": "calendarios1"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1024,
          1024
        ],
        "id": "302ca40b-f089-4b9c-9d99-2b64d2b690fa",
        "name": "calendario"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "calendarios",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1264,
          816
        ],
        "id": "ec79b584-4e78-4bc8-862d-d9f31164f4f6",
        "name": "calendarios2"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "calendarios",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "eventos2": {
        "main": [
          [
            {
              "node": "eventos3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "eventos3": {
        "main": [
          [
            {
              "node": "disponibilidade2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "disponibilidade2": {
        "main": [
          [
            {
              "node": "calendario",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "calendarios": {
        "main": [
          [
            {
              "node": "calendarios1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "calendarios1": {
        "main": [
          [
            {
              "node": "calendario",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "calendario": {
        "main": [
          [
            {
              "node": "calendarios2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "eventos2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "calendarios2": {
        "main": [
          []
        ]
      }
    },
    "authors": "Jesreel David Hobus",
    "name": "Version aadfdee9",
    "description": "",
    "autosaved": false
  },
  "tags": []
}