workflows/multiagente_secretaria_2026-03-19_19-08-06.json
{
  "updatedAt": "2026-03-03T18:56:36.407Z",
  "createdAt": "2026-03-02T19:47:38.717Z",
  "id": "S9pLLI7xIZPh4MBT",
  "name": "MultiAgente Secretária",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('config_padrao').item.json.body.mensagem.texto }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=<dataEHoraAtual>{{ $now.toISO() }}</dataEHoraAtual>\n<HojeDiaDeSemana>{{ $now.format('EEEE') }}</HojeDiaDeSemana>\n<numero_cliente>{{ $('Webhook').item.json.body.lead.phone || $('Contexto Geral').item.json.phone }}</numero_cliente>\n<leadId>{{ $('Contexto Geral').item.json.id || 'SEM ID'}}</leadId>\n<dados_lead>\n{{ $('Webhook').item.json.body.lead.contexto || 'SEM CADASTRO' }}\n</dados_lead>\n\n# AGENTE DE AGENDA E SECRETARIA, APLIC&GO (v3.0)\n\n## BLOCO 1 — CONTEXTO E IDENTIDADE\n\n**Você é a Inteligência de Agendamento (Secretária) da Aplic&Go.**\nVocê faz parte de um sistema multi-agentes. Sua **única responsabilidade** é gerenciar o calendário da clínica: agendar, remarcar, cancelar e verificar disponibilidade de consultorias.\n\n**A Regra de Ouro do Handoff (Invisibilidade para o Lead):**\nO lead **não sabe** que foi transferido para você. A comunicação deve continuar **exatamente com o mesmo tom** do agente anterior (leve, humano, consultivo e sem atritos de robô).\n- **NÃO se apresente** como \"a secretária\", \"o sistema de agendamento\" ou crie uma nova persona. \n- **Assuma a conversa** de forma fluida. Se a última mensagem do agente anterior (ex: Andreia) foi \"Posso verificar um horário?\", sua PRIMEIRA resposta já interage diretamente respondendo com as opções de horários.\n\n**Sua Alçada (Limites de Responsabilidade rigorosos):**\n- **O que você FAZ:** Consulta disponibilidade, apresenta horários, cria, atualiza e deleta eventos na agenda usando as tools adequadas.\n- **O que você NÃO FAZ:** Não entra no mérito de valores, como funcionam os tratamentos e não qualifica ou dá diagnósticos.\n- **Transbordo:** Se o lead sair do seu escopo (ex: quiser tirar dúvida técnica pesada ou questionar valores no meio do agendamento), acione a tool `handoff_setor` com as informações adequadas e com uma justificativa amigável (sem transparecer a troca de robôs).\n\n---\n\n## BLOCO 2 — RACIOCÍNIO ANTES DE RESPONDER (CHAIN-OF-THOUGHT)\n\nAntes de gerar qualquer mensagem ou chamar qualquer tool, execute este raciocínio:\n```\n1. Qual é a intenção atual do lead? (Ele quer horários? Quer confirmar, mudar ou desistir?)\n2. Tenho a localização do lead para designar a profissional correta (Bruna ou Maria)?\n3. Usei a tool `disponibilidade` para ver os horários REAIS antes de prometer algum?\n4. A minha devolução de horários está humana? (Exemplo: máx. 2 dias e até 3 horários, falados em tom casual).\n5. A ferramenta que vou usar agora (novo_evento, atualizar, deletar) tá acompanhada do EXIGIDO `calendarioId`?\n6. Estou invadindo o espaço do agente de vendas/onboarding? (Se o assunto não for agenda, faço o handoff).\n```\n\n---\n\n## BLOCO 3 — PROFISSIONAIS, GEOGRAFIA E HORÁRIOS\n\nAtendemos regionalmente com as seguintes especialistas:\n1. **Bruna** (Uberlândia) - calendarioId: `Bruna`\n2. **Maria** (Ituiutaba) - calendarioId: `Maria`\n\n**Regras de Atribuição:**\n- **Leads de Uberlândia:** SEMPRE `Bruna`\n- **Leads de Ituiutaba:** SEMPRE `Maria`\n- **Cidades de fora ou sem registro em sistema:** Pergunte sutilmente qual das regiões fica mais viável. Se for fora de cogitação a visita presencial, repasse via `handoff_setor` informando sobre possível direcionamento online.\n- **Remarcação:** Mude a data, mas permaneça no histórico do profissional anterior sempre que possível.\n\n**Horários de Funcionamento da Clínica:**\n- Segunda a sexta: 7h às 20h\n- Sábado: 7h às 12h\n- Disponibilidade deve ser avaliada no limite de **14 dias**.\n\n---\n\n## BLOCO 4 — GESTÃO ESTREITA DO MCP_CALENDÁRIO\n\nEssa é sua arma de precisão. O sistema depende que seja executado perfeitamente.\n\n### 1. disponibilidade\n- **Quando usar:** Antes de apresentar QUALQUER resposta de disponibilidade de horário.\n- **Regras:** Não precisa de `calendarioId`, ela traz tudo.\n- **Visibilidade JSON:** Você receberá marcações de \"start\" e \"end\". Isso é uma **JANELA CONTÍNUA**.\n- Ex: Se receber `{\"start\": \"13:00\", \"end\": \"17:15\"}`, você tem as 13h, 14h, 15h, 16h disponíveis. Consultorias duram ~1 hora.\n\n### 2. novo_evento\n- **Quando usar:** Logo após o lead cravar a escolha de dia e hora.\n- **Atenção Mortal:** EXIGE o `calendarioId` da profissional (Bruna ou Maria). Assim que for executado com sucesso e retornar o `EventId`, anote esse código no seu limite de memória.\n\n### 3. atualizar_evento\n- **Quando usar:** Quando um lead pedir a mudança de uma data já agendada.\n- **Atenção Mortal:** EXIGE `EventId` prévio + `calendarioId`. Acesse `disponibilidade` antes para confirmar o novo pleito do lead.\n\n### 4. deletar_evento\n- **Quando usar:** Se um cancelamento for rogado.\n- **Atenção Mortal:** Tenha o `EventId` e `calendarioId`. Confirme COM o lead antes de excluir permanentemente. Em seguida, exclua via tool e só depois da confirmação de sucesso comunique a baixa o cliente.\n\n---\n\n## BLOCO 5 — TOM DE VOZ E BOAS PRÁTICAS\n\nMantenha a imersão. Seu tom deve ser IDÊNTICO ao do vendedor/SDR. \n\n| Regra de Prática | Ação Obrigatória |\n|---|---|\n| Naturalidade de Opções | Nunca empilhe dias e listas robóticas. Responda em texto corrido e empático. Apresente **máximo 2 dias** e, ao todo, no **máximo 3 sugestões de horários**. |\n| Diversidade | Se o lead tem perfil não específico, varie na sugestão de turno: \"Eu consigo amanhã às 9h ou na quarta às 15h30 e 17h.\" |\n| Limpeza Textual | Proibido dizer \"Entendi\", \"Certo\", \"Perfeito\" mecanicamente a cada linha. Conecte de modo orgânico. |\n| Duas Perguntas | NUNCA faça mais do que uma pergunta por balão/turno de conversa no WhatsApp. |\n| Tratamento de Erros | Se houver falha de EventId ou de agenda, seja natural: \"Me parece que a agenda carregou errado aqui, me confirma para qual dia você estava precisando?\" |\n\n---\n\n## BLOCO 6 — USO DE TOOLS GERAIS (HANDOFF E SISTEMA)\n\n### Tool: `handoff_setor`\nUso primordial quando houver saída de escopo da \"Secretária\".\n- **Motivo de uso:** Transbordo de questionamentos técnicos, comerciais (preço), quebras de funil (ex: o lead fala que não quer mais agendar porque decidiu tentar jejum), ou dúvida de saúde aguda.\n- **Roteiro Natural ao transferir:** \"Deixa eu verificar essa informação pra você, só um segundinho.\" (E chame o handoff imediatamente alimentando os campos e as razões de transbordo da tool).\n\n### Tool: `historico_do_lead`\n\nUse para verificar conversas de agentes ou atendentes humanos realizadas anteriormente\n\n---\n\n## BLOCO 7 — FLUXOS E EXEMPLOS\n\n### EXEMPLO 1 — Agendamento de Mão Cheia (O Lead veio fluído)\n*O agente anterior ('onboarding') terminou com \"Posso verificar um horário?\" e o lead respondeu \"Pode\". O handoff ocorreu no background. Você (Secretária) vai abrir sua rodada e atuar, baseando-se por lógica na cidade dele.*\n\n[Raciocínio Interno]\n1. Preciso consultar horários. O lead é de Ituiutaba, logo profissional é Maria.\n2. Uso `disponibilidade` para pegar as janelas. E aplico minha máscara orgânica.\n\nIA (Secretária): Maravilha! Eu tenho horários com a Maria na terça às 14h ou 16h, e na quarta às 9h da manhã. \nQual desses seria mais tranquilo pra você?\n\nLead: Terça às 16h fica perfeito.\n\n[Raciocínio Interno]\n1. Lead escolheu. Uso `novo_evento` com \"Maria\", evento terça 16h. Retornou Sucesso e EventId `xyz890`.\n\nIA (Secretária): Fechado! Já agendei a sua consultoria na terça-feira, às 16h, com a Maria.\nAlgum detalhe a mais que precise ajustar? Ela possivelmente também entre em contato ou ligue pra confirmar alguns detalhes ainda com você.\n\n---\n\n### EXEMPLO 2 — Abordagem Direta e Conflito (Remarcação Parcial)\nLead: Me surgiu um imprevisto imenso, preciso reagendar o meu horário de hoje à tarde, socorro!\n\n[Raciocínio Interno]\n1. Resgatar qual é o EventId dele. Ele tem agendamento hoje às 14h com a Bruna (Uberlândia).\n2. Devo verificar `disponibilidade` de próximas datas.\n\nIA (Secretária): Sem desespero! A gente ajusta isso rapidinho.\n\nHoje a Bruna tá com a agenda cheia depois das 14h, mas eu consigo te passar pra amanhã às 10h ou às 17h. Te salva?\n\nLead: Sim, amanhã de manhã.\n\n[Raciocínio Interno]\n1. Pego o EventId e o Calendário de \"Bruna\" + a Data/Hora antiga, e atuo em `atualizar_evento` substituindo para Amanhã às 10h. \n\nIA (Secretária): Pronto, transferi para amanhã às 10h. Tudo certo 💚\n\nPosso te ajudar em algo mais?\n\n---\n\n### EXEMPLO 3 — Saída Bruta de Escopo (Transbordo na veia)\nLead: Menina, antes de marcar, vi uns comentários horríveis que esse tratamento dá queda de cabelo, não sei se eu tenho coragem de ir. Eu choro atoa de pensar de ficar careca.\n\n[Raciocínio Interno]\n1. Objeção grave: Medo de efeito colateral. Totalmente fora do escopo de reagendamento e da alçada exclusiva de Secretária.\n2. Aciono o `handoff_setor` e envio com uma desculpa natural para um agente capacitado (anterior `onboarding` ou se precisar `suporte`, de acordo com disponibilidade e descrição do agente na tool).\n\nIA (Secretária): \"\" (não enviar nada no output e apenas usar a tool handoff_setor)\n\n*(Tool Handoff é efetuada enviando com as variáveis \"Objeção em Queda de Cabelo / Medo\" para Vendas. )*"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1760,
        -32
      ],
      "id": "83ebd71e-7ead-4a95-89a5-2edb70349db8",
      "name": "AI Agent",
      "notesInFlow": true,
      "notes": "# AGENTE DE AGENDA E SECRETARIA, APLIC&GO (v3.0)"
    },
    {
      "parameters": {
        "content": "## Recebe Mensagens",
        "height": 80,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        416,
        -128
      ],
      "id": "26341b5a-60e8-44d6-baed-1024bb114f7e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Contexto e Prompt",
        "height": 80,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        704,
        -128
      ],
      "id": "a58c0f35-db32-4d2e-b696-6b0fa8dec5cb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Agente",
        "height": 80,
        "width": 944
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1232,
        -128
      ],
      "id": "c6d7dce4-2238-4a0e-9690-5935ee508ed3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Envio da Mensagem",
        "height": 80,
        "width": 1152
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2192,
        -128
      ],
      "id": "23026dde-89a2-4cff-b43d-8f6be3ba0627",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1680,
        320
      ],
      "id": "1d6d3ddb-b0b1-47d5-957d-e322ad1e9188",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Q1veBoP920goLjWy",
          "name": "OpenAi account Dr Matheus"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.lead.id || $('Content').item.json._config.whatsapp_number}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1744,
        544
      ],
      "id": "e788885b-a7bc-406f-aa77-ecc7aaeabb34",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "0w4wNBvz8tuXc0ht",
          "name": "aplic_tech_postgres_clinic_mvp"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a610889b-3f95-403d-a033-91ac86f62162",
              "name": "=body.lead.id",
              "value": "={{ $('Webhook').item.json.body.lead.id }}",
              "type": "string"
            },
            {
              "id": "017ef5dd-371b-4b8e-bd12-1c2d3a47b5a1",
              "name": "body.mensagem.texto",
              "value": "={{ $('Webhook').item.json.body.mensagem.texto }}",
              "type": "string"
            },
            {
              "id": "301f21fa-7792-480c-ae59-9d3001c9a6ce",
              "name": "body.lead.phone",
              "value": "={{ $('Webhook').item.json.body.lead.phone }}",
              "type": "string"
            },
            {
              "id": "21c4bcc6-9b45-4033-8a27-e11036374b7e",
              "name": "body.mensagem_recebida.timestamp",
              "value": "={{ $('Webhook').item.json.body.mensagem.timestamp }}",
              "type": "string"
            },
            {
              "id": "b3530271-554c-4223-a629-b9c570466793",
              "name": "body.auth['dinastia-token']",
              "value": "={{ $json.body.auth['dinastia-token'] }}",
              "type": "string"
            },
            {
              "id": "868b286f-1173-417b-ac2d-1c670d29526f",
              "name": "body.auth['instancia-nome']",
              "value": "={{ $json.body.auth['instancia-nome'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        -16
      ],
      "id": "7d2923da-80ac-43a8-9273-1cae95d0554b",
      "name": "config_padrao"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH contexto_lead AS (\n  SELECT \n    l.id,\n    l.full_name,\n    l.phone_number,\n    l.email,\n    l.origem,\n    l.source,\n    (l.custom_fields->-1) as custom_fields,\n    l.tentativas_follow_up,\n    l.interacoes_ia_count,\n    l.created_at,\n    \n    e.id as estado_id,\n    e.nome as estado_nome,\n    e.categoria as estado_categoria,\n    \n    a.id as agente_id,\n    a.nome as agente_nome,\n    a.tipo as agente_tipo,\n    a.prompt_sistema,\n    a.modelo_ia,\n    a.temperatura,\n    a.max_tokens,\n    a.config as agente_config\n    \n  FROM leads l\n  LEFT JOIN estados_lead e ON l.estado_atual = e.id\n  LEFT JOIN agentes_config a ON l.agente_responsavel_id = a.id\n  WHERE l.id = $1::uuid\n),\ntotal_interacoes AS (\n  SELECT COUNT(*) as total\n  FROM interacoes\n  WHERE lead_id = $1::uuid\n),\nultimas_10 AS (\n  SELECT \n    lead_id,\n    type,\n    message,\n    ai_generated,\n    created_at\n  FROM interacoes\n  WHERE lead_id = $1::uuid\n  ORDER BY created_at DESC\n  LIMIT 10\n),\nhistorico AS (\n  SELECT\n    lead_id,\n    MIN(created_at) as primeira_em,\n    MAX(created_at) as ultima_em,\n    (array_agg(message ORDER BY created_at ASC))[1] as primeira_mensagem,\n    (array_agg(message ORDER BY created_at DESC))[1] as ultima_mensagem,\n    string_agg(\n      CASE WHEN ai_generated THEN 'Enviado' ELSE 'Recebido' END\n      || ' [' || to_char(created_at, 'DD/MM HH24:MI') || ']: '\n      || LEFT(message, 300),\n      E'\\n' ORDER BY created_at ASC\n    ) as mensagens\n  FROM ultimas_10\n  GROUP BY lead_id\n)\nSELECT \n  c.*,\n  COALESCE(\n    json_build_object(\n      'resumo', json_build_object(\n        'total', (SELECT total FROM total_interacoes),\n        'primeira_em', h.primeira_em,\n        'ultima_em', h.ultima_em,\n        'primeira_mensagem', LEFT(h.primeira_mensagem, 200),\n        'ultima_mensagem', LEFT(h.ultima_mensagem, 200)\n      ),\n      'mensagens', h.mensagens\n    ),\n    json_build_object('resumo', null, 'mensagens', null)\n  ) as historico\nFROM contexto_lead c\nLEFT JOIN historico h ON c.id = h.lead_id;",
        "options": {
          "queryReplacement": "={{ $('config_padrao').item.json.body.lead.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        -16
      ],
      "id": "4d67dde0-eb91-491d-9b33-f1936e38702c",
      "name": "Contexto Geral",
      "credentials": {
        "postgres": {
          "id": "0w4wNBvz8tuXc0ht",
          "name": "aplic_tech_postgres_clinic_mvp"
        }
      }
    },
    {
      "parameters": {
        "url": "https://n8n-aplictech-editor.aplicgo.com/webhook/enviar-mensagem-texto-b3461d76-bbfa-4f15-8631-3f99e21e42fd",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"meta\": {\n    \"event_id\": \"{{ $('config_padrao').item.json.body.mensagem_recebida.messageId }}\",\n    \"timestamp\": \"{{ $('config_padrao').item.json.body.mensagem_recebida.timestamp }}\",\n    \"source\": \"agente-{{ $('config_padrao').item.json.body.agente_id }}\",\n    \"trace_id\": \"{{ $('config_padrao').item.json.body.mensagem_recebida.messageId }}\"\n  },\n\n  \"auth\": {\n    \"dinastia-token\": \"{{ $('config_padrao').item.json.body.auth['dinastia-token'] }}\"\n  },\n\n  \"to\": \"{{ $('config_padrao').item.json.body.lead.phone }}\",\n\n  \"config\": {\n    \"whatsapp_number\": \"{{ $('config_padrao').item.json.body.config_whatsapp_number }}\"\n  },\n\n  \"message\": {\n    \"type\": \"text\",\n    \"text\": {\n      \"body\": \"{{ $json.texto }}\"\n    }\n  },\n\n  \"context\": {\n    \"lead_id\": \"{{ $('config_padrao').item.json.body.lead.id }}\",\n    \"agente_id\": \"{{ $('config_padrao').item.json.body.agente_id }}\",\n    \"conversation_id\": \"{{ $('config_padrao').item.json.body.lead_data.lead_id }}\",\n    \"reply_to_message_id\": \"{{ $('config_padrao').item.json.body.mensagem_recebida.messageId }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2624,
        -32
      ],
      "id": "f346634f-a37c-4732-a83c-5533165b4f28",
      "name": "Send Message"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  type,\n  direction,\n  subject,\n  message,\n  ai_generated,\n  created_at,\n  model_used,\n  agente_id,\n  channel_data\nFROM interacoes\nWHERE lead_id = $1\nORDER BY created_at DESC\nLIMIT 20",
        "options": {
          "queryReplacement": "={{ $('config_padrao').item.json.body.lead_data.lead_id }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1984,
        352
      ],
      "id": "42978a24-0551-42a2-94bf-f54c7c307744",
      "name": "historico_do_lead",
      "credentials": {
        "postgres": {
          "id": "0w4wNBvz8tuXc0ht",
          "name": "aplic_tech_postgres_clinic_mvp"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $('config_padrao').item.json.body.mensagem.texto }}",
        "guardrails": {
          "jailbreak": {
            "value": {
              "threshold": 0.85
            }
          },
          "topicalAlignment": {
            "value": {
              "threshold": 0.85,
              "prompt": "You are a content analysis system that determines if text stays on topic.\n\nBUSINESS SCOPE:\nAplic&Go é um ecossistema especializado em emagrecimento com injetáveis (semaglutida, tirzepatida e similares GLP-1), operando com duas consultoras (Bruna em Uberlândia, Maria em Ituiutaba), atendendo presencialmente e online.\n\nTÓPICOS PERMITIDOS:\n- Emagrecimento com injetáveis (semaglutida, tirzepatida, GLP-1)\n- Método Burn & Build (fases, protocolos, desmame)\n- Qualificação de leads via WhatsApp (localização, meta de peso, urgência)\n- Agendamento de consultoria especializada\n- Objeções comuns: preço, medo de efeitos colaterais, dependência, flacidez\n- Faixas de investimento (R$6.000–R$25.000)\n- Suplementação própria (linhas Burn, Build, Take&Go)\n- Acompanhamento clínico: bioimpedância, ajuste de dose, nutrição\n- Club Aplic (assinatura de manutenção)\n- Posicionamento da consultoria como \"porta de entrada\", não tratamento\n\nDetermine if the text stays within the defined business scope. Flag any content that strays from the allowed topics, explaining which rule was violated and suggesting a correction aligned with Aplic&Go's positioning."
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 2,
      "position": [
        1312,
        -16
      ],
      "id": "61c87360-1c21-4cac-bfc6-0bb5cd93c6de",
      "name": "Guardrails",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1344,
        192
      ],
      "id": "266c682f-ec50-4891-9b84-3843e1c4e8e1",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "bOw8m7fIoAInpjwt",
          "name": "OpenRouter Dr Matheus"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {
          "frequencyPenalty": 0.2,
          "presencePenalty": 0.1,
          "temperature": 0.5,
          "topP": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1552,
        256
      ],
      "id": "8ddef7f7-1e89-49f9-af7b-cf5dd4f0217f",
      "name": "OpenRouter Gemini Flash 3",
      "credentials": {
        "openRouterApi": {
          "id": "bOw8m7fIoAInpjwt",
          "name": "OpenRouter Dr Matheus"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Nó: \"Split Output do Agente\" (Function node)\nconst results = [];\nconsole.log(\"INPUT COUNT:\", $input.all().length);\n\nconst palavrasExcluir = [\n  'qualificar_leads',\n  'Workflow was started',\n  'Used tools',\n  '[qualificar_leads]',\n  '[used tools:',\n  'Input',\n  '[input:'\n];\n\nfunction contemPalavrasTecnicas(texto) {\n  const textoLower = texto.toLowerCase();\n  return palavrasExcluir.some(palavra =>\n    textoLower.includes(palavra.toLowerCase())\n  );\n}\n\nfunction sanitizeText(texto) {\n  return texto\n    // ── 1. Remove artefatos do agente ────────────────────────────────\n    .replace(/\\[.*?\\]/gs, '')                     // [xxx] → remove\n    .replace(/```[\\s\\S]*?```/g, '')               // blocos ```código``` → remove\n    .replace(/`[^`]*`/g, '')                      // `inline code` → remove\n\n    // ── 2. Corrige formatações malfeitas do agente ───────────────────\n    .replace(/\\*\\*(.+?)\\*\\*/gs, '*$1*')          // **texto** → *texto*\n    .replace(/\\\\([^\\\\\\n\"]{1,80})\\\\/g, '*$1*')    // \\texto\\ → *texto*\n    .replace(/_([^\\n_]{1,80})_/g, '*$1*')        // _texto_ → *texto*\n\n    // ── 2. Remove lixo invisível ─────────────────────────────────────\n    .replace(/\\r/g, '')\n    .replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F\\x7F]/g, '')\n\n    // ── 3. Normaliza aspas curly ─────────────────────────────────────\n    .replace(/[\"\"]/g, '\"')\n    .replace(/['']/g, \"'\")\n\n    // ── 4. Escapa para JSON string (ORDEM IMPORTA) ───────────────────\n    .replace(/\\\\/g, '\\\\\\\\')   // \\ → \\\\  (SEMPRE PRIMEIRO)\n    .replace(/\"/g, '\\\\\"')     // \" → \\\"\n    .replace(/\\t/g, '\\\\t')   // tab literal → \\t\n    .replace(/\\n/g, '\\\\n')   // newline literal → \\n\n\n    .trim();\n}\n\nfor (const item of $input.all()) {\n  const rawOutput = item.json.output ?? item.json.text ?? item.json.response ?? item.json.texto ?? item.json;\n  let aiData;\n\n  try {\n    if (typeof rawOutput === 'string') {\n      aiData = JSON.parse(rawOutput);\n    } else {\n      aiData = rawOutput;\n    }\n  } catch (err) {\n    aiData = { texto: String(rawOutput ?? ''), adicionais: {} };\n  }\n\n  // Se texto for array, junta tudo em uma string única\n  if (Array.isArray(aiData.texto)) {\n    const textoJunto = aiData.texto\n      .map(t => String(t).trim())\n      .filter(t => t && !contemPalavrasTecnicas(t))\n      .join('\\n');\n\n    if (textoJunto) {\n      results.push({ json: { texto: sanitizeText(textoJunto), adicionais: aiData.adicionais || {} } });\n    }\n    continue;\n  }\n\n  if (aiData && aiData.texto) {\n    const textoOriginal = String(aiData.texto);\n\n    // Remove aspas das pontas se existirem\n    const textoLimpo = textoOriginal\n      .replace(/^[\"'\"]|[\"'\"]$/g, '')\n      .trim();\n\n    if (contemPalavrasTecnicas(textoLimpo) || textoLimpo.length === 0) {\n      results.push({\n        json: {\n          texto: sanitizeText(\"Eu pedi para a responsável entrar em contato contigo, então já já ela te chama aqui, assim que possível para responder todas as suas dúvidas.\"),\n          adicionais: aiData.adicionais || {}\n        }\n      });\n    } else {\n      results.push({\n        json: {\n          texto: sanitizeText(textoLimpo),\n          adicionais: aiData.adicionais || {}\n        }\n      });\n    }\n  } else {\n    results.push(item);\n  }\n}\n\nconsole.log(\"OUTPUT COUNT:\", results.length);\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        -32
      ],
      "id": "a7794ae2-232e-4639-a437-0b704aa9d7b2",
      "name": "split_output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83f57801-29b2-4abf-8d37-d2926eaf2a39",
              "name": "texto",
              "value": "={{ (v => { try { v = JSON.parse(v); return v.texto ?? v; } catch(e){ return v; } })($json.output) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2288,
        -32
      ],
      "id": "4c348a78-9191-49fb-a7a8-e9d684d82297",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aplicativos-scheduler.trcjj4.easypanel.host/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer nRuZcbn7WmMKq5yqLBLtiQi1gNOhxALz"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $('Contexto Geral').item.json.id }}_fup1\",\n  \"scheduleTo\": \"{{ $now.plus({ minutes: 19 }).toISO() }}\",\n  \"payload\": {\n    \"lead-id\": \"{{ $('Contexto Geral').item.json.id }}\",\n    \"tentativa\": \"1\",\n    \"timestamp\": \"{{ $now.toLocal().toISO() }}\",\n    \"to\": \"{{ $('Webhook').item.json.body.lead.phone }}\",\n    \"instrução\": \"TENTATIVA 1 (30min)\\n\\nOBJETIVO: Reativar leads que podem ter sido interrompidos momentaneamente.\\n\\nMENSAGEM:\\n\\n\\\"[Nome]?\\\"\\n\\nUtilize o nome do lead, caso não houver, mande um \\\"Oi, ta por aí?\\\"\\n\\nAPLICAÇÃO: Todos os estágios (QUALIFICACAO, PROTOCOLO, PRECO)\",\n    \"auth\": {\n      \"dinastia-token\": \"{{ $('Webhook').item.json.body.auth['dinastia-token'] }}\"\n    }\n  },\n  \"webhookUrl\": \"https://n8n-aplictech-editor.aplicgo.com/webhook/followUp-sdr-chain-960e56e8-1daf-4db0-aa35-9f76e9cf07d9\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3104,
        -32
      ],
      "id": "c84324dc-e338-4b46-824a-eb36a3e399f7",
      "name": "FollowUp",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://aplicativos-scheduler.trcjj4.easypanel.host/messages/{{ $('Contexto Geral').item.json.id }}_fup1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer nRuZcbn7WmMKq5yqLBLtiQi1gNOhxALz"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2784,
        -32
      ],
      "id": "dbf21050-26d4-4de7-845d-d191fa651d75",
      "name": "Delete Scheduler",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2944,
        -32
      ],
      "id": "d3a55348-0f16-42f7-a341-ec996258ea74",
      "name": "Wait",
      "webhookId": "1ea157d1-6b6f-4555-94cc-9a156189b363"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-secretaria-95551d82-80df-4b3e-a30f-c69b91ab0e5c",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        560,
        -16
      ],
      "id": "e0787633-d120-4f58-bacd-e6dbf891ff17",
      "name": "Webhook",
      "webhookId": "95551d82-80df-4b3e-a30f-c69b91ab0e5c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ARda8IGDT2hRKvve",
          "name": "Aplic-Ai | WH"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  type,\n  direction,\n  subject,\n  message,\n  ai_generated,\n  created_at,\n  model_used,\n  agente_id,\n  channel_data\nFROM interacoes\nWHERE lead_id = $1\nORDER BY created_at DESC\nLIMIT 20",
        "options": {
          "queryReplacement": "={{ $('config_padrao').item.json.body.lead_data.lead_id }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        2160,
        992
      ],
      "id": "ec081312-c416-4dfe-8ebc-f624eb562aa3",
      "name": "contexto_do_lead",
      "credentials": {
        "postgres": {
          "id": "0w4wNBvz8tuXc0ht",
          "name": "aplic_tech_postgres_clinic_mvp"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Faz a transferência handoff do lead para o responsável selecionado. Utilizade sempre para transferir o atendimento.",
        "method": "POST",
        "url": "https://n8n-aplictech-editor.aplicgo.com/webhook/handoff-20142f7f-6b89-4f23-83a7-8089cd73cedd",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "target_agent",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Tipo: String, Obrigatório.\nIdentifica qual agente lógico deve assumir a conversa.\nVariáveis Disponíveis | Descrição:\n\"secretaria\" | Faz agendamentos ou verifica disponibilidade. Quando atendimento necessitar de marcar um horário, transfira para ela.\n\"recepção\" | Tira duvidas sobre consulta marcada, atendimento a pacientes em tratamento, responsáveis pela comunicação dos doutores e com pacientes.\n\"sdr\" | Faz atendimento comercial com foco em conversão de leads em agendamentos, sem script específicos. Atendimento mais abrangente.\n\"suporte\" | Está disponível para tirar dúvidas mais avançadas, dúvidas técnicas e atender situações não comerciais ou que fogem da alçada do contato comercial.\n\"roteador\" | Faz uma análise da conversa e define qual o agente mais indicado. Use quando não souber qual agente deve assumir a conversa.`, 'string') }}"
            },
            {
              "name": "nome_completo_cliente",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Tipo: String, Obrigatório.\nNome Completo do Cliente`, 'string') }}"
            },
            {
              "name": "preferencia_horario",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Tipo: String, Não Obrigatório.\nSe o lead tiver citado, indicar a preferencia de horário dele.`, 'string') }}"
            },
            {
              "name": "cidade_lead",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Tipo: String, Obrigatório.\nCidade de preferência do Lead para atendimento Presencial. Pode ser Ituiutaba, Uberlândia ou se for de cidade longe, inserir nome da cidade do lead com \"(online)\".`, 'string') }}"
            },
            {
              "name": "resumo_contexto",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Tipo: String estruturada, Obrigatório.\nResumo compacto da situação atual e resolução da conversa, útil para o próximo responsável.\nExemplo: \"Lead quer agendar quarta às 14h com Maria. Prefere período da tarde. Cidade Uberlândia.\"`, 'string') }}"
            },
            {
              "name": "motivo",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `Tipo: string, obrigatório.\nMotivo da execução do handoff.\n1-5 palavras.`, 'string') }}"
            },
            {
              "name": "mensagem_inicial",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', `=tipo: string (texto simples), Não obrigatório. Mensagem enviada ao lead quando o agente assumir. \nDeve ser texto puro, sem aspas duplas ou simples e sem caracteres que quebrem a string. \nPode conter variáveis no formato {variavel}. \nExemplo: Perfeito! Verificando o horário da {consultora_responsavel}, tenho disponível: {datas_disponiveis}.`, 'string') }}"
            },
            {
              "name": "lead.id",
              "value": "={{ $('Webhook').item.json.body.lead.id }}"
            },
            {
              "name": "lead.phone",
              "value": "={{ $('Webhook').item.json.body.lead.phone }}"
            },
            {
              "name": "lead.nome",
              "value": "={{ $('Webhook').item.json.body.lead.nome }}"
            },
            {
              "name": "mensagem.texto",
              "value": "={{ $('Webhook').item.json.body.mensagem.texto }}"
            },
            {
              "name": "mensagem.tipo",
              "value": "={{ $('Webhook').item.json.body.mensagem.tipo }}"
            },
            {
              "name": "mensagem.timestamp",
              "value": "={{ $('Webhook').item.json.body.mensagem.timestamp }}"
            },
            {
              "name": "=auth.dinastia-token",
              "value": "={{ $('Webhook').item.json.body.auth['dinastia-token'] }}"
            },
            {
              "name": "auth.instancia-nome",
              "value": "={{ $('Webhook').item.json.body.auth['instancia-nome'] }}"
            },
            {
              "name": "auth.inbox-id",
              "value": "={{ $('Webhook').item.json.body.auth['inbox-id'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        2224,
        192
      ],
      "id": "11aeac35-2b36-40be-86b9-efe593f9a744",
      "name": "handoff_setor"
    },
    {
      "parameters": {
        "endpointUrl": "https://n8n-aplictech-editor.aplicgo.com/mcp/clinicai/calendario/mcp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        2112,
        240
      ],
      "id": "8b08d44c-aedc-411f-bc19-82ad233d1d6e",
      "name": "mcp_calendario"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Contexto Geral').item.json.id }}",
        "tableName": "chats_calendario"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1808,
        352
      ],
      "id": "531221ae-6e0e-45a6-a157-ad10e4368d35",
      "name": "memoria3",
      "credentials": {
        "postgres": {
          "id": "0w4wNBvz8tuXc0ht",
          "name": "aplic_tech_postgres_clinic_mvp"
        }
      }
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        []
      ]
    },
    "config_padrao": {
      "main": [
        [
          {
            "node": "Contexto Geral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contexto Geral": {
      "main": [
        [
          {
            "node": "Guardrails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message": {
      "main": [
        [
          {
            "node": "Delete Scheduler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "historico_do_lead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Guardrails",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ],
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Gemini Flash 3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "split_output": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "split_output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Scheduler": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "FollowUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "config_padrao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contexto_do_lead": {
      "ai_tool": [
        []
      ]
    },
    "handoff_setor": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "mcp_calendario": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "memoria3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-aplictech-editor.aplicgo.com",
            "user-agent": "axios/1.13.5",
            "content-length": "933",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "authorization": "TFjP6VEQXq5ThMr2",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n-aplictech-editor.aplicgo.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "2b85f3cb3649",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "query": {},
            "body": {
              "target_agent": "secretaria",
              "nome_completo_cliente": "David",
              "preferencia_horario": "Final da tarde (depois das 17h)",
              "cidade_lead": "Uberlândia",
              "resumo_contexto": "Lead David quer agendar consultoria em Uberlândia. Já está ciente da faixa de preço (5k-18k) e da natureza da consultoria. Prefere horários após as 17h.",
              "motivo": "Agendamento de consultoria presencial.",
              "mensagem_inicial": "Com certeza, David! Deixa eu verificar aqui os horários de final de tarde que temos disponíveis para você em Uberlândia. Só um minutinho.",
              "lead": {
                "id": "18c542f1-b2fc-47ad-9dca-b03d70a203db",
                "phone": "+554599083422",
                "nome": "Jesreel David"
              },
              "mensagem": {
                "texto": "\"Tem mais próximo ao final da tarde\\nDepois das 17?\"",
                "tipo": "text",
                "timestamp": "2026-03-03T15:45:39-03:00"
              },
              "auth": {
                "dinastia-token": "llDoaLv2P9lYOyuIgwPoWboyavOGfALs",
                "instancia-nome": "Instancia David-Jesreel",
                "inbox-id": "Instancia David-Jesreel"
              }
            }
          },
          "webhookUrl": "https://n8n-aplictech-editor.aplicgo.com/webhook/agente-secretaria-95551d82-80df-4b3e-a30f-c69b91ab0e5c",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "796839c7-e91d-4d2f-8965-916dda8724fb",
  "activeVersionId": "796839c7-e91d-4d2f-8965-916dda8724fb",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-02T19:47:38.717Z",
      "createdAt": "2026-03-02T19:47:38.717Z",
      "role": "workflow:owner",
      "workflowId": "S9pLLI7xIZPh4MBT",
      "projectId": "zIWzQf2ZTqYydzuc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-03T18:56:39.290Z",
    "createdAt": "2026-03-03T18:56:36.409Z",
    "versionId": "796839c7-e91d-4d2f-8965-916dda8724fb",
    "workflowId": "S9pLLI7xIZPh4MBT",
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('config_padrao').item.json.body.mensagem.texto }}",
          "needsFallback": true,
          "options": {
            "systemMessage": "=<dataEHoraAtual>{{ $now.toISO() }}</dataEHoraAtual>\n<HojeDiaDeSemana>{{ $now.format('EEEE') }}</HojeDiaDeSemana>\n<numero_cliente>{{ $('Webhook').item.json.body.lead.phone || $('Contexto Geral').item.json.phone }}</numero_cliente>\n<leadId>{{ $('Contexto Geral').item.json.id || 'SEM ID'}}</leadId>\n<dados_lead>\n{{ $('Webhook').item.json.body.lead.contexto || 'SEM CADASTRO' }}\n</dados_lead>\n\n# AGENTE DE AGENDA E SECRETARIA, APLIC&GO (v3.0)\n\n## BLOCO 1 — CONTEXTO E IDENTIDADE\n\n**Você é a Inteligência de Agendamento (Secretária) da Aplic&Go.**\nVocê faz parte de um sistema multi-agentes. Sua **única responsabilidade** é gerenciar o calendário da clínica: agendar, remarcar, cancelar e verificar disponibilidade de consultorias.\n\n**A Regra de Ouro do Handoff (Invisibilidade para o Lead):**\nO lead **não sabe** que foi transferido para você. A comunicação deve continuar **exatamente com o mesmo tom** do agente anterior (leve, humano, consultivo e sem atritos de robô).\n- **NÃO se apresente** como \"a secretária\", \"o sistema de agendamento\" ou crie uma nova persona. \n- **Assuma a conversa** de forma fluida. Se a última mensagem do agente anterior (ex: Andreia) foi \"Posso verificar um horário?\", sua PRIMEIRA resposta já interage diretamente respondendo com as opções de horários.\n\n**Sua Alçada (Limites de Responsabilidade rigorosos):**\n- **O que você FAZ:** Consulta disponibilidade, apresenta horários, cria, atualiza e deleta eventos na agenda usando as tools adequadas.\n- **O que você NÃO FAZ:** Não entra no mérito de valores, como funcionam os tratamentos e não qualifica ou dá diagnósticos.\n- **Transbordo:** Se o lead sair do seu escopo (ex: quiser tirar dúvida técnica pesada ou questionar valores no meio do agendamento), acione a tool `handoff_setor` com as informações adequadas e com uma justificativa amigável (sem transparecer a troca de robôs).\n\n---\n\n## BLOCO 2 — RACIOCÍNIO ANTES DE RESPONDER (CHAIN-OF-THOUGHT)\n\nAntes de gerar qualquer mensagem ou chamar qualquer tool, execute este raciocínio:\n```\n1. Qual é a intenção atual do lead? (Ele quer horários? Quer confirmar, mudar ou desistir?)\n2. Tenho a localização do lead para designar a profissional correta (Bruna ou Maria)?\n3. Usei a tool `disponibilidade` para ver os horários REAIS antes de prometer algum?\n4. A minha devolução de horários está humana? (Exemplo: máx. 2 dias e até 3 horários, falados em tom casual).\n5. A ferramenta que vou usar agora (novo_evento, atualizar, deletar) tá acompanhada do EXIGIDO `calendarioId`?\n6. Estou invadindo o espaço do agente de vendas/onboarding? (Se o assunto não for agenda, faço o handoff).\n```\n\n---\n\n## BLOCO 3 — PROFISSIONAIS, GEOGRAFIA E HORÁRIOS\n\nAtendemos regionalmente com as seguintes especialistas:\n1. **Bruna** (Uberlândia) - calendarioId: `Bruna`\n2. **Maria** (Ituiutaba) - calendarioId: `Maria`\n\n**Regras de Atribuição:**\n- **Leads de Uberlândia:** SEMPRE `Bruna`\n- **Leads de Ituiutaba:** SEMPRE `Maria`\n- **Cidades de fora ou sem registro em sistema:** Pergunte sutilmente qual das regiões fica mais viável. Se for fora de cogitação a visita presencial, repasse via `handoff_setor` informando sobre possível direcionamento online.\n- **Remarcação:** Mude a data, mas permaneça no histórico do profissional anterior sempre que possível.\n\n**Horários de Funcionamento da Clínica:**\n- Segunda a sexta: 7h às 20h\n- Sábado: 7h às 12h\n- Disponibilidade deve ser avaliada no limite de **14 dias**.\n\n---\n\n## BLOCO 4 — GESTÃO ESTREITA DO MCP_CALENDÁRIO\n\nEssa é sua arma de precisão. O sistema depende que seja executado perfeitamente.\n\n### 1. disponibilidade\n- **Quando usar:** Antes de apresentar QUALQUER resposta de disponibilidade de horário.\n- **Regras:** Não precisa de `calendarioId`, ela traz tudo.\n- **Visibilidade JSON:** Você receberá marcações de \"start\" e \"end\". Isso é uma **JANELA CONTÍNUA**.\n- Ex: Se receber `{\"start\": \"13:00\", \"end\": \"17:15\"}`, você tem as 13h, 14h, 15h, 16h disponíveis. Consultorias duram ~1 hora.\n\n### 2. novo_evento\n- **Quando usar:** Logo após o lead cravar a escolha de dia e hora.\n- **Atenção Mortal:** EXIGE o `calendarioId` da profissional (Bruna ou Maria). Assim que for executado com sucesso e retornar o `EventId`, anote esse código no seu limite de memória.\n\n### 3. atualizar_evento\n- **Quando usar:** Quando um lead pedir a mudança de uma data já agendada.\n- **Atenção Mortal:** EXIGE `EventId` prévio + `calendarioId`. Acesse `disponibilidade` antes para confirmar o novo pleito do lead.\n\n### 4. deletar_evento\n- **Quando usar:** Se um cancelamento for rogado.\n- **Atenção Mortal:** Tenha o `EventId` e `calendarioId`. Confirme COM o lead antes de excluir permanentemente. Em seguida, exclua via tool e só depois da confirmação de sucesso comunique a baixa o cliente.\n\n---\n\n## BLOCO 5 — TOM DE VOZ E BOAS PRÁTICAS\n\nMantenha a imersão. Seu tom deve ser IDÊNTICO ao do vendedor/SDR. \n\n| Regra de Prática | Ação Obrigatória |\n|---|---|\n| Naturalidade de Opções | Nunca empilhe dias e listas robóticas. Responda em texto corrido e empático. Apresente **máximo 2 dias** e, ao todo, no **máximo 3 sugestões de horários**. |\n| Diversidade | Se o lead tem perfil não específico, varie na sugestão de turno: \"Eu consigo amanhã às 9h ou na quarta às 15h30 e 17h.\" |\n| Limpeza Textual | Proibido dizer \"Entendi\", \"Certo\", \"Perfeito\" mecanicamente a cada linha. Conecte de modo orgânico. |\n| Duas Perguntas | NUNCA faça mais do que uma pergunta por balão/turno de conversa no WhatsApp. |\n| Tratamento de Erros | Se houver falha de EventId ou de agenda, seja natural: \"Me parece que a agenda carregou errado aqui, me confirma para qual dia você estava precisando?\" |\n\n---\n\n## BLOCO 6 — USO DE TOOLS GERAIS (HANDOFF E SISTEMA)\n\n### Tool: `handoff_setor`\nUso primordial quando houver saída de escopo da \"Secretária\".\n- **Motivo de uso:** Transbordo de questionamentos técnicos, comerciais (preço), quebras de funil (ex: o lead fala que não quer mais agendar porque decidiu tentar jejum), ou dúvida de saúde aguda.\n- **Roteiro Natural ao transferir:** \"Deixa eu verificar essa informação pra você, só um segundinho.\" (E chame o handoff imediatamente alimentando os campos e as razões de transbordo da tool).\n\n### Tool: `historico_do_lead`\n\nUse para verificar conversas de agentes ou atendentes humanos realizadas anteriormente\n\n---\n\n## BLOCO 7 — FLUXOS E EXEMPLOS\n\n### EXEMPLO 1 — Agendamento de Mão Cheia (O Lead veio fluído)\n*O agente anterior ('onboarding') terminou com \"Posso verificar um horário?\" e o lead respondeu \"Pode\". O handoff ocorreu no background. Você (Secretária) vai abrir sua rodada e atuar, baseando-se por lógica na cidade dele.*\n\n[Raciocínio Interno]\n1. Preciso consultar horários. O lead é de Ituiutaba, logo profissional é Maria.\n2. Uso `disponibilidade` para pegar as janelas. E aplico minha máscara orgânica.\n\nIA (Secretária): Maravilha! Eu tenho horários com a Maria na terça às 14h ou 16h, e na quarta às 9h da manhã. \nQual desses seria mais tranquilo pra você?\n\nLead: Terça às 16h fica perfeito.\n\n[Raciocínio Interno]\n1. Lead escolheu. Uso `novo_evento` com \"Maria\", evento terça 16h. Retornou Sucesso e EventId `xyz890`.\n\nIA (Secretária): Fechado! Já agendei a sua consultoria na terça-feira, às 16h, com a Maria.\nAlgum detalhe a mais que precise ajustar? Ela possivelmente também entre em contato ou ligue pra confirmar alguns detalhes ainda com você.\n\n---\n\n### EXEMPLO 2 — Abordagem Direta e Conflito (Remarcação Parcial)\nLead: Me surgiu um imprevisto imenso, preciso reagendar o meu horário de hoje à tarde, socorro!\n\n[Raciocínio Interno]\n1. Resgatar qual é o EventId dele. Ele tem agendamento hoje às 14h com a Bruna (Uberlândia).\n2. Devo verificar `disponibilidade` de próximas datas.\n\nIA (Secretária): Sem desespero! A gente ajusta isso rapidinho.\n\nHoje a Bruna tá com a agenda cheia depois das 14h, mas eu consigo te passar pra amanhã às 10h ou às 17h. Te salva?\n\nLead: Sim, amanhã de manhã.\n\n[Raciocínio Interno]\n1. Pego o EventId e o Calendário de \"Bruna\" + a Data/Hora antiga, e atuo em `atualizar_evento` substituindo para Amanhã às 10h. \n\nIA (Secretária): Pronto, transferi para amanhã às 10h. Tudo certo 💚\n\nPosso te ajudar em algo mais?\n\n---\n\n### EXEMPLO 3 — Saída Bruta de Escopo (Transbordo na veia)\nLead: Menina, antes de marcar, vi uns comentários horríveis que esse tratamento dá queda de cabelo, não sei se eu tenho coragem de ir. Eu choro atoa de pensar de ficar careca.\n\n[Raciocínio Interno]\n1. Objeção grave: Medo de efeito colateral. Totalmente fora do escopo de reagendamento e da alçada exclusiva de Secretária.\n2. Aciono o `handoff_setor` e envio com uma desculpa natural para um agente capacitado (anterior `onboarding` ou se precisar `suporte`, de acordo com disponibilidade e descrição do agente na tool).\n\nIA (Secretária): \"\" (não enviar nada no output e apenas usar a tool handoff_setor)\n\n*(Tool Handoff é efetuada enviando com as variáveis \"Objeção em Queda de Cabelo / Medo\" para Vendas. )*"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          1760,
          -32
        ],
        "id": "83ebd71e-7ead-4a95-89a5-2edb70349db8",
        "name": "AI Agent",
        "notesInFlow": true,
        "notes": "# AGENTE DE AGENDA E SECRETARIA, APLIC&GO (v3.0)"
      },
      {
        "parameters": {
          "content": "## Recebe Mensagens",
          "height": 80,
          "width": 272
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          416,
          -128
        ],
        "id": "26341b5a-60e8-44d6-baed-1024bb114f7e",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Contexto e Prompt",
          "height": 80,
          "width": 512
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          704,
          -128
        ],
        "id": "a58c0f35-db32-4d2e-b696-6b0fa8dec5cb",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Agente",
          "height": 80,
          "width": 944
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1232,
          -128
        ],
        "id": "c6d7dce4-2238-4a0e-9690-5935ee508ed3",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## Envio da Mensagem",
          "height": 80,
          "width": 1152
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2192,
          -128
        ],
        "id": "23026dde-89a2-4cff-b43d-8f6be3ba0627",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1",
            "mode": "list",
            "cachedResultName": "gpt-4.1"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          1680,
          320
        ],
        "id": "1d6d3ddb-b0b1-47d5-957d-e322ad1e9188",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "Q1veBoP920goLjWy",
            "name": "OpenAi account Dr Matheus"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Webhook').item.json.body.lead.id || $('Content').item.json._config.whatsapp_number}}"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          1744,
          544
        ],
        "id": "e788885b-a7bc-406f-aa77-ecc7aaeabb34",
        "name": "Postgres Chat Memory",
        "credentials": {
          "postgres": {
            "id": "0w4wNBvz8tuXc0ht",
            "name": "aplic_tech_postgres_clinic_mvp"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a610889b-3f95-403d-a033-91ac86f62162",
                "name": "=body.lead.id",
                "value": "={{ $('Webhook').item.json.body.lead.id }}",
                "type": "string"
              },
              {
                "id": "017ef5dd-371b-4b8e-bd12-1c2d3a47b5a1",
                "name": "body.mensagem.texto",
                "value": "={{ $('Webhook').item.json.body.mensagem.texto }}",
                "type": "string"
              },
              {
                "id": "301f21fa-7792-480c-ae59-9d3001c9a6ce",
                "name": "body.lead.phone",
                "value": "={{ $('Webhook').item.json.body.lead.phone }}",
                "type": "string"
              },
              {
                "id": "21c4bcc6-9b45-4033-8a27-e11036374b7e",
                "name": "body.mensagem_recebida.timestamp",
                "value": "={{ $('Webhook').item.json.body.mensagem.timestamp }}",
                "type": "string"
              },
              {
                "id": "b3530271-554c-4223-a629-b9c570466793",
                "name": "body.auth['dinastia-token']",
                "value": "={{ $json.body.auth['dinastia-token'] }}",
                "type": "string"
              },
              {
                "id": "868b286f-1173-417b-ac2d-1c670d29526f",
                "name": "body.auth['instancia-nome']",
                "value": "={{ $json.body.auth['instancia-nome'] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          864,
          -16
        ],
        "id": "7d2923da-80ac-43a8-9273-1cae95d0554b",
        "name": "config_padrao"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH contexto_lead AS (\n  SELECT \n    l.id,\n    l.full_name,\n    l.phone_number,\n    l.email,\n    l.origem,\n    l.source,\n    (l.custom_fields->-1) as custom_fields,\n    l.tentativas_follow_up,\n    l.interacoes_ia_count,\n    l.created_at,\n    \n    e.id as estado_id,\n    e.nome as estado_nome,\n    e.categoria as estado_categoria,\n    \n    a.id as agente_id,\n    a.nome as agente_nome,\n    a.tipo as agente_tipo,\n    a.prompt_sistema,\n    a.modelo_ia,\n    a.temperatura,\n    a.max_tokens,\n    a.config as agente_config\n    \n  FROM leads l\n  LEFT JOIN estados_lead e ON l.estado_atual = e.id\n  LEFT JOIN agentes_config a ON l.agente_responsavel_id = a.id\n  WHERE l.id = $1::uuid\n),\ntotal_interacoes AS (\n  SELECT COUNT(*) as total\n  FROM interacoes\n  WHERE lead_id = $1::uuid\n),\nultimas_10 AS (\n  SELECT \n    lead_id,\n    type,\n    message,\n    ai_generated,\n    created_at\n  FROM interacoes\n  WHERE lead_id = $1::uuid\n  ORDER BY created_at DESC\n  LIMIT 10\n),\nhistorico AS (\n  SELECT\n    lead_id,\n    MIN(created_at) as primeira_em,\n    MAX(created_at) as ultima_em,\n    (array_agg(message ORDER BY created_at ASC))[1] as primeira_mensagem,\n    (array_agg(message ORDER BY created_at DESC))[1] as ultima_mensagem,\n    string_agg(\n      CASE WHEN ai_generated THEN 'Enviado' ELSE 'Recebido' END\n      || ' [' || to_char(created_at, 'DD/MM HH24:MI') || ']: '\n      || LEFT(message, 300),\n      E'\\n' ORDER BY created_at ASC\n    ) as mensagens\n  FROM ultimas_10\n  GROUP BY lead_id\n)\nSELECT \n  c.*,\n  COALESCE(\n    json_build_object(\n      'resumo', json_build_object(\n        'total', (SELECT total FROM total_interacoes),\n        'primeira_em', h.primeira_em,\n        'ultima_em', h.ultima_em,\n        'primeira_mensagem', LEFT(h.primeira_mensagem, 200),\n        'ultima_mensagem', LEFT(h.ultima_mensagem, 200)\n      ),\n      'mensagens', h.mensagens\n    ),\n    json_build_object('resumo', null, 'mensagens', null)\n  ) as historico\nFROM contexto_lead c\nLEFT JOIN historico h ON c.id = h.lead_id;",
          "options": {
            "queryReplacement": "={{ $('config_padrao').item.json.body.lead.id }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1120,
          -16
        ],
        "id": "4d67dde0-eb91-491d-9b33-f1936e38702c",
        "name": "Contexto Geral",
        "credentials": {
          "postgres": {
            "id": "0w4wNBvz8tuXc0ht",
            "name": "aplic_tech_postgres_clinic_mvp"
          }
        }
      },
      {
        "parameters": {
          "url": "https://n8n-aplictech-editor.aplicgo.com/webhook/enviar-mensagem-texto-b3461d76-bbfa-4f15-8631-3f99e21e42fd",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"meta\": {\n    \"event_id\": \"{{ $('config_padrao').item.json.body.mensagem_recebida.messageId }}\",\n    \"timestamp\": \"{{ $('config_padrao').item.json.body.mensagem_recebida.timestamp }}\",\n    \"source\": \"agente-{{ $('config_padrao').item.json.body.agente_id }}\",\n    \"trace_id\": \"{{ $('config_padrao').item.json.body.mensagem_recebida.messageId }}\"\n  },\n\n  \"auth\": {\n    \"dinastia-token\": \"{{ $('config_padrao').item.json.body.auth['dinastia-token'] }}\"\n  },\n\n  \"to\": \"{{ $('config_padrao').item.json.body.lead.phone }}\",\n\n  \"config\": {\n    \"whatsapp_number\": \"{{ $('config_padrao').item.json.body.config_whatsapp_number }}\"\n  },\n\n  \"message\": {\n    \"type\": \"text\",\n    \"text\": {\n      \"body\": \"{{ $json.texto }}\"\n    }\n  },\n\n  \"context\": {\n    \"lead_id\": \"{{ $('config_padrao').item.json.body.lead.id }}\",\n    \"agente_id\": \"{{ $('config_padrao').item.json.body.agente_id }}\",\n    \"conversation_id\": \"{{ $('config_padrao').item.json.body.lead_data.lead_id }}\",\n    \"reply_to_message_id\": \"{{ $('config_padrao').item.json.body.mensagem_recebida.messageId }}\"\n  }\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2624,
          -32
        ],
        "id": "f346634f-a37c-4732-a83c-5533165b4f28",
        "name": "Send Message"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n  type,\n  direction,\n  subject,\n  message,\n  ai_generated,\n  created_at,\n  model_used,\n  agente_id,\n  channel_data\nFROM interacoes\nWHERE lead_id = $1\nORDER BY created_at DESC\nLIMIT 20",
          "options": {
            "queryReplacement": "={{ $('config_padrao').item.json.body.lead_data.lead_id }}"
          }
        },
        "type": "n8n-nodes-base.postgresTool",
        "typeVersion": 2.6,
        "position": [
          1984,
          352
        ],
        "id": "42978a24-0551-42a2-94bf-f54c7c307744",
        "name": "historico_do_lead",
        "credentials": {
          "postgres": {
            "id": "0w4wNBvz8tuXc0ht",
            "name": "aplic_tech_postgres_clinic_mvp"
          }
        }
      },
      {
        "parameters": {
          "text": "={{ $('config_padrao').item.json.body.mensagem.texto }}",
          "guardrails": {
            "jailbreak": {
              "value": {
                "threshold": 0.85
              }
            },
            "topicalAlignment": {
              "value": {
                "threshold": 0.85,
                "prompt": "You are a content analysis system that determines if text stays on topic.\n\nBUSINESS SCOPE:\nAplic&Go é um ecossistema especializado em emagrecimento com injetáveis (semaglutida, tirzepatida e similares GLP-1), operando com duas consultoras (Bruna em Uberlândia, Maria em Ituiutaba), atendendo presencialmente e online.\n\nTÓPICOS PERMITIDOS:\n- Emagrecimento com injetáveis (semaglutida, tirzepatida, GLP-1)\n- Método Burn & Build (fases, protocolos, desmame)\n- Qualificação de leads via WhatsApp (localização, meta de peso, urgência)\n- Agendamento de consultoria especializada\n- Objeções comuns: preço, medo de efeitos colaterais, dependência, flacidez\n- Faixas de investimento (R$6.000–R$25.000)\n- Suplementação própria (linhas Burn, Build, Take&Go)\n- Acompanhamento clínico: bioimpedância, ajuste de dose, nutrição\n- Club Aplic (assinatura de manutenção)\n- Posicionamento da consultoria como \"porta de entrada\", não tratamento\n\nDetermine if the text stays within the defined business scope. Flag any content that strays from the allowed topics, explaining which rule was violated and suggesting a correction aligned with Aplic&Go's positioning."
              }
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.guardrails",
        "typeVersion": 2,
        "position": [
          1312,
          -16
        ],
        "id": "61c87360-1c21-4cac-bfc6-0bb5cd93c6de",
        "name": "Guardrails",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "model": "google/gemini-2.5-flash-lite",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1344,
          192
        ],
        "id": "266c682f-ec50-4891-9b84-3843e1c4e8e1",
        "name": "OpenRouter Chat Model1",
        "credentials": {
          "openRouterApi": {
            "id": "bOw8m7fIoAInpjwt",
            "name": "OpenRouter Dr Matheus"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "model": "google/gemini-3-flash-preview",
          "options": {
            "frequencyPenalty": 0.2,
            "presencePenalty": 0.1,
            "temperature": 0.5,
            "topP": 0.2
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1552,
          256
        ],
        "id": "8ddef7f7-1e89-49f9-af7b-cf5dd4f0217f",
        "name": "OpenRouter Gemini Flash 3",
        "credentials": {
          "openRouterApi": {
            "id": "bOw8m7fIoAInpjwt",
            "name": "OpenRouter Dr Matheus"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Nó: \"Split Output do Agente\" (Function node)\nconst results = [];\nconsole.log(\"INPUT COUNT:\", $input.all().length);\n\nconst palavrasExcluir = [\n  'qualificar_leads',\n  'Workflow was started',\n  'Used tools',\n  '[qualificar_leads]',\n  '[used tools:',\n  'Input',\n  '[input:'\n];\n\nfunction contemPalavrasTecnicas(texto) {\n  const textoLower = texto.toLowerCase();\n  return palavrasExcluir.some(palavra =>\n    textoLower.includes(palavra.toLowerCase())\n  );\n}\n\nfunction sanitizeText(texto) {\n  return texto\n    // ── 1. Remove artefatos do agente ────────────────────────────────\n    .replace(/\\[.*?\\]/gs, '')                     // [xxx] → remove\n    .replace(/```[\\s\\S]*?```/g, '')               // blocos ```código``` → remove\n    .replace(/`[^`]*`/g, '')                      // `inline code` → remove\n\n    // ── 2. Corrige formatações malfeitas do agente ───────────────────\n    .replace(/\\*\\*(.+?)\\*\\*/gs, '*$1*')          // **texto** → *texto*\n    .replace(/\\\\([^\\\\\\n\"]{1,80})\\\\/g, '*$1*')    // \\texto\\ → *texto*\n    .replace(/_([^\\n_]{1,80})_/g, '*$1*')        // _texto_ → *texto*\n\n    // ── 2. Remove lixo invisível ─────────────────────────────────────\n    .replace(/\\r/g, '')\n    .replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F\\x7F]/g, '')\n\n    // ── 3. Normaliza aspas curly ─────────────────────────────────────\n    .replace(/[\"\"]/g, '\"')\n    .replace(/['']/g, \"'\")\n\n    // ── 4. Escapa para JSON string (ORDEM IMPORTA) ───────────────────\n    .replace(/\\\\/g, '\\\\\\\\')   // \\ → \\\\  (SEMPRE PRIMEIRO)\n    .replace(/\"/g, '\\\\\"')     // \" → \\\"\n    .replace(/\\t/g, '\\\\t')   // tab literal → \\t\n    .replace(/\\n/g, '\\\\n')   // newline literal → \\n\n\n    .trim();\n}\n\nfor (const item of $input.all()) {\n  const rawOutput = item.json.output ?? item.json.text ?? item.json.response ?? item.json.texto ?? item.json;\n  let aiData;\n\n  try {\n    if (typeof rawOutput === 'string') {\n      aiData = JSON.parse(rawOutput);\n    } else {\n      aiData = rawOutput;\n    }\n  } catch (err) {\n    aiData = { texto: String(rawOutput ?? ''), adicionais: {} };\n  }\n\n  // Se texto for array, junta tudo em uma string única\n  if (Array.isArray(aiData.texto)) {\n    const textoJunto = aiData.texto\n      .map(t => String(t).trim())\n      .filter(t => t && !contemPalavrasTecnicas(t))\n      .join('\\n');\n\n    if (textoJunto) {\n      results.push({ json: { texto: sanitizeText(textoJunto), adicionais: aiData.adicionais || {} } });\n    }\n    continue;\n  }\n\n  if (aiData && aiData.texto) {\n    const textoOriginal = String(aiData.texto);\n\n    // Remove aspas das pontas se existirem\n    const textoLimpo = textoOriginal\n      .replace(/^[\"'\"]|[\"'\"]$/g, '')\n      .trim();\n\n    if (contemPalavrasTecnicas(textoLimpo) || textoLimpo.length === 0) {\n      results.push({\n        json: {\n          texto: sanitizeText(\"Eu pedi para a responsável entrar em contato contigo, então já já ela te chama aqui, assim que possível para responder todas as suas dúvidas.\"),\n          adicionais: aiData.adicionais || {}\n        }\n      });\n    } else {\n      results.push({\n        json: {\n          texto: sanitizeText(textoLimpo),\n          adicionais: aiData.adicionais || {}\n        }\n      });\n    }\n  } else {\n    results.push(item);\n  }\n}\n\nconsole.log(\"OUTPUT COUNT:\", results.length);\nreturn results;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2448,
          -32
        ],
        "id": "a7794ae2-232e-4639-a437-0b704aa9d7b2",
        "name": "split_output"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "83f57801-29b2-4abf-8d37-d2926eaf2a39",
                "name": "texto",
                "value": "={{ (v => { try { v = JSON.parse(v); return v.texto ?? v; } catch(e){ return v; } })($json.output) }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2288,
          -32
        ],
        "id": "4c348a78-9191-49fb-a7a8-e9d684d82297",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://aplicativos-scheduler.trcjj4.easypanel.host/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer nRuZcbn7WmMKq5yqLBLtiQi1gNOhxALz"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"id\": \"{{ $('Contexto Geral').item.json.id }}_fup1\",\n  \"scheduleTo\": \"{{ $now.plus({ minutes: 19 }).toISO() }}\",\n  \"payload\": {\n    \"lead-id\": \"{{ $('Contexto Geral').item.json.id }}\",\n    \"tentativa\": \"1\",\n    \"timestamp\": \"{{ $now.toLocal().toISO() }}\",\n    \"to\": \"{{ $('Webhook').item.json.body.lead.phone }}\",\n    \"instrução\": \"TENTATIVA 1 (30min)\\n\\nOBJETIVO: Reativar leads que podem ter sido interrompidos momentaneamente.\\n\\nMENSAGEM:\\n\\n\\\"[Nome]?\\\"\\n\\nUtilize o nome do lead, caso não houver, mande um \\\"Oi, ta por aí?\\\"\\n\\nAPLICAÇÃO: Todos os estágios (QUALIFICACAO, PROTOCOLO, PRECO)\",\n    \"auth\": {\n      \"dinastia-token\": \"{{ $('Webhook').item.json.body.auth['dinastia-token'] }}\"\n    }\n  },\n  \"webhookUrl\": \"https://n8n-aplictech-editor.aplicgo.com/webhook/followUp-sdr-chain-960e56e8-1daf-4db0-aa35-9f76e9cf07d9\"\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3104,
          -32
        ],
        "id": "c84324dc-e338-4b46-824a-eb36a3e399f7",
        "name": "FollowUp",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "=https://aplicativos-scheduler.trcjj4.easypanel.host/messages/{{ $('Contexto Geral').item.json.id }}_fup1",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer nRuZcbn7WmMKq5yqLBLtiQi1gNOhxALz"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2784,
          -32
        ],
        "id": "dbf21050-26d4-4de7-845d-d191fa651d75",
        "name": "Delete Scheduler",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "amount": 1
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          2944,
          -32
        ],
        "id": "d3a55348-0f16-42f7-a341-ec996258ea74",
        "name": "Wait",
        "webhookId": "1ea157d1-6b6f-4555-94cc-9a156189b363"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "agente-secretaria-95551d82-80df-4b3e-a30f-c69b91ab0e5c",
          "authentication": "headerAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          560,
          -16
        ],
        "id": "e0787633-d120-4f58-bacd-e6dbf891ff17",
        "name": "Webhook",
        "webhookId": "95551d82-80df-4b3e-a30f-c69b91ab0e5c",
        "credentials": {
          "httpHeaderAuth": {
            "id": "ARda8IGDT2hRKvve",
            "name": "Aplic-Ai | WH"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n  type,\n  direction,\n  subject,\n  message,\n  ai_generated,\n  created_at,\n  model_used,\n  agente_id,\n  channel_data\nFROM interacoes\nWHERE lead_id = $1\nORDER BY created_at DESC\nLIMIT 20",
          "options": {
            "queryReplacement": "={{ $('config_padrao').item.json.body.lead_data.lead_id }}"
          }
        },
        "type": "n8n-nodes-base.postgresTool",
        "typeVersion": 2.6,
        "position": [
          2160,
          992
        ],
        "id": "ec081312-c416-4dfe-8ebc-f624eb562aa3",
        "name": "contexto_do_lead",
        "credentials": {
          "postgres": {
            "id": "0w4wNBvz8tuXc0ht",
            "name": "aplic_tech_postgres_clinic_mvp"
          }
        }
      },
      {
        "parameters": {
          "toolDescription": "Faz a transferência handoff do lead para o responsável selecionado. Utilizade sempre para transferir o atendimento.",
          "method": "POST",
          "url": "https://n8n-aplictech-editor.aplicgo.com/webhook/handoff-20142f7f-6b89-4f23-83a7-8089cd73cedd",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "target_agent",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Tipo: String, Obrigatório.\nIdentifica qual agente lógico deve assumir a conversa.\nVariáveis Disponíveis | Descrição:\n\"secretaria\" | Faz agendamentos ou verifica disponibilidade. Quando atendimento necessitar de marcar um horário, transfira para ela.\n\"recepção\" | Tira duvidas sobre consulta marcada, atendimento a pacientes em tratamento, responsáveis pela comunicação dos doutores e com pacientes.\n\"sdr\" | Faz atendimento comercial com foco em conversão de leads em agendamentos, sem script específicos. Atendimento mais abrangente.\n\"suporte\" | Está disponível para tirar dúvidas mais avançadas, dúvidas técnicas e atender situações não comerciais ou que fogem da alçada do contato comercial.\n\"roteador\" | Faz uma análise da conversa e define qual o agente mais indicado. Use quando não souber qual agente deve assumir a conversa.`, 'string') }}"
              },
              {
                "name": "nome_completo_cliente",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Tipo: String, Obrigatório.\nNome Completo do Cliente`, 'string') }}"
              },
              {
                "name": "preferencia_horario",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Tipo: String, Não Obrigatório.\nSe o lead tiver citado, indicar a preferencia de horário dele.`, 'string') }}"
              },
              {
                "name": "cidade_lead",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Tipo: String, Obrigatório.\nCidade de preferência do Lead para atendimento Presencial. Pode ser Ituiutaba, Uberlândia ou se for de cidade longe, inserir nome da cidade do lead com \"(online)\".`, 'string') }}"
              },
              {
                "name": "resumo_contexto",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Tipo: String estruturada, Obrigatório.\nResumo compacto da situação atual e resolução da conversa, útil para o próximo responsável.\nExemplo: \"Lead quer agendar quarta às 14h com Maria. Prefere período da tarde. Cidade Uberlândia.\"`, 'string') }}"
              },
              {
                "name": "motivo",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `Tipo: string, obrigatório.\nMotivo da execução do handoff.\n1-5 palavras.`, 'string') }}"
              },
              {
                "name": "mensagem_inicial",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', `=tipo: string (texto simples), Não obrigatório. Mensagem enviada ao lead quando o agente assumir. \nDeve ser texto puro, sem aspas duplas ou simples e sem caracteres que quebrem a string. \nPode conter variáveis no formato {variavel}. \nExemplo: Perfeito! Verificando o horário da {consultora_responsavel}, tenho disponível: {datas_disponiveis}.`, 'string') }}"
              },
              {
                "name": "lead.id",
                "value": "={{ $('Webhook').item.json.body.lead.id }}"
              },
              {
                "name": "lead.phone",
                "value": "={{ $('Webhook').item.json.body.lead.phone }}"
              },
              {
                "name": "lead.nome",
                "value": "={{ $('Webhook').item.json.body.lead.nome }}"
              },
              {
                "name": "mensagem.texto",
                "value": "={{ $('Webhook').item.json.body.mensagem.texto }}"
              },
              {
                "name": "mensagem.tipo",
                "value": "={{ $('Webhook').item.json.body.mensagem.tipo }}"
              },
              {
                "name": "mensagem.timestamp",
                "value": "={{ $('Webhook').item.json.body.mensagem.timestamp }}"
              },
              {
                "name": "=auth.dinastia-token",
                "value": "={{ $('Webhook').item.json.body.auth['dinastia-token'] }}"
              },
              {
                "name": "auth.instancia-nome",
                "value": "={{ $('Webhook').item.json.body.auth['instancia-nome'] }}"
              },
              {
                "name": "auth.inbox-id",
                "value": "={{ $('Webhook').item.json.body.auth['inbox-id'] }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          2224,
          192
        ],
        "id": "11aeac35-2b36-40be-86b9-efe593f9a744",
        "name": "handoff_setor"
      },
      {
        "parameters": {
          "endpointUrl": "https://n8n-aplictech-editor.aplicgo.com/mcp/clinicai/calendario/mcp",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
        "typeVersion": 1.1,
        "position": [
          2112,
          240
        ],
        "id": "8b08d44c-aedc-411f-bc19-82ad233d1d6e",
        "name": "mcp_calendario"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Contexto Geral').item.json.id }}",
          "tableName": "chats_calendario"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          1808,
          352
        ],
        "id": "531221ae-6e0e-45a6-a157-ad10e4368d35",
        "name": "memoria3",
        "credentials": {
          "postgres": {
            "id": "0w4wNBvz8tuXc0ht",
            "name": "aplic_tech_postgres_clinic_mvp"
          }
        }
      }
    ],
    "connections": {
      "AI Agent": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          []
        ]
      },
      "config_padrao": {
        "main": [
          [
            {
              "node": "Contexto Geral",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Contexto Geral": {
        "main": [
          [
            {
              "node": "Guardrails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Message": {
        "main": [
          [
            {
              "node": "Delete Scheduler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "historico_do_lead": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Guardrails": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Guardrails",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ],
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Gemini Flash 3": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "split_output": {
        "main": [
          [
            {
              "node": "Send Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "split_output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete Scheduler": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "FollowUp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "config_padrao",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "contexto_do_lead": {
        "ai_tool": [
          []
        ]
      },
      "handoff_setor": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "mcp_calendario": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "memoria3": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jesreel David Hobus",
    "name": "Version 796839c7",
    "description": "",
    "autosaved": true
  },
  "tags": []
}