workflows/wf1_3__webhook_de_ingestao.json
{
  "updatedAt": "2025-12-31T15:18:37.192Z",
  "createdAt": "2025-10-28T13:45:10.156Z",
  "id": "WBNvy0ny7pf0eRgG",
  "name": "WF1.3: Webhook de Ingestão",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novo-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7f78b595-bdab-43db-8aeb-7f48bf2561a7",
      "name": "Webhook Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -736,
        224
      ],
      "webhookId": "novo-lead"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// VALIDAÇÃO E NORMALIZAÇÃO DE DADOS\n// ============================================\n\nconst items = $input.all();\nconst validatedItems = [];\n\nfor (const item of items) {\n  let data;\n  \n  // Verifica se 'item.json.body' existe E se é um objeto com dados\n  if (item.json.body && Object.keys(item.json.body).length > 0) {\n    // Se sim, usa o objeto 'body' (como no seu caso atual)\n    data = item.json.body;\n  } else {\n    // Senão, usa o objeto 'json' principal (o formato antigo)\n    data = item.json;\n  }\n  \n  // ============================================\n  // 1. VALIDAÇÃO MÍNIMA OBRIGATÓRIA\n  // ============================================\n  \n  // Validar nome\n  if (!data.name && !data.fullName && !data.full_name) {\n    throw new Error('Campo \"name\" é obrigatório');\n  }\n  // Validar contato (email OU telefone)\n  if (!data.email && !data.phone && !data.phoneNumber && !data.phone_number) {\n    throw new Error('Email ou telefone é obrigatório');\n  }\n  \n  // ============================================\n  // 2. NORMALIZAÇÃO DE DADOS\n  // ============================================\n  \n  // Normalizar telefone\n  function normalizePhone(phone) {\n    if (!phone) return null;\n    \n    // Remove tudo exceto números\n    const cleaned = phone.toString().replace(/\\D/g, '');\n    \n    // Adiciona código do país se não tiver\n    if (cleaned.length === 11 && !cleaned.startsWith('55')) {\n      return '+55' + cleaned;\n    }\n    \n    if (cleaned.length === 10 && !cleaned.startsWith('55')) {\n      return '+55' + cleaned;\n    }\n    \n    if (!cleaned.startsWith('+')) {\n      return '+' + cleaned;\n    }\n    \n    return '+' + cleaned;\n  }\n  \n  // Construir tags\n  function buildTags(data) {\n    const tags = {};\n    \n    // Tags de interesse\n    if (data.interest || data.interesse) {\n      tags.interesse = data.interest || data.interesse;\n    }\n    \n    // Tags de origem\n    if (data.utm_source) {\n      tags.canal = data.utm_source;\n    }\n    \n    // Tags de urgência\n    if (data.urgency || data.urgencia) {\n      tags.urgencia = data.urgency || data.urgencia;\n    }\n    \n    // Tags customizadas\n    if (data.tags && typeof data.tags === 'object') {\n      Object.assign(tags, data.tags);\n    }\n    \n    // Meta tags\n    tags.created_via_webhook = true;\n    tags.webhook_timestamp = new Date().toISOString();\n    \n    return tags;\n  }\n  \n  // ============================================\n  // 3. OBJETO NORMALIZADO\n  // ============================================\n  \n  const leadId = $execution.id + '-' + Date.now(); // Temporário, será UUID no DB\n  \n  const normalized = {\n    // Identificação\n    leadId: leadId,\n    \n    // Dados pessoais (normalizar variações)\n    fullName: (data.fullName || data.full_name || data.name || '').trim(),\n    email: (data.email || '').toLowerCase().trim() || null,\n    phoneNumber: normalizePhone(data.phoneNumber || data.phone_number || data.phone || data.telefone),\n    \n    // Origem e rastreamento\n    source: data.source || data.origem || 'Webhook Direto',\n    utmSource: data.utm_source || data.utmSource,\n    utmMedium: data.utm_medium || data.utmMedium,\n    utmCampaign: data.utm_campaign || data.utmCampaign,\n    landingPage: data.landing_page || data.landingPage || data.page_url,\n    \n    // Metadados\n    tags: buildTags(data),\n    customFields: data.customFields || data.custom_fields || {}\n  };\n  \n  validatedItems.push({ json: normalized });\n}\n\nreturn validatedItems;"
      },
      "id": "70f39e90-ae1a-4d78-a90a-c204ab47ff65",
      "name": "Validar e Normalizar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        224
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    o.estado_inicial,\n    o.agente_padrao,\n    o.delay_min_minutes,\n    o.delay_max_minutes,\n    o.skip_weekends,\n    o.business_hours_only,\n    e.nome as estado_inicial_nome,\n    a.nome as agente_padrao_nome\nFROM origens_lead o\nLEFT JOIN estados_lead e ON o.estado_inicial = e.id\nLEFT JOIN agentes_config a ON o.agente_padrao = a.id\nWHERE o.nome = '{{ $json.customFields.parseJson().quiz_type }}' \n  AND o.ativo = true;",
        "options": {}
      },
      "id": "buscar-config-origem-123",
      "name": "Buscar Config Origem",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -352,
        224
      ],
      "credentials": {
        "postgres": {
          "id": "0w4wNBvz8tuXc0ht",
          "name": "aplic_tech_postgres_clinic_mvp"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Resultado bruto do \"Validar e Normalizar\"\nconst leadData = $('Validar e Normalizar').item.json;\n\n// Resultado bruto do \"Buscar Config Origem\"\nconst origemConfig = $input.item.json;\n\n// Retorno SEM processamento\nreturn {\n    json: {\n        ...leadData,\n        routing_metadata: origemConfig\n    }\n};\n"
      },
      "id": "enriquecer-payload-456",
      "name": "Enriquecer Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        224
      ]
    },
    {
      "parameters": {
        "mode": "exchange",
        "exchange": "clinic_events",
        "routingKey": "aquisicao.lead.criado",
        "options": {}
      },
      "id": "b534389f-e64f-489b-9c34-647e828e5f62",
      "name": "Publicar no RabbitMQ",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        0,
        224
      ],
      "credentials": {
        "rabbitmq": {
          "id": "IruJASyhbIKKogud",
          "name": "RabbitMQ aplic"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"status\": \"accepted\",\n    \"leadId\": $('Validar e Normalizar').item.json.leadId,\n    \"message\": \"Lead registrado com sucesso e sendo processado\",\n    \"timestamp\": $now.toISO()\n  }\n}}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "23368926-373a-4801-8b27-8f8ea66a030b",
      "name": "Responder Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        208,
        144
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n{\n  \"status\": \"error\",\n  \"error\": $json.error,\n  \"timestamp\": $now.toISO()\n}\n}}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "3ba72edb-5f69-4ca2-93e3-285bedbba56e",
      "name": "Responder Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        208,
        320
      ]
    }
  ],
  "connections": {
    "Webhook Lead": {
      "main": [
        [
          {
            "node": "Validar e Normalizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar e Normalizar": {
      "main": [
        [
          {
            "node": "Buscar Config Origem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Config Origem": {
      "main": [
        [
          {
            "node": "Enriquecer Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enriquecer Payload": {
      "main": [
        [
          {
            "node": "Publicar no RabbitMQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicar no RabbitMQ": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook Lead": [
      {
        "json": {
          "headers": {
            "host": "n8n-aplictech-editor.aplicgo.com",
            "user-agent": "axios/1.12.0",
            "content-length": "2715",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n-aplictech-editor.aplicgo.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "6215c90acf9b",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "fullName": "Maria Fátima de Oliveira ",
            "email": "",
            "phoneNumber": "5534999148026",
            "customFields": "{\"lead_id\":\"5c3a9af4-492a-4bbf-94f4-d7dd9d7f3f6b\",\"quiz_type\":\"diagnostico_v1\",\"dados_pessoais\":{\"nome\":\"Maria Fátima de Oliveira \",\"telefone\":\"5534999148026\",\"email\":\"\",\"cidade\":\"Uberlândia \"},\"dados_biometricos\":{\"peso_atual_kg\":70,\"altura_cm\":null,\"peso_desejado_kg\":60,\"diferenca_kg\":10,\"imc\":null,\"imc_categoria\":null},\"perfil_comportamental\":{\"momento_vida\":\"Quero emagrecer com rapidez e segurança\",\"maior_obstaculo\":\"Efeitos colaterais\",\"motivacao\":\"Ter mais disposição e energia no dia a dia|Voltar a gostar de me olhar no espelho|Cuidar da saúde antes que piore|Envelhecer bem, sem flacidez ou rebote|Manter o resultado que conquistei\",\"uso_suplementos\":null},\"experiencia_medicacao\":{\"historico\":\"Nunca usei, mas estou pensando em começar\"},\"preferencias_venda\":{\"orcamento_mensal\":\"Entre R$1.000 e R$2.000 por mês\",\"protocolo_interesse\":\"Somente MedicaçãoAvaliação médica + prescrição personalizada + medicação em casaIndicado para quem busca praticidade e segurança.\"},\"jornada_quiz\":{\"etapa_final\":11,\"completou_quiz\":true,\"webhooks_recebidos\":1,\"plataforma\":\"iPhone\",\"tempo_total_minutos\":0},\"resumo_original\":\"*Peso Atual (kg):* 70\\n*Peso Desejado (kg):* 60\\n*Motivação para mudar:* Ter mais disposição e energia no dia a dia|Voltar a gostar de me olhar no espelho|Cuidar da saúde antes que piore|Envelhecer bem, sem flacidez ou rebote|Manter o resultado que conquistei\\n*Histórico com injetáveis:* Nunca usei, mas estou pensando em começar\\n*Momento de vida atual:* Quero emagrecer com rapidez e segurança\\n*Maior obstáculo:* Efeitos colaterais\\n*Protocolo de interesse:* Somente MedicaçãoAvaliação médica + prescrição personalizada + medicação em casaIndicado para quem busca praticidade e segurança.\\n*Orçamento mensal:* Entre R$1.000 e R$2.000 por mês\",\"metadata\":{\"quiz_id\":\"5c3a9af4-492a-4bbf-94f4-d7dd9d7f3f6b\",\"dedup_key\":\"5534999148026_diagnostico_v1\",\"processado_em\":\"2025-12-30T19:51:23.085Z\"},\"inteligencia_vendas\":{\"score\":95,\"classificacao\":\"HOT\",\"estrategia_selecionada\":{\"tipo\":\"consultiva_fechamento\",\"tom\":\"motivador_urgente\",\"objetivo\":\"agendar_consulta\",\"primeira_mensagem\":\"Parabenize pela decisão de mudar. Use o obstáculo \\\"Efeitos colaterais\\\" para mostrar como a solução resolve isso.\",\"gatilho_mental\":\"compromisso\"},\"dicas_ia\":\"O lead tem IMC null. Obstáculo principal: Efeitos colaterais. Histórico: Nunca usei, mas estou pensando em começar.\"}}",
            "source": "InLead-Diagnostico"
          },
          "webhookUrl": "https://n8n-aplictech-editor.aplicgo.com/webhook/novo-lead",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "5de981e7-90c4-4895-ad7c-c7e969029537",
  "activeVersionId": "5de981e7-90c4-4895-ad7c-c7e969029537",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-28T13:45:10.156Z",
      "createdAt": "2025-10-28T13:45:10.156Z",
      "role": "workflow:owner",
      "workflowId": "WBNvy0ny7pf0eRgG",
      "projectId": "zIWzQf2ZTqYydzuc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-31T15:18:39.411Z",
    "createdAt": "2025-12-31T15:18:37.195Z",
    "versionId": "5de981e7-90c4-4895-ad7c-c7e969029537",
    "workflowId": "WBNvy0ny7pf0eRgG",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "novo-lead",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "7f78b595-bdab-43db-8aeb-7f48bf2561a7",
        "name": "Webhook Lead",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -736,
          224
        ],
        "webhookId": "novo-lead"
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// VALIDAÇÃO E NORMALIZAÇÃO DE DADOS\n// ============================================\n\nconst items = $input.all();\nconst validatedItems = [];\n\nfor (const item of items) {\n  let data;\n  \n  // Verifica se 'item.json.body' existe E se é um objeto com dados\n  if (item.json.body && Object.keys(item.json.body).length > 0) {\n    // Se sim, usa o objeto 'body' (como no seu caso atual)\n    data = item.json.body;\n  } else {\n    // Senão, usa o objeto 'json' principal (o formato antigo)\n    data = item.json;\n  }\n  \n  // ============================================\n  // 1. VALIDAÇÃO MÍNIMA OBRIGATÓRIA\n  // ============================================\n  \n  // Validar nome\n  if (!data.name && !data.fullName && !data.full_name) {\n    throw new Error('Campo \"name\" é obrigatório');\n  }\n  // Validar contato (email OU telefone)\n  if (!data.email && !data.phone && !data.phoneNumber && !data.phone_number) {\n    throw new Error('Email ou telefone é obrigatório');\n  }\n  \n  // ============================================\n  // 2. NORMALIZAÇÃO DE DADOS\n  // ============================================\n  \n  // Normalizar telefone\n  function normalizePhone(phone) {\n    if (!phone) return null;\n    \n    // Remove tudo exceto números\n    const cleaned = phone.toString().replace(/\\D/g, '');\n    \n    // Adiciona código do país se não tiver\n    if (cleaned.length === 11 && !cleaned.startsWith('55')) {\n      return '+55' + cleaned;\n    }\n    \n    if (cleaned.length === 10 && !cleaned.startsWith('55')) {\n      return '+55' + cleaned;\n    }\n    \n    if (!cleaned.startsWith('+')) {\n      return '+' + cleaned;\n    }\n    \n    return '+' + cleaned;\n  }\n  \n  // Construir tags\n  function buildTags(data) {\n    const tags = {};\n    \n    // Tags de interesse\n    if (data.interest || data.interesse) {\n      tags.interesse = data.interest || data.interesse;\n    }\n    \n    // Tags de origem\n    if (data.utm_source) {\n      tags.canal = data.utm_source;\n    }\n    \n    // Tags de urgência\n    if (data.urgency || data.urgencia) {\n      tags.urgencia = data.urgency || data.urgencia;\n    }\n    \n    // Tags customizadas\n    if (data.tags && typeof data.tags === 'object') {\n      Object.assign(tags, data.tags);\n    }\n    \n    // Meta tags\n    tags.created_via_webhook = true;\n    tags.webhook_timestamp = new Date().toISOString();\n    \n    return tags;\n  }\n  \n  // ============================================\n  // 3. OBJETO NORMALIZADO\n  // ============================================\n  \n  const leadId = $execution.id + '-' + Date.now(); // Temporário, será UUID no DB\n  \n  const normalized = {\n    // Identificação\n    leadId: leadId,\n    \n    // Dados pessoais (normalizar variações)\n    fullName: (data.fullName || data.full_name || data.name || '').trim(),\n    email: (data.email || '').toLowerCase().trim() || null,\n    phoneNumber: normalizePhone(data.phoneNumber || data.phone_number || data.phone || data.telefone),\n    \n    // Origem e rastreamento\n    source: data.source || data.origem || 'Webhook Direto',\n    utmSource: data.utm_source || data.utmSource,\n    utmMedium: data.utm_medium || data.utmMedium,\n    utmCampaign: data.utm_campaign || data.utmCampaign,\n    landingPage: data.landing_page || data.landingPage || data.page_url,\n    \n    // Metadados\n    tags: buildTags(data),\n    customFields: data.customFields || data.custom_fields || {}\n  };\n  \n  validatedItems.push({ json: normalized });\n}\n\nreturn validatedItems;"
        },
        "id": "70f39e90-ae1a-4d78-a90a-c204ab47ff65",
        "name": "Validar e Normalizar",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -528,
          224
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    o.estado_inicial,\n    o.agente_padrao,\n    o.delay_min_minutes,\n    o.delay_max_minutes,\n    o.skip_weekends,\n    o.business_hours_only,\n    e.nome as estado_inicial_nome,\n    a.nome as agente_padrao_nome\nFROM origens_lead o\nLEFT JOIN estados_lead e ON o.estado_inicial = e.id\nLEFT JOIN agentes_config a ON o.agente_padrao = a.id\nWHERE o.nome = '{{ $json.customFields.parseJson().quiz_type }}' \n  AND o.ativo = true;",
          "options": {}
        },
        "id": "buscar-config-origem-123",
        "name": "Buscar Config Origem",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          -352,
          224
        ],
        "credentials": {
          "postgres": {
            "id": "0w4wNBvz8tuXc0ht",
            "name": "aplic_tech_postgres_clinic_mvp"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Resultado bruto do \"Validar e Normalizar\"\nconst leadData = $('Validar e Normalizar').item.json;\n\n// Resultado bruto do \"Buscar Config Origem\"\nconst origemConfig = $input.item.json;\n\n// Retorno SEM processamento\nreturn {\n    json: {\n        ...leadData,\n        routing_metadata: origemConfig\n    }\n};\n"
        },
        "id": "enriquecer-payload-456",
        "name": "Enriquecer Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -176,
          224
        ]
      },
      {
        "parameters": {
          "mode": "exchange",
          "exchange": "clinic_events",
          "routingKey": "aquisicao.lead.criado",
          "options": {}
        },
        "id": "b534389f-e64f-489b-9c34-647e828e5f62",
        "name": "Publicar no RabbitMQ",
        "type": "n8n-nodes-base.rabbitmq",
        "typeVersion": 1,
        "position": [
          0,
          224
        ],
        "credentials": {
          "rabbitmq": {
            "id": "IruJASyhbIKKogud",
            "name": "RabbitMQ aplic"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{\n  {\n    \"status\": \"accepted\",\n    \"leadId\": $('Validar e Normalizar').item.json.leadId,\n    \"message\": \"Lead registrado com sucesso e sendo processado\",\n    \"timestamp\": $now.toISO()\n  }\n}}",
          "options": {
            "responseCode": 202
          }
        },
        "id": "23368926-373a-4801-8b27-8f8ea66a030b",
        "name": "Responder Sucesso",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          208,
          144
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{\n{\n  \"status\": \"error\",\n  \"error\": $json.error,\n  \"timestamp\": $now.toISO()\n}\n}}",
          "options": {
            "responseCode": 400
          }
        },
        "id": "3ba72edb-5f69-4ca2-93e3-285bedbba56e",
        "name": "Responder Erro",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          208,
          320
        ]
      }
    ],
    "connections": {
      "Webhook Lead": {
        "main": [
          [
            {
              "node": "Validar e Normalizar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar e Normalizar": {
        "main": [
          [
            {
              "node": "Buscar Config Origem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Config Origem": {
        "main": [
          [
            {
              "node": "Enriquecer Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enriquecer Payload": {
        "main": [
          [
            {
              "node": "Publicar no RabbitMQ",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Publicar no RabbitMQ": {
        "main": [
          [
            {
              "node": "Responder Sucesso",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Responder Erro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jesreel David Hobus",
    "name": "Version 5de981e7",
    "description": "",
    "autosaved": false
  },
  "tags": []
}